<form  *ngIf="delete_template==0" #f="ngForm" (ngSubmit)="submitMedia()" [formGroup]="mediaForm" novalidate autocomplete="off">
	<div mat-dialog-content>
		<div class="container">			
			<div >
                <div class="mt-30">
					<mat-form-field class="col-sm-12">
						<label for="image" class="full-width">Template Name</label>
					    <input matInput [formControl]="mediaForm.get('template_name')" type="text" required>					    
					</mat-form-field>
                 	<small class="url-error" *ngIf="mediaForm.get('template_name').value && mediaForm.get('template_name').invalid">
					    Not a valid Template Name
					</small>                  
                </div>
			</div>			
		</div>
	</div>
	<div class="mt-30 mb-0-i text-center">
		<button type="submit" [disabled]="mediaForm.invalid" class="btn back-green color-white mr-10">APPLY</button>
	  	<button type="button" (click)="onNoClick()" class="btn back-pink color-white">CANCEL</button>
	</div>
</form>

<div *ngIf="delete_template==1">
	<div mat-dialog-content>
		<div class="container">
			<p class="font-20 text-center mt-40 mb-40">
		    	Are you sure you want to delete this template?
		    </p>
		    <p class="mb-40 text-center">
		    	<a class="btn back-green color-white font-20 mr-10" (click)="deleteTemplate('Y')">YES</a>
				<a class="btn back-pink color-white font-20" (click)="onNoClick()">NO</a>
		    </p>
		</div>
	</div>
</div>

<!-- include loader -->
<app-loader></app-loader>