<div class="login-page">
	<div class="row mg-0 full-height">
		<div class="col-sm-3 full-height p-0 form-signin">
			<div class="row mg-0 full-height valign-center">
				<div class="col-sm-12">
					<h4 class="text-center"> SIGN IN TO </h4>
					<h2 class="text-center mb-10 color-blue"> DIGITAL SIGNAGE </h2>
					<!-- <img src="assets/img/login-logo.jpg" style="width: 100%"> -->
					<div class="text-center">
						<span class="icon-seperator">
							<mat-icon class="color-pink font-40">account_circle</mat-icon>	
						</span>
					</div>	
					<hr>
			  		<form #f="ngForm" (ngSubmit)="Login()" [formGroup]="LoginForm" novalidate autocomplete="off" class="mt-30">
						<div class="example-container">
						  	<mat-form-field 
						  	[hideRequiredMarker]="LoginForm.get('username').value"
						  	required
						  	>
					          <input matInput 
					          	type="text" 
					          	name="username" 
					          	placeholder="Username"
					          	formControlName="username" 
					          	[formControl]="LoginForm.get('username')">              
					        </mat-form-field>

					        <mat-form-field
					        [hideRequiredMarker]="LoginForm.get('password').value"
							required class="mb-40"
					        >
					          <input matInput 
					          	type="password" 
					          	name="password" 
					          	placeholder="Password"
					          	formControlName="password" 
					          	[formControl]="LoginForm.get('password')">              
					        </mat-form-field>
					        <button type="submit" [disabled]="LoginForm.invalid" class="btn back-light-blue color-blue font-20"> LOGIN </button>
						</div>
					</form>	
				</div>
			</div>
		</div>
	</div>
</div>