<div class="container-fluid">
	<div class="dash-container">
		<form autocomplete="off" #editPlaylistForm="ngForm" (ngSubmit)="onSubmit(editPlaylistForm.value)" novalidate autocomplete="off">
			<div class="row class mg-0">
				<div class="col-sm-12 col-md-6 col-lg-7 playlist_title">
					<div style="position: relative;" class="title">
						<mat-form-field>
			              	<input matInput name="name" #name="ngModel" placeholder="Playlist Title" [class.is-invalid]="name.invalid && name.touched" ngModel required [(ngModel)]="playlistInfo.playlist.name">
			              	<mat-error *ngIf="name.invalid || name.untouched">Enter Playlist Title</mat-error>
			            </mat-form-field>
			            <span class="fa fa-pencil color-pink"> </span>
			        </div>
			        <div style="position: relative;" class="playlist_desc">
			            <mat-form-field>
			              	<textarea matInput name="description" #description="ngModel" placeholder="Playlist Description" [class.is-invalid]="description.invalid && description.touched" ngModel required [(ngModel)]="playlistInfo.playlist.description"></textarea>
			              	<mat-error *ngIf="description.invalid || description.untouched">Enter Playlist Description</mat-error>
			            </mat-form-field>
			            <span class="fa fa-pencil color-pink"> </span>
			        </div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-5 text-right">
					<a class="btn back-pink color-white mr-10 font-20" (click)="backClicked()">BACK</a>
					<button type="submit" [disabled]="editPlaylistForm.form.invalid" class="btn back-green color-white font-20 mr-10">SAVE</button>
					<input type="hidden" name="playlist_id" #playlist_id="ngModel" ngModel [(ngModel)]="playlistInfo.playlist.playlist_id">
					<a class="btn back-light-blue color-blue font-20" (click)="printPlaylistsInfo()">PRINT</a>
				</div>
			</div>
			<div class="playlist-info p-15">
				<p class="mg-0 font-20">
					Drag and drop the slides into the order you desire. Hover over the slide and click the gear to edit, the X to temporarily hide, and the trashcan to delete. Slides with a border are scheduled to only display at certain times. 
				</p>
			</div>
			<hr class="mt-10 mb-30" />
			<div class="row mg-0 example-container" cdkDropListGroup>
				<div cdkDropList [cdkDropListEnterPredicate]="enter" (cdkDropListDropped)="drop()" #placeholder></div>
				<div class="col-sm-3 mb-20" *ngFor="let slide of playlistInfo.playlist.slides;trackBy:trackBySlide" cdkDropList [cdkDropListEnterPredicate]="enter" (cdkDropListDropped)="drop()">
					<div class="editor-grid-inner" cdkDrag [ngClass]="(slide.scheduled == 'Y') ? 'slide_scheduled' : ''">
						<div class="editor-tools color-white">
							<span class="fa fa-clone mr-10" (click)="copySlide(slide.slide_id)" title="Copy Slide"></span>
							<a (click)="editSlidePage(slide.slide_id)"  class="color-white" title="Edit Slide">
								<span class="fa fa-cog mr-10"></span>
							</a>
							<span class="fa fa-times-circle-o mr-10" (click)="openHideShowDialog(slide.slide_id, slide.status)"  *ngIf="slide.status == 'A'" title="Hide Slide"></span>
							<span class="fa fa-check-circle-o mr-10" (click)="openHideShowDialog(slide.slide_id, slide.status)" *ngIf="slide.status == 'I'" title="Show Slide"> </span>
							<span *ngIf="slide.template_id != 'tmpl-event'" class="fa fa-trash-o" (click)="openDelteDialog(slide.slide_id)" title="Remove Slide"></span>
						</div>
						<div style="background-color: #f5f5f5;">
							<img [src]="slide.cover_image ? (mediaUrl+slide.cover_image+'?'+dateTemp) : slide_thumb" style="width: 100%;" alt="{{slide.title}}">
						</div>
						<p class="m-0 back-grey text-center font-bold" style="padding: 5px 15px;">
							{{ (slide.title.length>18)? (slide.title | slice:0:18)+'..':(slide.title) }} 
						</p>
						<span class="inactive_overlay" *ngIf="slide.status == 'I'"></span>
					</div>
				</div>

				<div class="col-sm-3 mb-20">
					<div class="editor-grid-inner add_slide_box">
						<a [routerLink]="['/add-slide', {playlist:playlistInfo.playlist.playlist_id}]">
							<span class="fa fa-plus color-grey font-50"></span>
						</a>
						<p class="m-0 back-grey text-center font-bold" style="padding: 5px 15px;"> Add New Slide</p>
					</div>
				</div>
			</div>

			<!-- <div id='external-events'>
			  <p>
			    <strong>Draggable Events</strong>
			  </p>
			  <div class='fc-event'>My Event 1</div>
			  <div class='fc-event'>My Event 2</div>
			  <div class='fc-event'>My Event 3</div>
			  <div class='fc-event'>My Event 4</div>
			  <div class='fc-event'>My Event 5</div>
			</div> -->

			<!-- <div id='draggable-el' class='cool-event'>drag me</div> -->
			<!-- <div id="external-events"> -->
				<!-- <div class="fc-event" id='draggable-el'
				 *ngFor="let event of externalEvents" [attr.data-event]="getEvent(event)">{{event.title}}</div> -->
			<!-- </div> -->
			<!-- <div id='draggable-el' data-event='{ "title": "my event", "duration": "02:00" }'>drag me</div> -->

			<hr class="mb-30 mt-0" />
			<div class="slide-options">
				<div class="row mg-0 mb-30">
					<div class="col-sm-4"> 
						<p class="mb-20 font-20">Display Scrolling Announcement:</p>
					  	<mat-radio-group name="scroll_announcement" #scroll_announcement="ngModel" [class.is-invalid]="scroll_announcement.invalid && scroll_announcement.touched" ngModel required [(ngModel)]="playlistInfo.playlist.scroll_announcement">
						  	<mat-radio-button value="Y" style="display: inline-block !important; margin-right: 15px;">Yes</mat-radio-button>
						  	<mat-radio-button value="N" style="display: inline-block !important;">No</mat-radio-button>
						  	<mat-error *ngIf="scroll_announcement.invalid && scroll_announcement.untouched">Select display scrolling announcement</mat-error>
						</mat-radio-group>
					</div>
					<div class="col-sm-4"> 
						<p class="mb-20 font-20">Display Community footer:</p>
					  	<mat-radio-group name="footer_text" #footer_text="ngModel" [class.is-invalid]="footer_text.invalid && footer_text.touched" ngModel required [(ngModel)]="playlistInfo.playlist.footer_text">
						  	<mat-radio-button value="Y" style="display: inline-block !important; margin-right: 15px;">Yes</mat-radio-button>
				            <mat-radio-button value="N" style="display: inline-block !important;">No</mat-radio-button>
				            <mat-error *ngIf="footer_text.invalid && footer_text.untouched">Select display community footer</mat-error>
						</mat-radio-group>
					</div>
					<div class="col-sm-4">
						<p class="mb-20 font-20">See Slide Schedule Calendar:</p>
						<mat-radio-group name="assign_calendar" #assign_calendar="ngModel" [class.is-invalid]="assign_calendar.invalid && assign_calendar.touched" ngModel required [(ngModel)]="playlistInfo.playlist.assign_calendar">
						  	<mat-radio-button value="Y" (change)="isScheduledCheck('Y')" style="display: inline-block !important; margin-right: 15px;"> Yes </mat-radio-button>
						  	<mat-radio-button value="N" (change)="isScheduledCheck('N')" style="display: inline-block !important;"> No </mat-radio-button>
						  	<mat-error *ngIf="assign_calendar.invalid && assign_calendar.untouched">Select schedule calendar</mat-error>
						</mat-radio-group>
					</div>
				</div>
			</div>
			
			<div class="calendar-options mt-20" *ngIf="calendarOptions" [hidden]="!isScheduled">
				<hr class="mb-40" />
			    <ng-fullcalendar #ucCalendar [options]="calendarOptions" [(eventsModel)]="events" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)" (eventResize)="updateEvent($event.detail)" (eventRender)="eventrender($event.detail)"></ng-fullcalendar>
			</div>
		</form>
	</div>
</div>