<div class="slide-print-dialog">	
	<div mat-dialog-actions>
		<h1 mat-dialog-title class="color-white">Slide Preview</h1>
		<div class="slide-links">
			<button mat-button (click)="onClose()" class="back-pink color-white no-border"> CLOSE </button>
		</div>
	</div>
	<div mat-dialog-content id="printContents" [ngClass]="previewData.prev_type == '3' ? 'autoscroll' : 'hidescroll' " style="position: relative;">
		<div class="print_modal1 front-modal" [ngClass]="
			((hasFooter && hasAnnouncement) || custFooterValue == 'T') ? 'has-fa' :
			((hasFooter && !hasAnnouncement) || custFooterValue == 'F') ? 'has-f' :
			((!hasFooter && hasAnnouncement) || custFooterValue == 'A') ? 'has-a' : 'has-n' " >
			<div id="slideComponent" class="slide slide-fade" *ngIf="tempSlides && previewData.prev_type == '1'">
			  <div class="slide-inner full-height">
			    <div class="slide-item full-height" *ngFor="let slide of tempSlides; trackBy:trackBySlide let i = index" [ngClass]="isSelected(i)">
			      <app-slide [slidedata]="slide"></app-slide>
			    </div>
			  </div>
			  <a class="slide-control-prev" (click)="prevSlide()">
			    <span class="slide-control-prev-icon inline-block-middle" aria-hidden="true">
			    	<mat-icon class="color-white font-20">keyboard_arrow_left</mat-icon>
			    </span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="slide-control-next" (click)="nextSlide()">
			    <span class="slide-control-next-icon inline-block-middle" aria-hidden="true">
			    	<mat-icon class="color-white font-20">keyboard_arrow_right</mat-icon>
			    </span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
			<div #processContainer></div>
			<div *ngIf="showCustomPrev">
				<app-preview-footer [footerStatus]="custFooterValue"></app-preview-footer>
			</div>
			<div class="home-footer" [hidden]="(previewData.prev_type == '2' && (!hasFooter || !hasAnnouncement))">
				<div class="footer-section">
					<div class="scroll_announcement" [hidden]="!hasAnnouncement">
						<div #announcementContainer></div>
					</div>
					<div class="footer_text" [hidden]="!hasFooter">
						<div #footerContainer></div>
					</div>
				</div>
			</div>
		</div>

		<div id="slide_thumbs" *ngIf="previewData.prev_type == 3">
			<div class="row mg-0 mt-80" *ngIf="!tempThumb?.length">
				<div class="col-sm-12">
			        <p>No slides found.</p>
			    </div>
			</div>
		    <div class="row mg-0 mt-80">
				<div class="col-sm-6 col-md-4 col-lg-3 mb-20" *ngFor="let slide of tempThumb">
					<div style="background-color: #f5f5f5;">
						<img [defaultImage]="blurDefault" [errorImage]="noimageDefault" [lazyLoad]="slide ? mediaUrl+slide+'?'+dateTemp : noimageDefault" [offset]="offset" style="width: 100%; height: auto;" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>