<!-- Add / edit slide -->

<!-- Layout 1 -->
<div class="row back-white m-0 full-height template-event" *ngIf="type == 'add' && templatedata.layout_id == 'template_one'">
	<div  class="col-sm-3 bg-grey text-right" 
		[style.background-color]="templatedata.leftcolsettings.bgtype=='bgcolor' ? templatedata.leftcolsettings.bgcolor : ''" 

		[style.background-image]="(templatedata.leftcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.leftcolsettings.bgimage+'?'+dateTemp):''" 

		[style.background-repeat]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgrepeat : ''" 
		[style.background-size]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgsize : ''"
		[style.background-position]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgposition : ''">
		<a data-html2canvas-ignore="true" (click)="openDialog('left',false)" class="color-white btn font-20 has-shadow p-0 slide-settings">
			<i class="fa fa-cog"></i>
		</a>
	</div>
	<div class="col-sm-9 p-15"
		[style.background-color]="templatedata.rightcolsettings.bgtype=='bgcolor' ? templatedata.rightcolsettings.bgcolor : ''" 

		[style.background-image]="(templatedata.rightcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.rightcolsettings.bgimage+'?'+dateTemp):''" 

		[style.background-repeat]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgrepeat : ''" 
		[style.background-size]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgsize : ''"
		[style.background-position]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgposition : ''">
		<a data-html2canvas-ignore="true" (click)="openDialog('right')" class="color-white btn font-20 has-shadow p-0 slide-settings">
			<i class="fa fa-cog"></i>
		</a>
		<a style="margin-right: 25px;" data-html2canvas-ignore="true" href="javaSript:void(0)" (click)="changeTemplate()" class="color-white btn font-20 has-shadow p-0 slide-settings">
			<mat-icon class="material-icons-margin">developer_board</mat-icon>
		</a>
		<p class="m-0 slide_title_1" [style.color]="this.templatedata.rightcolsettings.txtcolor">
			<span>{{templatedata.event_start_date | date:'EEEE MM/d'}} </span>
			<span>{{templatedata.event_start_time | lowercase | trimspace}} - </span>
			<span *ngIf="diffEvent">{{templatedata.event_end_date | date:'EEEE MM/d'}} </span>
			<span>{{(templatedata.event_end_time) ? (templatedata.event_end_time | lowercase | trimspace) : (templatedata.event_start_time | lowercase | trimspace)}}</span>
		</p>
		<h3 class="mt-0 slide_title_2" [style.color]="this.templatedata.rightcolsettings.txtcolor"> 
			<span [style.border-color]="this.templatedata.rightcolsettings.txtcolor" style="border-width: 2px; border-style: solid; display: inline-block; padding: 0px 10px;"> 
				{{templatedata.event_title}}
			</span>
		</h3>
		<p class="m-0" [style.color]="this.templatedata.rightcolsettings.txtcolor">{{templatedata.event_location}}</p>
		<div class="slide_event_desc slide_content" [innerHTML]="templatedata.event_desc" [style.color]="this.templatedata.rightcolsettings.txtcolor"></div> 
	</div>
</div>

<!-- Layout 2 -->
<div class="row back-white m-0 full-height template-event" *ngIf="type == 'add' && templatedata.layout_id == 'template_two'">

	<div class="col-sm-12 p-15"
		[style.background-color]="templatedata.rightcolsettings.bgtype=='bgcolor' ? templatedata.rightcolsettings.bgcolor : ''" 

		[style.background-image]="(templatedata.rightcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.rightcolsettings.bgimage+'?'+dateTemp):''" 

		[style.background-repeat]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgrepeat : ''" 
		[style.background-size]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgsize : ''"
		[style.background-position]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgposition : ''">
		<a data-html2canvas-ignore="true" (click)="openDialog('right')" class="color-white btn font-20 has-shadow p-0 slide-settings">
			<i class="fa fa-cog"></i>
		</a>
		<a style="margin-right: 25px;" data-html2canvas-ignore="true" href="javaSript:void(0)" (click)="changeTemplate()" class="color-white btn font-20 has-shadow p-0 slide-settings">
			<mat-icon class="material-icons-margin">developer_board</mat-icon>
		</a>
		<h3 class="mt-0 slide_title_2" [style.color]="this.templatedata.rightcolsettings.txtcolor"> 
			<span [style.border-color]="this.templatedata.rightcolsettings.txtcolor" style="border-width: 2px; border-style: solid; display: inline-block; padding: 0px 10px;"> 
				{{templatedata.event_title}}
			</span>
		</h3>
		<p class="m-0 slide_title_1" [style.color]="this.templatedata.rightcolsettings.txtcolor">
			<span>{{templatedata.event_start_date | date:'EEEE MM/d'}} </span>
			<span>{{templatedata.event_start_time | lowercase | trimspace}} - </span>
			<span *ngIf="diffEvent">{{templatedata.event_end_date | date:'EEEE MM/d'}} </span>
			<span>{{(templatedata.event_end_time) ? (templatedata.event_end_time | lowercase | trimspace) : (templatedata.event_start_time | lowercase | trimspace)}}</span>
		</p>
		<p class="m-0" [style.color]="this.templatedata.rightcolsettings.txtcolor">{{templatedata.event_location}}</p>
		<div class="slide_event_desc slide_content" [innerHTML]="templatedata.event_desc" [style.color]="this.templatedata.rightcolsettings.txtcolor"></div> 
	</div>
</div>

<!-- Layout 3 -->
<div class="row back-white m-0 full-height template-event" *ngIf="type == 'add' && templatedata.layout_id == 'template_three'">

	<div class="col-sm-12 p-15"
		[style.background-color]="templatedata.rightcolsettings.bgtype=='bgcolor' ? templatedata.rightcolsettings.bgcolor : ''" 

		[style.background-image]="(templatedata.rightcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.rightcolsettings.bgimage+'?'+dateTemp):''" 

		[style.background-repeat]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgrepeat : ''" 
		[style.background-size]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgsize : ''"
		[style.background-position]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgposition : ''">
		<a data-html2canvas-ignore="true" (click)="openDialog('right')" class="color-white btn font-20 has-shadow p-0 slide-settings">
			<i class="fa fa-cog"></i>
		</a>
		<a style="margin-right: 25px;" data-html2canvas-ignore="true" href="javaSript:void(0)" (click)="changeTemplate()" class="color-white btn font-20 has-shadow p-0 slide-settings">
			<mat-icon class="material-icons-margin">developer_board</mat-icon>
		</a>
		<h3 class="mt-0 slide_title_2" [style.color]="this.templatedata.rightcolsettings.txtcolor"> 
			<span [style.border-color]="this.templatedata.rightcolsettings.txtcolor" style="border-width: 2px; border-style: solid; display: inline-block; padding: 0px 10px;"> 
				{{templatedata.event_title}}
			</span>
		</h3>
		<p class="m-0 slide_title_1" [style.color]="this.templatedata.rightcolsettings.txtcolor">
			<span>{{templatedata.event_start_date | date:'EEEE MM/d'}} </span>
			<span>{{templatedata.event_start_time | lowercase | trimspace}} - </span>
			<span *ngIf="diffEvent">{{templatedata.event_end_date | date:'EEEE MM/d'}} </span>
			<span>{{(templatedata.event_end_time) ? (templatedata.event_end_time | lowercase | trimspace) : (templatedata.event_start_time | lowercase | trimspace)}}</span>
		</p>
		<p class="m-0" [style.color]="this.templatedata.rightcolsettings.txtcolor">{{templatedata.event_location}}</p>

		<div class="row right-size">
			<div class="col-sm-7">
				<div class="slide_event_desc slide_content" [innerHTML]="templatedata.event_desc" [style.color]="this.templatedata.rightcolsettings.txtcolor"></div> 
			</div>
			<div  class="col-sm-5 bg-grey text-right height-section" 
			[style.background-color]="templatedata.leftcolsettings.bgtype=='bgcolor' ? templatedata.leftcolsettings.bgcolor : ''" 

			[style.background-image]="(templatedata.leftcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.leftcolsettings.bgimage+'?'+dateTemp):''" 

			[style.background-repeat]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgrepeat : ''" 
			[style.background-size]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgsize : ''"
			[style.background-position]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgposition : ''">
				<a data-html2canvas-ignore="true" (click)="openDialog('left',false)" class="color-white btn font-20 has-shadow p-0 slide-settings">
					<i class="fa fa-cog"></i>
				</a>
			</div>
		</div>

	</div>
</div>

<!-- Layout 4 -->
<div class="row back-white m-0 full-height template-event" *ngIf="type == 'add' && templatedata.layout_id == 'template_four'">

    <div class="col-sm-12 p-15" [style.background-color]="templatedata.rightcolsettings.bgtype=='bgcolor' ? templatedata.rightcolsettings.bgcolor : ''" [style.background-image]="(templatedata.rightcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.rightcolsettings.bgimage+'?'+dateTemp):''" [style.background-repeat]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgrepeat : ''" [style.background-size]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgsize : ''" [style.background-position]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgposition : ''">
        <a data-html2canvas-ignore="true" (click)="openDialog('right')" class="color-white btn font-20 has-shadow p-0 slide-settings">
            <i class="fa fa-cog"></i>
        </a>
        <a style="margin-right: 25px;" data-html2canvas-ignore="true" href="javaSript:void(0)" (click)="changeTemplate()" class="color-white btn font-20 has-shadow p-0 slide-settings">
			<mat-icon class="material-icons-margin">developer_board</mat-icon>
		</a>
        <h3 class="mt-0 slide_title_2" [style.color]="this.templatedata.rightcolsettings.txtcolor"> 
			<span [style.border-color]="this.templatedata.rightcolsettings.txtcolor" style="border-width: 2px; border-style: solid; display: inline-block; padding: 0px 10px;"> 
				{{templatedata.event_title}}
			</span>
		</h3>
        <p class="m-0 slide_title_1" [style.color]="this.templatedata.rightcolsettings.txtcolor">
            <span>{{templatedata.event_start_date | date:'EEEE MM/d'}} </span>
            <span>{{templatedata.event_start_time | lowercase | trimspace}} - </span>
            <span *ngIf="diffEvent">{{templatedata.event_end_date | date:'EEEE MM/d'}} </span>
            <span>{{(templatedata.event_end_time) ? (templatedata.event_end_time | lowercase | trimspace) : (templatedata.event_start_time | lowercase | trimspace)}}</span>
        </p>
        <p class="m-0" [style.color]="this.templatedata.rightcolsettings.txtcolor">{{templatedata.event_location}}</p>

        <div class="row left-size">
            <div class="col-sm-5 bg-grey text-right height-section" [style.background-color]="templatedata.leftcolsettings.bgtype=='bgcolor' ? templatedata.leftcolsettings.bgcolor : ''" [style.background-image]="(templatedata.leftcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.leftcolsettings.bgimage+'?'+dateTemp):''" [style.background-repeat]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgrepeat : ''" [style.background-size]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgsize : ''" [style.background-position]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgposition : ''">
                <a data-html2canvas-ignore="true" (click)="openDialog('left',false)" class="color-white btn font-20 has-shadow p-0 slide-settings">
                    <i class="fa fa-cog"></i>
                </a>
            </div>
            <div class="col-sm-7">
                <div class="slide_event_desc slide_content" [innerHTML]="templatedata.event_desc" [style.color]="this.templatedata.rightcolsettings.txtcolor"></div>
            </div>

        </div>

    </div>
</div>

<!-- End : Add / edit slide -->

<!-- Preview / Print -->
<div class="print-div printable_div full-height" *ngIf="type == 'print' || type == 'preview'" [ngClass]="( moreHeight ) ? 'portrait_mode' : ''">
    <div class="back-white printable_div_trans template-event full-height" [ngClass]="
		(type == 'print') ?
		(scroll_announcement.status == 'Y' && community_footer.status == 'Y') ? 'has-footer-announce' : 
		(scroll_announcement.status == 'N' && community_footer.status == 'Y') ? 'has-single-footer' : 
		(scroll_announcement.status == 'Y' && community_footer.status == 'N') ? 'has-single-announce' : ''
		: ''">
        <div class="row m-0 main-section full-height" *ngIf="is_valide == 'yes'" >
            
            <!-- Layout 1 -->
			
				<div  class="col-sm-3 col-left-with-bg bg-grey text-right" 
					[style.background-color]="templatedata.leftcolsettings.bgtype=='bgcolor' ? templatedata.leftcolsettings.bgcolor : ''" 

					[style.background-image]="(templatedata.leftcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.leftcolsettings.bgimage+'?'+dateTemp):''" 

					[style.background-repeat]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgrepeat : ''" 
					[style.background-size]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgsize : ''"
					[style.background-position]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgposition : ''"
					appBackgroundImageLoaded 
					(imageLoaded)="lefttransvisibility='visible'"
					*ngIf="templatedata.layout_id == 'template_one'">
					<div *ngIf="templatedata.leftcolsettings.bgtype=='bgimage'" [ngClass]="lefttransvisibility=='hidden'?'show':'hide'" class="preloader 1"></div>	
				</div>
				<div class="col-sm-9 p-15 col-right-with-bg "
					[style.background-color]="templatedata.rightcolsettings.bgtype=='bgcolor' ? templatedata.rightcolsettings.bgcolor : ''" 

					[style.background-image]="(templatedata.rightcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.rightcolsettings.bgimage+'?'+dateTemp):''" 

					[style.background-repeat]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgrepeat : ''" 
					[style.background-size]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgsize : ''"
					[style.background-position]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgposition : ''"
					appBackgroundImageLoaded 
					(imageLoaded)="righttransvisibility='visible'"
					*ngIf="templatedata.layout_id == 'template_one'">
					<div *ngIf="templatedata.rightcolsettings.bgtype=='bgimage'" [ngClass]="righttransvisibility=='hidden'?'show':'hide'" class="preloader 1"></div>	
					<p class="m-0 slide_title_1" [style.color]="this.templatedata.rightcolsettings.txtcolor">
						<span>{{templatedata.event_start_date | date:'EEEE MM/d'}} </span>
						<span>{{templatedata.event_start_time | lowercase | trimspace}} - </span>
						<span *ngIf="diffEvent">{{templatedata.event_end_date | date:'EEEE MM/d'}} </span>
						<span>{{(templatedata.event_end_time) ? (templatedata.event_end_time | lowercase | trimspace) : (templatedata.event_start_time | lowercase | trimspace)}}</span>
					</p>
					<h3 class="mt-0 slide_title_2" [style.color]="this.templatedata.rightcolsettings.txtcolor"> 
						<span [style.border-color]="this.templatedata.rightcolsettings.txtcolor" style="border-width: 2px; border-style: solid; display: inline-block; padding: 0px 10px;"> 
							{{templatedata.event_title}}
						</span>
					</h3>
					<p class="m-0" [style.color]="this.templatedata.rightcolsettings.txtcolor">{{templatedata.event_location}}</p>
					<div class="slide_event_desc slide_content" [innerHTML]="templatedata.event_desc" [style.color]="this.templatedata.rightcolsettings.txtcolor"></div> 
				</div>
			
		
		    <!-- Layout 2 -->
	
			<div class="col-sm-12 p-15 col-left-with-bg "
				[style.background-color]="templatedata.rightcolsettings.bgtype=='bgcolor' ? templatedata.rightcolsettings.bgcolor : ''" 

				[style.background-image]="(templatedata.rightcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.rightcolsettings.bgimage+'?'+dateTemp):''" 

				[style.background-repeat]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgrepeat : ''" 
				[style.background-size]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgsize : ''"
				[style.background-position]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgposition : ''"
				appBackgroundImageLoaded 
				(imageLoaded)="righttransvisibility='visible'"
				*ngIf="templatedata.layout_id == 'template_two'">
				<div *ngIf="templatedata.rightcolsettings.bgtype=='bgimage'" [ngClass]="righttransvisibility=='hidden'?'show':'hide'" class="preloader 1"></div>	
				<h3 class="mt-0 slide_title_2" [style.color]="this.templatedata.rightcolsettings.txtcolor"> 
					<span [style.border-color]="this.templatedata.rightcolsettings.txtcolor" style="border-width: 2px; border-style: solid; display: inline-block; padding: 0px 10px;"> 
						{{templatedata.event_title}}
					</span>
				</h3>
				<p class="m-0 slide_title_1" [style.color]="this.templatedata.rightcolsettings.txtcolor">
					<span>{{templatedata.event_start_date | date:'EEEE MM/d'}} </span>
					<span>{{templatedata.event_start_time | lowercase | trimspace}} - </span>
					<span *ngIf="diffEvent">{{templatedata.event_end_date | date:'EEEE MM/d'}} </span>
					<span>{{(templatedata.event_end_time) ? (templatedata.event_end_time | lowercase | trimspace) : (templatedata.event_start_time | lowercase | trimspace)}}</span>
				</p>
				<p class="m-0" [style.color]="this.templatedata.rightcolsettings.txtcolor">{{templatedata.event_location}}</p>
				<div class="slide_event_desc slide_content" [innerHTML]="templatedata.event_desc" [style.color]="this.templatedata.rightcolsettings.txtcolor"></div> 
			</div>

			<!-- Layout 3 -->
		    <div class="col-sm-12 p-15 col-right-with-bg "
				[style.background-color]="templatedata.rightcolsettings.bgtype=='bgcolor' ? templatedata.rightcolsettings.bgcolor : ''" 

				[style.background-image]="(templatedata.rightcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.rightcolsettings.bgimage+'?'+dateTemp):''" 

				[style.background-repeat]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgrepeat : ''" 
				[style.background-size]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgsize : ''"
				[style.background-position]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgposition : ''"
				appBackgroundImageLoaded 
				(imageLoaded)="righttransvisibility='visible'"
				
				*ngIf="templatedata.layout_id == 'template_three'">
				<div *ngIf="templatedata.rightcolsettings.bgtype=='bgimage'" [ngClass]="righttransvisibility=='hidden'?'show':'hide'" class="preloader 1"></div>	
				<h3 class="mt-0 slide_title_2" [style.color]="this.templatedata.rightcolsettings.txtcolor"> 
					<span [style.border-color]="this.templatedata.rightcolsettings.txtcolor" style="border-width: 2px; border-style: solid; display: inline-block; padding: 0px 10px;"> 
						{{templatedata.event_title}}
					</span>
				</h3>
				<p class="m-0 slide_title_1" [style.color]="this.templatedata.rightcolsettings.txtcolor">
					<span>{{templatedata.event_start_date | date:'EEEE MM/d'}} </span>
					<span>{{templatedata.event_start_time | lowercase | trimspace}} - </span>
					<span *ngIf="diffEvent">{{templatedata.event_end_date | date:'EEEE MM/d'}} </span>
					<span>{{(templatedata.event_end_time) ? (templatedata.event_end_time | lowercase | trimspace) : (templatedata.event_start_time | lowercase | trimspace)}}</span>
				</p>
				<p class="m-0" [style.color]="this.templatedata.rightcolsettings.txtcolor">{{templatedata.event_location}}</p>

				<div class="row right-size">
					<div class="col-sm-7">
						<div class="slide_event_desc slide_content" [innerHTML]="templatedata.event_desc" [style.color]="this.templatedata.rightcolsettings.txtcolor"></div> 
					</div>
					<div  class="col-sm-5 col-left-with-bg  bg-grey text-right height-section" 
					[style.background-color]="templatedata.leftcolsettings.bgtype=='bgcolor' ? templatedata.leftcolsettings.bgcolor : ''" 

					[style.background-image]="(templatedata.leftcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.leftcolsettings.bgimage+'?'+dateTemp):''" 

					[style.background-repeat]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgrepeat : ''" 
					[style.background-size]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgsize : ''"
					[style.background-position]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgposition : ''"
					appBackgroundImageLoaded 
					(imageLoaded)="lefttransvisibility='visible'"				
					>
					<div *ngIf="templatedata.leftcolsettings.bgtype=='bgimage'" [ngClass]="lefttransvisibility=='hidden'?'show':'hide'" class="preloader 1"></div>	
					</div>
			    </div>
	        </div>
		
            <!-- Layout 4 -->

			<div class="col-sm-12 p-15 col-left-with-bg" 
			    [style.background-color]="templatedata.rightcolsettings.bgtype=='bgcolor' ? templatedata.rightcolsettings.bgcolor : ''" [style.background-image]="(templatedata.rightcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.rightcolsettings.bgimage+'?'+dateTemp):''" [style.background-repeat]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgrepeat : ''" [style.background-size]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgsize : ''" [style.background-position]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgposition : ''"
			    appBackgroundImageLoaded 
				(imageLoaded)="lefttransvisibility='visible'"
			    *ngIf="templatedata.layout_id == 'template_four'">
			    <div *ngIf="templatedata.rightcolsettings.bgtype=='bgimage'" [ngClass]="lefttransvisibility=='hidden'?'show':'hide'" class="preloader 1"></div>	    
			        <h3 class="mt-0 slide_title_2" [style.color]="this.templatedata.rightcolsettings.txtcolor"> 
						<span [style.border-color]="this.templatedata.rightcolsettings.txtcolor" style="border-width: 2px; border-style: solid; display: inline-block; padding: 0px 10px;"> 
							{{templatedata.event_title}}
						</span>
					</h3>
			        <p class="m-0 slide_title_1" [style.color]="this.templatedata.rightcolsettings.txtcolor">
			            <span>{{templatedata.event_start_date | date:'EEEE MM/d'}} </span>
			            <span>{{templatedata.event_start_time | lowercase | trimspace}} - </span>
			            <span *ngIf="diffEvent">{{templatedata.event_end_date | date:'EEEE MM/d'}} </span>
			            <span>{{(templatedata.event_end_time) ? (templatedata.event_end_time | lowercase | trimspace) : (templatedata.event_start_time | lowercase | trimspace)}}</span>
			        </p>
			        <p class="m-0" [style.color]="this.templatedata.rightcolsettings.txtcolor">{{templatedata.event_location}}</p>

			        <div class="row left-size">
			            <div class="col-sm-5 col-right-with-bg  bg-grey text-right height-section" [style.background-color]="templatedata.leftcolsettings.bgtype=='bgcolor' ? templatedata.leftcolsettings.bgcolor : ''" [style.background-image]="(templatedata.leftcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.leftcolsettings.bgimage+'?'+dateTemp):''" [style.background-repeat]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgrepeat : ''" [style.background-size]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgsize : ''" [style.background-position]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgposition : ''"
			            appBackgroundImageLoaded 
						(imageLoaded)="righttransvisibility='visible'"			    
			            >
			            <div *ngIf="templatedata.leftcolsettings.bgtype=='bgimage'" [ngClass]="righttransvisibility=='hidden'?'show':'hide'" class="preloader 1"></div>	
			            </div>
			            <div class="col-sm-7">
			                <div class="slide_event_desc slide_content" [innerHTML]="templatedata.event_desc" [style.color]="this.templatedata.rightcolsettings.txtcolor"></div>
			            </div>

			        </div>
	        </div>
		</div>
            <div class="row mg-0 footer-section" *ngIf="type == 'hideprint'">
                <div class="col-sm-12 scroll_announcement p-0" *ngIf="scroll_announcement.status == 'Y'">
                  <app-scroll-announcement [scroll_text]='scroll_announcement.content'></app-scroll-announcement>
                </div>
                <div class="col-sm-12 footer_text" *ngIf="community_footer.status == 'Y'">
                  <app-community-footer [community_footer]='community_footer.content'></app-community-footer>
                </div>
            </div>
        <div class="row m-0" *ngIf="is_valide == 'no'">
            <p>No data found.</p>
        </div>
    </div>
</div>


      <!-- Commented code here -->

<!-- <div class="row m-0 main-section full-height" *ngIf="is_valide == 'yes'">
			<div  class="col-sm-3 bg-grey text-right" *ngIf="templatedata.leftcolsettings.bgtype == 'bgcolor'" [ngStyle]="{ 'background-color': ''+templatedata.leftcolsettings.bgcolor+''}">
			</div>
			<div class="col-sm-3 col-left-with-bg p-0"
				*ngIf="templatedata.leftcolsettings.bgtype == 'bgimage'"

				[style.background-image]="(templatedata.leftcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.leftcolsettings.bgimage+'?'+dateTemp):''"
				appBackgroundImageLoaded 
				(imageLoaded)="lefttransvisibility='visible'"

				[style.background-repeat]="templatedata.leftcolsettings.bgrepeat" 
				[style.background-size]="templatedata.leftcolsettings.bgsize"
				[style.background-position]="templatedata.leftcolsettings.bgposition">
				<div [ngClass]="lefttransvisibility=='hidden'?'show':'hide'" class="preloader"></div>
			</div>
			<div class="col-sm-9 p-15" *ngIf="templatedata.rightcolsettings.bgtype == 'bgcolor'" [ngStyle]="{ 'background-color': ''+templatedata.rightcolsettings.bgcolor+''}">
				<p class="m-0 slide_title_1" [style.color]="this.templatedata.rightcolsettings.txtcolor">
					<span>{{templatedata.event_start_date | date:'EEEE MM/d'}} </span>
					<span>{{templatedata.event_start_time | lowercase | trimspace}} - </span>
					<span>{{(templatedata.event_end_time) ? (templatedata.event_end_time | lowercase | trimspace) : (templatedata.event_start_time | lowercase | trimspace)}}</span>
				</p>

				<h3 class="mt-0 slide_title_2" [style.color]="this.templatedata.rightcolsettings.txtcolor">
					<span [style.border-color]="this.templatedata.rightcolsettings.txtcolor" style="border-width: 2px; border-style: solid; display: inline-block; padding: 0px 10px;"> {{templatedata.event_title}}
					</span>
				</h3>
				<div class="slide_event_desc slide_content" 
					[innerHTML]="templatedata.event_desc" 
					[style.color]="this.templatedata.rightcolsettings.txtcolor"
					[ngClass]="(templatedata.event_desc.length < 1700 ) ? 'font-slide' : 
					(templatedata.event_desc.length >= 1700 && templatedata.event_desc.length < 2100 ) ? 'font-lg' :
					(templatedata.event_desc.length >= 2100 && templatedata.event_desc.length < 2600 ) ? 'font-md' :
					(templatedata.event_desc.length >= 2600 && templatedata.event_desc.length < 3000 ) ? 'font-sm' : 'font-xs'"></div>			
			</div>
			<div class="col-sm-9 col-right-with-bg p-15"
				*ngIf="templatedata.rightcolsettings.bgtype == 'bgimage'"

				[style.background-image]="(templatedata.rightcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.rightcolsettings.bgimage+'?'+dateTemp):''"
				appBackgroundImageLoaded 
				(imageLoaded)="righttransvisibility='visible'"

				[style.background-repeat]="templatedata.rightcolsettings.bgrepeat" 
				[style.background-size]="templatedata.rightcolsettings.bgsize"
				[style.background-position]="templatedata.rightcolsettings.bgposition">
				<div class="inner-content-tmpl">
					<p class="m-0 slide_title_1" [style.color]="this.templatedata.rightcolsettings.txtcolor">
						<span>{{templatedata.event_start_date | date:'EEEE MM/d'}} </span>
						<span>{{templatedata.event_start_time | lowercase | trimspace}} - </span>
						<span>{{(templatedata.event_end_time) ? (templatedata.event_end_time | lowercase | trimspace) : (templatedata.event_start_time | lowercase | trimspace)}}</span>
					</p>
					<h3 class="mt-0 slide_title_2" [style.color]="this.templatedata.rightcolsettings.txtcolor">
						<span [style.border-color]="this.templatedata.rightcolsettings.txtcolor" style="border-width: 2px; border-style: solid; display: inline-block; padding: 0px 10px;"> 
							{{templatedata.event_title}}
						</span> 
					</h3>				
					<div class="slide_event_desc slide_content" 
						[innerHTML]="templatedata.event_desc" 
						[style.color]="this.templatedata.rightcolsettings.txtcolor"
						[ngClass]="(templatedata.event_desc.length < 1700 ) ? 'font-slide' : 
						(templatedata.event_desc.length >= 1700 && templatedata.event_desc.length < 2100 ) ? 'font-lg' :
						(templatedata.event_desc.length >= 2100 && templatedata.event_desc.length < 2600 ) ? 'font-md' :
						(templatedata.event_desc.length >= 2600 && templatedata.event_desc.length < 3000 ) ? 'font-sm' : 'font-xs'"></div>
				</div>
				<div  [ngClass]="righttransvisibility=='hidden'?'show':'hide'" class="preloader"></div>	
			</div>-->