<!-- Add / edit slide -->
<div class="row back-white m-0 full-height template-one editor-sec" *ngIf="type == 'add'">
	<div  class="col-sm-4 bg-grey" 
		[style.background-color]="templatedata.leftcolsettings.bgtype=='bgcolor' ? templatedata.leftcolsettings.bgcolor : ''" 

		[style.background-image]="(templatedata.leftcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.leftcolsettings.bgimage+'?'+dateTemp):''" 
		
		[style.background-repeat]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgrepeat : ''" 
		[style.background-size]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgsize : ''"
		[style.background-position]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgposition : ''">
		<a data-html2canvas-ignore="true" (click)="openDialog('left')" class="color-white btn font-20 has-shadow p-0 slide-settings">
			<i class="fa fa-cog"></i>
		</a>
		<div class="scale-block">
			<div class="slide-contents width-90" [ngClass] = "(templatedata.pretitle) ? '' : 'empty-min-height'"> 
				<div
				class="m-0 " 
				[style.color]="this.templatedata.leftcolsettings.txtcolor"
				[innerHTML]="templatedata.pretitle | sanitizeHtml"> </div>
				<mat-icon data-html2canvas-ignore="true" (click)="openEditor(templatedata.pretitle,'pretitle')">edit</mat-icon> 
			</div>
			<div class="slide-contents" [ngClass] = "(templatedata.title) ? '' : 'empty-min-height'"> 
				<div
				class="mt-0  mb-0" 
				[style.color]="this.templatedata.leftcolsettings.txtcolor"
				[innerHTML]="templatedata.title | sanitizeHtml"
				> </div>
				<mat-icon data-html2canvas-ignore="true" (click)="openEditor(templatedata.title,'title')">edit</mat-icon>
			</div>
			<div class="slide-contents" [ngClass] = "(templatedata.posttitle) ? '' : 'empty-min-height'">
				<div 
				class="" 
				[style.color]="this.templatedata.leftcolsettings.txtcolor"
				[innerHTML]="templatedata.posttitle | sanitizeHtml"> </div>
				<mat-icon data-html2canvas-ignore="true" (click)="openEditor(templatedata.posttitle,'posttitle')">edit</mat-icon>
			</div>
			<div class="slide-contents" [ngClass] = "(templatedata.description) ? '' : 'empty-min-height'">
				<div 
				class="mt-0 " 
				[style.color]="this.templatedata.leftcolsettings.txtcolor"
				[innerHTML]="templatedata.description | sanitizeHtml"> </div>
				<mat-icon data-html2canvas-ignore="true" (click)="openEditor(templatedata.description,'description')">edit</mat-icon>
			</div>
		</div>
	</div>
	<div class="col-sm-8 padd-5 content-col" style="height: 100%; overflow: hidden;"
		[style.background-color]="templatedata.rightcolsettings.bgtype=='bgcolor' ? templatedata.rightcolsettings.bgcolor : ''" 

		[style.background-image]="(templatedata.rightcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.rightcolsettings.bgimage+'?'+dateTemp):''" 

		[style.background-repeat]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgrepeat : ''" 
		[style.background-size]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgsize : ''"
		[style.background-position]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgposition : ''">

		<a data-html2canvas-ignore="true" (click)="openDialog('right', false)" class="color-white btn font-20 has-shadow p-0 slide-settings">
			<i class="fa fa-cog"></i>
		</a>

		
		
	</div>
</div>
<!-- Preview / Print -->
<div class="print-div printable_div full-height" *ngIf="type == 'print' || type == 'preview'" [ngClass]="( moreHeight ) ? 'portrait_mode' : ''">
	<div class="back-white template-one printable_div_trans full-height" [ngClass] = "
		(type == 'print') ?
		(scroll_announcement.status == 'Y' && community_footer.status == 'Y') ? 'has-footer-announce' : 
		(scroll_announcement.status == 'N' && community_footer.status == 'Y') ? 'has-single-footer' : 
		(scroll_announcement.status == 'Y' && community_footer.status == 'N') ? 'has-single-announce' : ''
		: 'has-front-veiw'">
		<div class="row m-0 main-section full-height" *ngIf="is_valide == 'yes'">	
			<!-- rightcolsettings leftcolsettings		 -->
			
			<div class="col-sm-4 padd-5 full-height" *ngIf="templatedata.leftcolsettings.bgtype == 'bgcolor'" [ngStyle]="{ 'background-color': ''+templatedata.leftcolsettings.bgcolor+''}">
				<div 
				class="slide-contents m-0 " [ngClass] = "(templatedata.pretitle) ? '' : 'empty-min-height'"
				[style.color]="this.templatedata.leftcolsettings.txtcolor"
				[innerHTML]="templatedata.pretitle | sanitizeHtml"></div>
				<div 
				class="slide-contents mt-0  mb-0" [ngClass] = "(templatedata.title) ? '' : 'empty-min-height'"
				[style.color]="this.templatedata.leftcolsettings.txtcolor"
				[innerHTML]="templatedata.title | sanitizeHtml"></div>
				<div 
				class="slide-contents mt-0 " [ngClass] = "(templatedata.posttitle) ? '' : 'empty-min-height'"
				[style.color]="this.templatedata.leftcolsettings.txtcolor"
				[innerHTML]="templatedata.posttitle | sanitizeHtml"></div>
				<div class="slide-contents mt-0 " [ngClass] = "(templatedata.description) ? '' : 'empty-min-height'"
					[style.color]="this.templatedata.leftcolsettings.txtcolor"
					[ngClass]="(templatedata.description.length < 1600 ) ? 'font-slide' : 
					(templatedata.description.length >= 1600 && templatedata.description.length < 2100 ) ? 'font-lg' :
					(templatedata.description.length >= 2100 && templatedata.description.length < 2600 ) ? 'font-md' :
					(templatedata.description.length >= 2600 && templatedata.description.length < 3000 ) ? 'font-sm' : 'font-xs'"
					[innerHTML]="templatedata.description | sanitizeHtml">
				</div>
			</div>
			<div class="col-sm-4 padd-5 full-height col-right-with-bg"
				*ngIf="templatedata.leftcolsettings.bgtype == 'bgimage'"
				
				[style.background-image]="(templatedata.leftcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.leftcolsettings.bgimage+'?'+dateTemp):''"
				[style.background-repeat]="templatedata.leftcolsettings.bgrepeat" 
				[style.background-size]="templatedata.leftcolsettings.bgsize"
				[style.background-position]="templatedata.leftcolsettings.bgposition"
				appBackgroundImageLoaded 
				(imageLoaded)="righttransvisibility='visible'"
				>

				<div class="inner-content-tmpl">
					<div 
					class="slide-contents m-0 " [ngClass] = "(templatedata.pretitle) ? '' : 'empty-min-height'"
					[style.color]="this.templatedata.leftcolsettings.txtcolor"
					[innerHTML]="templatedata.pretitle | sanitizeHtml"></div>
					<div 
					class="slide-contents mt-0  mb-0" [ngClass] = "(templatedata.title) ? '' : 'empty-min-height'"
					[style.color]="this.templatedata.leftcolsettings.txtcolor"
					[innerHTML]="templatedata.title | sanitizeHtml"></div>
					<div 
					class="slide-contents mt-0 " [ngClass] = "(templatedata.posttitle) ? '' : 'empty-min-height'"
					[style.color]="this.templatedata.leftcolsettings.txtcolor"
					[innerHTML]="templatedata.posttitle | sanitizeHtml"></div>
					
					<div class="slide-contents mt-0 " [ngClass] = "(templatedata.description) ? '' : 'empty-min-height'"
						[style.color]="this.templatedata.leftcolsettings.txtcolor" 
						[ngClass]="(templatedata.description.length < 1600 ) ? 'font-slide' : 
						(templatedata.description.length >= 2100 && templatedata.description.length < 2600 ) ? 'font-md' :
						(templatedata.description.length >= 2600 && templatedata.description.length < 3000 ) ? 'font-sm' : 'font-xs'"
						[innerHTML]="templatedata.description | sanitizeHtml">
						{{templatedata.description.length}}
					</div>

				</div>
				<div  [ngClass]="righttransvisibility=='hidden'?'show':'hide'" class="preloader"></div>
			</div>

			<div  class="col-sm-8 bg-grey text-right full-height" *ngIf="templatedata.rightcolsettings.bgtype == 'bgcolor'" [ngStyle]="{ 'background-color': ''+templatedata.rightcolsettings.bgcolor+''}">
			</div>
			<div  class="col-sm-8 p-0 full-height col-left-with-bg"
				*ngIf="templatedata.rightcolsettings.bgtype == 'bgimage'"

				[style.background-image]="(templatedata.rightcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.rightcolsettings.bgimage+'?'+dateTemp):''"
				[style.background-repeat]="templatedata.rightcolsettings.bgrepeat" 
				[style.background-size]="templatedata.rightcolsettings.bgsize"
				[style.background-position]="templatedata.rightcolsettings.bgposition"
				appBackgroundImageLoaded 
				(imageLoaded)="lefttransvisibility='visible'">
				<!-- loader div show hide -->
				<div [ngClass]="lefttransvisibility=='hidden'?'show':'hide'" class="preloader"></div> 
			</div>
		</div>
		<div class="row mg-0 footer-section" *ngIf="type == 'hideprint'">
			<div class="col-sm-12 scroll_announcement p-0" *ngIf="scroll_announcement.status == 'Y'">
				<app-scroll-announcement [scroll_text]='scroll_announcement.content'></app-scroll-announcement>
			</div>
			<div class="col-sm-12 footer_text" *ngIf="community_footer.status == 'Y'">
				<app-community-footer [community_footer]='community_footer.content'></app-community-footer>
			</div>
		</div>
		<div class="row m-0" *ngIf="is_valide == 'no'">
			<p>No data found.</p>
		</div>
	</div>
</div>