img.ng-lazyloaded {
  animation: fadein .9s;
}

.error-msg { color: #cc4242; }

.url-error { display: block; color: #cc4242; }
.inline-image{display: inline-block;}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}