<form #f="ngForm" (ngSubmit)="submitTemplate()" [formGroup]="templateForm" novalidate autocomplete="off">
<div mat-dialog-content>
   <div class="container">
      <div class="background-radio">
         <mat-radio-group name="required" [formControl]="templateForm.get('layout_id')" class="radio-btn-wrapper">
            <div class="col-sm-12">
               <div class="col-sm-6 inline-image">
                  <mat-radio-button value="template_one">
                     <img height="100px" width="auto" [src]="baseUrl+'digisign/assets/img/template_one.jpg'" class=" ng-lazyloaded">
                  </mat-radio-button>
               </div>
               <div class="col-sm-6 inline-image">
                  <mat-radio-button value="template_two">
                     <img height="100px" width="auto" [src]="baseUrl+'digisign/assets/img/template_two.png'" class=" ng-lazyloaded">
                  </mat-radio-button>
               </div>
            </div>
            <div class="col-sm-12">
               <div class="col-sm-6 inline-image">
                  <mat-radio-button value="template_three">
                     <img height="100px" width="auto" [src]="baseUrl+'digisign/assets/img/template_three.png'" class=" ng-lazyloaded">
                  </mat-radio-button>
               </div>
               <div class="col-sm-6 inline-image">
                  <mat-radio-button value="template_four">
                     <img height="100px" width="auto" [src]="baseUrl+'digisign/assets/img/template_four.png'" class=" ng-lazyloaded">
                  </mat-radio-button>
               </div>
            </div>
         </mat-radio-group>
      </div>
   </div>
</div>
<div class="mt-30 mb-0-i text-center">
   <button type="submit" [disabled]="templateForm.invalid" class="btn back-green color-white mr-10">APPLY</button>
   <button type="button" (click)="onNoClick()" class="btn back-pink color-white">CANCEL</button>
</div>
</form>
<!-- include loader -->
<app-loader></app-loader>