<div>
	<div mat-dialog-content>
		<div class="container">
			<p class="font-20 text-center mt-40 mb-40">
		    	Are you sure you want to delete this slide? This slide will be permanently deleted unless it was saved as a template
		    </p>
		    <p class="mb-40 text-center">
		    	<a class="btn back-green color-white font-20 mr-10" (click)="onBtnClick('Y')">YES</a>
				<a class="btn back-pink color-white font-20" (click)="onBtnClick('N')">NO</a>
		    </p>
		</div>
	</div>
</div>