<div class="slide-print-dialog">	
	<div mat-dialog-actions>
		<h1 mat-dialog-title class="color-white">Print Preview</h1>
		<div class="slide-links">
		  	<button mat-button (click)="printSlides()" class="mr-10 back-green color-white no-border"> PRINT </button>
		  	<button mat-button (click)="onClose()" class="back-pink color-white no-border"> CLOSE </button>
		  </div>
	</div>
	<div mat-dialog-content id="printContents" [ngStyle]="{ 'height': ''+screenHeight+'px', 'overflow-y': 'auto' }">
		<div  class="print_modal2 front-modal has-n">
			<div #processContainer></div>
		</div>
	</div>
</div>