<div class="row" [style.background-color]="community_footer.footerBgcolor || '#FFFFFF'">
	<div class="col-sm-4">
		<img [src]="community_footer.logo ? mediaUrl+community_footer.logo+'?'+dateTemp : default_logo" style="height: 30px; width: auto;" alt="Community footer logo" />
	</div>
	<div class="col-sm-3 text-center">
		<p class="mg-0" [style.color]="community_footer.footerColor || '#000000'"><strong>{{ now | date:'hh:mm a'}}</strong></p>
	</div>
	<div class="col-sm-5 text-right">
		<p class="mg-0" [style.color]="community_footer.footerColor || '#000000'"><strong>{{community_footer.temp | number:'1.0-0'}}<sup>°</sup> {{(community_footer.custom_city_name) ? community_footer.custom_city_name : community_footer.city_name}}</strong></p>
	</div>
</div>