<form #f="ngForm" (ngSubmit)="submitMedia()" [formGroup]="mediaForm" novalidate autocomplete="off">
	<div mat-dialog-content>
		<div class="container">
			<div class="col-sm-12 background-radio">
		        <mat-radio-group [formControl]="mediaForm.get('bgmediatype')" required class="radio-btn-wrapper">
		          <mat-grid-list cols="3" rowHeight="40px">
		            <mat-grid-tile *ngIf="dailogData.modal_type !== 'youtube_options'">
		              <mat-radio-button value="new_upload" id="new_upload">Upload</mat-radio-button>
		            </mat-grid-tile>
		            <mat-grid-tile *ngIf="dailogData.modal_type === 'youtube_options'">
		              <mat-radio-button value="upload_url" id="upload_url">Upload Url</mat-radio-button>
		            </mat-grid-tile>  
		            <mat-grid-tile *ngIf="dailogData.modal_type !== 'youtube_options'">
		              <mat-radio-button value="ext_img" id="ext_img">Select Existing</mat-radio-button>
		            </mat-grid-tile>  
		          </mat-grid-list>
		        </mat-radio-group>
		    </div>
			<div *ngIf="mediaForm.get('bgmediatype').value=='new_upload'">
                <div class="mt-30">
                	
                	<!-- accept=".pdf, .ppt" 	accept=".pdf, .ppt, .pptx, .ppsx, .pps, .ppsm, " -->
					<input #fileInput id="image"
						type="file"
						[hidden]="true" 
						class="hidden" 
						(change)="setPreviewImage($event)"
						[accept]="inputAccpets"
						>
                  <input type="hidden" [formControl]="mediaForm.get('newmedia')"/>
                  <label for="image" class="inline-block-middle mg-0 mr-20 line-35">Select File</label>
                  <button type="button" class="btn btn-small back-light-blue color-blue inline-block-middle" #upload (click)="fileInput.click()">UPLOAD FILE</button>
                  <div class="mt-10" *ngIf="fileName">
	                {{fileName}}
	              </div>
	              <div class="mt-10" *ngIf="errorSaveMsg">
	              	<span class="error-msg">{{errorSaveMsg}}</span>
	              </div>
                </div>
			</div>
			<div *ngIf="mediaForm.get('bgmediatype').value=='upload_url'">
                <div class="mt-30">                	
                	<!-- accept=".pdf, .ppt" 	accept=".pdf, .ppt, .pptx, .ppsx, .pps, .ppsm, " -->
					<mat-form-field class="col-sm-12">
						<label for="image" class="full-width">Upload Url</label>
					    <input matInput [formControl]="mediaForm.get('external_url')" type="url" required>					    
					</mat-form-field>
                 	<small class="url-error" *ngIf="mediaForm.get('external_url').value && mediaForm.get('external_url').invalid">
					    Not a valid URL
					</small>
                  
                </div>
			</div>
			<div *ngIf="mediaForm.get('bgmediatype').value=='ext_img'" class="mt-30">
				<div *ngIf="!medias?.length">
			        <p>No files found..</p>
			    </div>
			    <mat-radio-group [formControl]="mediaForm.get('media')">
				    <div class="row">
					    <div class="media-list mb-15 col-sm-6" *ngFor="let media of medias;trackBy:trackByMedia">	
					    	<div class="back-grey playlist-inner p-15">
					    		<!-- <img [defaultImage]="blurDefault" [lazyLoad]="mediaUrl+media.thumb+'?'+dateTemp" width="auto"  height="100px" /> -->
					    		<mat-icon class="inline-block-middle" [innerHTML]="getIconFileName(media.image)"></mat-icon>
					    		<span class="inline-block-middle" [innerHTML]="getSlicedFileName(media.image)"></span>
				    			<mat-radio-button value="{{media.image}}" required [ngStyle]="{'margin': '10px 0px 0 0'}"></mat-radio-button>
					    		
					    	</div>			    	
					    </div>
					</div>
				</mat-radio-group>
			    <mat-paginator [length]="length"
	              [pageSize]="pageSize"
	              (page)="getNext($event)" class="back-light-blue page-paginator color-blue font-16">
				</mat-paginator>
			</div>
		</div>
	</div>
	<div class="mt-30 mb-0-i text-center">
		<button type="submit" [disabled]="mediaForm.invalid" class="btn back-green color-white mr-10">APPLY</button>
	  	<button type="button" (click)="onNoClick()" class="btn back-pink color-white">CANCEL</button>
	</div>
</form>

<!-- include loader -->
<app-loader></app-loader>