<div class="row back-white m-0 full-height template-five editor-sec" *ngIf="type == 'add'">
	<div class="row m-0 back-grey align-items-center full-width"
	[style.background-color]="templatedata.rightcolsettings.bgtype=='bgcolor' ? templatedata.rightcolsettings.bgcolor : ''" 

	[style.background-image]="(templatedata.rightcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.rightcolsettings.bgimage+'?'+dateTemp):''" 

	[style.background-repeat]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgrepeat : ''" 
	[style.background-size]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgsize : ''"
	[style.background-position]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgposition : ''">
		<a data-html2canvas-ignore="true" (click)="openDialog('right')" class="color-white btn has-shadow p-0 slide-settings">
			<i class="fa fa-cog"></i>
		</a>
		<div class="col-sm-12 p-0 content-col">
			<div class="scale-block">
				<div class="template-two-ie row align-items-center">
					<div class="col-sm-6">
						<div class="slide-contents" [ngClass] = "(templatedata.title) ? '' : 'empty-min-height'">
							<div 
							class="mg-0 mb-50 text-center slide_content" 
							[style.color]="this.templatedata.rightcolsettings.txtcolor"
							[innerHTML]="templatedata.title | sanitizeHtml"></div>
							<mat-icon data-html2canvas-ignore="true" (click)="openEditor(templatedata.title,'title')">edit</mat-icon>
						</div>
						<div style="width: 90%; margin: 0 auto; padding-bottom: 50%; position: relative;">
							<div class="back-mid-grey text-right" 
								[style.background-color]="templatedata.leftcolsettings.bgtype=='bgcolor' ? templatedata.leftcolsettings.bgcolor : ''" 

								[style.background-image]="(templatedata.leftcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.leftcolsettings.bgimage+'?'+dateTemp):''" 
								
								[style.background-repeat]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgrepeat : ''" 
								[style.background-size]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgsize : ''"
								[style.background-position]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgposition : ''"
								style="position: absolute; width: 100%; height: 100%; border: 2px solid #000;  background: #fff;">
								<a data-html2canvas-ignore="true" (click)="openDialog('left',false)" class="color-white btn font-20 has-shadow p-0 slide-settings">
									<i class="fa fa-cog"></i>
								</a>
								
							</div>
						</div>
					</div>
					<div class="template-two-ie col-sm-6">
						<div class="slide-contents" [ngClass] = "(templatedata.description) ? '' : 'empty-min-height'">
							<div 
							class="text-center slide_content" 
							[style.color]="this.templatedata.rightcolsettings.txtcolor"
							[innerHTML]="templatedata.description | sanitizeHtml"></div>
							<mat-icon data-html2canvas-ignore="true" (click)="openEditor(templatedata.description,'description')">edit</mat-icon>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Preview / Print -->
<div class="print-div printable_div full-height" *ngIf="type == 'print' || type == 'preview'" [ngClass]="( moreHeight ) ? 'portrait_mode' : ''">
	<div class="back-white printable_div_trans template-five full-height" [ngClass] = "
		(type == 'print') ?
		(scroll_announcement.status == 'Y' && community_footer.status == 'Y') ? 'has-footer-announce' : 
		(scroll_announcement.status == 'N' && community_footer.status == 'Y') ? 'has-single-footer' : 
		(scroll_announcement.status == 'Y' && community_footer.status == 'N') ? 'has-single-announce' : ''
		: ''">
		<div class="row m-0 main-section full-height" *ngIf="is_valide == 'yes'">
			<div class="row m-0 full-width align-items-center full-height"
			*ngIf="templatedata.rightcolsettings.bgtype == 'bgcolor'" [ngStyle]="{ 'background-color': ''+templatedata.rightcolsettings.bgcolor+''}">		
				<div class="col-sm-6 inner-content-tmpl">
					<div class="slide-contents" [ngClass] = "(templatedata.title) ? '' : 'empty-min-height'">
						<div 
						class="mg-0 mb-50 text-center slide_content" 
						[style.color]="this.templatedata.rightcolsettings.txtcolor"
						[innerHTML]="templatedata.title | sanitizeHtml"></div>
					</div>
					<div style="width: 90%; margin: 0 auto; padding-bottom: 50%; position: relative;">
						<div class="back-mid-grey text-right" 
							*ngIf="templatedata.leftcolsettings.bgtype == 'bgcolor'" [ngStyle]="{ 'background-color': ''+templatedata.leftcolsettings.bgcolor+''}"
							style="position: absolute; width: 100%; height: 100%; border: 2px solid #000;">
						</div>
						<div class="back-mid-grey col-left-with-bg text-right" 
							*ngIf="templatedata.leftcolsettings.bgtype == 'bgimage'"
							
							[style.background-image]="(templatedata.leftcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.leftcolsettings.bgimage+'?'+dateTemp):''"
							appBackgroundImageLoaded 
							(imageLoaded)="lefttransvisibility='visible'"

							[style.background-repeat]="templatedata.leftcolsettings.bgrepeat" 
							[style.background-size]="templatedata.leftcolsettings.bgsize"
							[style.background-position]="templatedata.leftcolsettings.bgposition"
							style="position: absolute; width: 100%; height: 100%; border: 2px solid #000;  background: #fff;">
							<div  [ngClass]="lefttransvisibility=='hidden'?'show':'hide'" class="preloader"></div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 inner-content-tmpl">
					<div class="slide-contents" [ngClass] = "(templatedata.description) ? '' : 'empty-min-height'">
						<div class="text-center slide_content font-slide" 
							[style.color]="this.templatedata.rightcolsettings.txtcolor"
							[ngClass]="(templatedata.description.length < 1800 ) ? 'font-slide' : 
							(templatedata.description.length >= 1800 && templatedata.description.length < 2300 ) ? 'font-lg' :
							(templatedata.description.length >= 2300 && templatedata.description.length < 2600 ) ? 'font-md' :
							(templatedata.description.length >= 2600 && templatedata.description.length < 2900 ) ? 'font-sm' : 'font-xs'"
							[innerHTML]="templatedata.description | sanitizeHtml">
						</div>
					</div>
				</div>				
			</div>

			<div class="row m-0 col-right-with-bg full-width align-items-center"
				*ngIf="templatedata.rightcolsettings.bgtype == 'bgimage'"
				[style.background-image]="(templatedata.rightcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.rightcolsettings.bgimage+'?'+dateTemp):''"
				appBackgroundImageLoaded 
				(imageLoaded)="righttransvisibility='visible'"
				[style.background-repeat]="templatedata.rightcolsettings.bgrepeat" 
				[style.background-size]="templatedata.rightcolsettings.bgsize"
				[style.background-position]="templatedata.rightcolsettings.bgposition">		
				<div class="col-sm-6 inner-content-tmpl">
					<div class="slide-contents" [ngClass] = "(templatedata.title) ? '' : 'empty-min-height'">
						<div 
						class="mg-0 mb-50 text-center slide_content" 
						[style.color]="this.templatedata.rightcolsettings.txtcolor"
						[innerHTML]="templatedata.title | sanitizeHtml"></div>
					</div>
					<div style="width: 90%; margin: 0 auto; padding-bottom: 50%; position: relative;">
						<div class="text-right" 
							*ngIf="templatedata.leftcolsettings.bgtype == 'bgcolor'" [ngStyle]="{ 'background-color': ''+templatedata.leftcolsettings.bgcolor+''}"
							style="position: absolute; width: 100%; height: 100%; border: 2px solid #000;">
						</div>
						<div class="col-left-with-bg text-right" 
							*ngIf="templatedata.leftcolsettings.bgtype == 'bgimage'"
							[style.background-image]="(templatedata.leftcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.leftcolsettings.bgimage+'?'+dateTemp):''"
							appBackgroundImageLoaded 
							(imageLoaded)="lefttransvisibility='visible'"

							[style.background-repeat]="templatedata.leftcolsettings.bgrepeat" 
							[style.background-size]="templatedata.leftcolsettings.bgsize"
							[style.background-position]="templatedata.leftcolsettings.bgposition"
							style="position: absolute; width: 100%; height: 100%; border: 2px solid #000;">
							<div [ngClass]="lefttransvisibility=='hidden'?'show':'hide'" class="preloader"></div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 inner-content-tmpl">
					<div class="slide-contents" [ngClass] = "(templatedata.description) ? '' : 'empty-min-height'">
						<div class="text-center slide_content font-slize" 
							[style.color]="this.templatedata.rightcolsettings.txtcolor"
							[ngClass]="(templatedata.description.length < 1800 ) ? 'font-slide' : 
							(templatedata.description.length >= 1800 && templatedata.description.length < 2300 ) ? 'font-lg' :
							(templatedata.description.length >= 2300 && templatedata.description.length < 2600 ) ? 'font-md' :
							(templatedata.description.length >= 2600 && templatedata.description.length < 2900 ) ? 'font-sm' : 'font-xs'"
							[innerHTML]="templatedata.description | sanitizeHtml">
						</div>
					</div>
				</div>	
				<div [ngClass]="righttransvisibility=='hidden'?'show':'hide'" class="preloader"></div>
			</div>
		</div>
		<div class="row mg-0 footer-section" *ngIf="type == 'hideprint'">
			<div class="col-sm-12 scroll_announcement p-0" *ngIf="scroll_announcement.status == 'Y'">
				<app-scroll-announcement [scroll_text]='scroll_announcement.content'></app-scroll-announcement>
			</div>
			<div class="col-sm-12 footer_text" *ngIf="community_footer.status == 'Y'">
				<app-community-footer [community_footer]='community_footer.content'></app-community-footer>
			</div>
		</div>
		<div class="row m-0" *ngIf="is_valide == 'no'">
			<p>No data found.</p>
		</div>
	</div>
</div>