<div class="container">
  <div class="row mg-0">
    <div class="col-sm-12">
      <h3 class="mg-0 font-20">Set Background Color/Image</h3>
      <hr>
    </div>
  </div>
  <form #f="ngForm" (ngSubmit)="SaveSettings(f)" [formGroup]="ShareForm" novalidate autocomplete="off">
    <div mat-dialog-content>
      <div class="row mg-0 mb-30">
        <div class="col-sm-4 background-radio">
          <mat-radio-group [formControl]="ShareForm.get('bgtype')" class="radio-btn-wrapper">
            <mat-grid-list cols="1" rowHeight="40px">
              <mat-grid-tile>
                <mat-radio-button value="bgcolor" id="bgcolor">Background color</mat-radio-button>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-radio-button value="bgimage" id="bgimage">Background image</mat-radio-button>
              </mat-grid-tile>  
            </mat-grid-list>
          </mat-radio-group>
        </div>
        <div class="col-sm-8" *ngIf="ShareForm.get('bgtype').value=='bgcolor'">
          <div class="color-container form-group mb-30">
              <label for="bgcolor">Background Color &nbsp; &nbsp;</label>
              <input type="text" id="bgcolor" 
                readonly="true"
                    [required]="ShareForm.get('bgtype').value=='bgcolor'"
                    formControlName="bgcolor"
                    [(colorPicker)]="ShareForm.get('bgcolor').value"
                    [value]="ShareForm.get('bgcolor').value"
                    [cpDisableInput]="true" 
                    [style.background]="ShareForm.get('bgcolor').value"
                    (colorPickerChange)="ShareForm.get('bgcolor').setValue($event)"
              /> <!-- {{ShareForm.valid}} -->
          </div>
          <div class="color-container form-group mb-30"  *ngIf="ShareForm.get('isText').value==true">              
            <label for="txtcolor">Text Color &nbsp; &nbsp;</label>
            <input type="text" id="txtcolor" 
              readonly="true"
                  [required]="ShareForm.get('bgtype').value=='txtcolor'"
                  formControlName="txtcolor"
                  [(colorPicker)]="ShareForm.get('txtcolor').value"
                  [value]="ShareForm.get('txtcolor').value"
                  [cpDisableInput]="true" 
                  [style.background]="ShareForm.get('txtcolor').value"
                  (colorPickerChange)="ShareForm.get('txtcolor').setValue($event)"
            /> <!-- {{ShareForm.valid}} -->
            </div>   
        </div>
        <div class="col-sm-8" *ngIf="ShareForm.get('bgtype').value=='bgimage'">
          <!-- Image  {{ShareForm.get('bgcolor').value}} -->
          <div class="form-group mb-30">
            
            <div class="image-container">
              <div class="row">
                <div class="col-sm-12">                  
                  <a class="btn back-light-blue color-blue" (click)="selectImageLibrary()">SELECT IMAGE</a>
                </div>
                <div class="col-sm-12 mt-30" *ngIf="ShareForm.get('bgimage').value">
                  <img [defaultImage]="blurDefault" [errorImage]="noMedia" [lazyLoad]="baseUrl + ShareForm.get('bgimage').value" width="auto"  height="100px" />
                </div>
              </div>
            </div>
          </div>
          <!-- BG REPEAT -->  
          <div class="form-group mb-10">
            <!-- <label for="bgrepeat">Background Repeat</label> -->
            <mat-form-field class="full-width">
              <mat-select placeholder="Background Repeat" required="required" id="bgrepeat"  [formControl]="ShareForm.get('bgrepeat')">
                <mat-option>None</mat-option>
                <mat-option value="no-repeat">No Repeat</mat-option>
                <mat-option value="repeat">Repeat-X-Y</mat-option>
                <mat-option value="repeat-x">Repeat-X</mat-option>
                <mat-option value="repeat-y">Repeat-Y</mat-option>
              </mat-select>  
            </mat-form-field>
          </div>
          <!-- BG SIZE -->  
          <div class="form-group mb-10">
            <!-- <label for="bgsize">Background Size</label> -->
            <mat-form-field class="full-width">
              <mat-select placeholder="Background Size" required="required" id="bgsize" [formControl]="ShareForm.get('bgsize')">
                <mat-option>None</mat-option>
                <mat-option value="auto">Auto</mat-option>
                <mat-option value="cover">Cover</mat-option>
                <mat-option value="contain">Contain</mat-option>
              </mat-select>  
            </mat-form-field>
          </div>
          <!-- BG POSITION -->  
          <div class="form-group mb-10">
            <!-- <label for="bgposition">Background Position</label> -->
            <mat-form-field class="full-width">
              <mat-select placeholder="Background Position" required="required" id="bgposition" [formControl]="ShareForm.get('bgposition')">
                <mat-option>None</mat-option>
                <mat-option value="top left">Top left</mat-option>
                <mat-option value="top right">Top right</mat-option>
                <mat-option value="top center">Top center</mat-option>
                <mat-option value="bottom left">Bottom left</mat-option>
                <mat-option value="bottom right">Bottom right</mat-option>
                <mat-option value="bottom center">Bottom center</mat-option>
                <mat-option value="center left">Center left</mat-option>
                <mat-option value="center right">Center right</mat-option>
                <mat-option value="center center">Center center</mat-option>
              </mat-select>  
            </mat-form-field>
          </div>
          <div class="form-group mb-30" *ngIf="ShareForm.get('isText').value==true">
            <hr/>
            <div class="color-container">              
              <label for="txtcolor">Text Color &nbsp; &nbsp;</label>
              <input type="text" id="txtcolor" 
                readonly="true"
                required="required"
                formControlName="txtcolor"
                [(colorPicker)]="ShareForm.get('txtcolor').value"
                [value]="ShareForm.get('txtcolor').value"
                [cpDisableInput]="true" 
                [style.background]="ShareForm.get('txtcolor').value"
                (colorPickerChange)="ShareForm.get('txtcolor').setValue($event)" /> <!-- {{ShareForm.valid}} -->
            </div>   
          </div>
        </div>
      </div>  
    </div>
    <div class="panel-footer"  *ngIf="ShareForm.get('bgtype').value">
      <div class="text-center">
        <button type="submit" [disabled]="ShareForm.invalid" class="btn back-green color-white mr-10">APPLY</button>
        <button type="button" class="btn back-pink color-white" (click)="onNoClick()">CANCEL</button>
      </div>
    </div>
  </form>
</div>
<!-- include loader -->
<app-loader></app-loader>