<p class="m-0"> 
	<a class="p-10 color-white" routerLink="/playlist"> 
		<mat-icon class="mr-10 color-yellow"> playlist_play</mat-icon> 
		<span> Playlists </span>
	</a> 
</p>
<p class="m-0"> 
	<a class="p-10 color-white" routerLink="/slides"> 
		<mat-icon class="mr-10 color-yellow">web</mat-icon> 
		<span> Slides </span>
	</a> 
</p>
<p class="m-0"> 
	<a class="p-10 color-white" routerLink="/preview"> 
		<mat-icon class="mr-10 color-yellow">queue_play_ne</mat-icon> 
		<span> Preview </span>
	</a> 
</p>
<p class="m-0"> 
	<a class="p-10 color-white" routerLink="/print"> 
		<mat-icon class="mr-10 color-yellow">print</mat-icon> 
		<span> Print </span>
	</a> 
</p>
<p class="m-0"> 
	<a class="p-10 color-white" routerLink="/settings"> 
		<mat-icon class="mr-10 color-yellow">settings</mat-icon> 
		<span> Settings </span>
	</a> 
</p>
<p class="m-0"> 
	<a class="p-10 color-white" (click)="openLogoutModal()"> 
		<mat-icon class="mr-10 color-yellow">exit_to_app</mat-icon> 
		<span> Logout </span>
	</a> 
</p>
<p class="m-0"> 
	<a class="p-10 color-white" href="{{portalDashboard}}"> 
		<mat-icon class="mr-10 color-yellow">arrow_back</mat-icon> 
		<span> Back to Portal Dashboard </span>
	</a> 
</p>