<div class="container-fluid">	
  	<div class="row mg-0 mb-20">
		<div class="col col-sm-6">
			<div class="template-outer">
				<div id="tmpl-one" cdkDropList cdkDropListConnectedTo="list-2" class="template-inner">
					<!-- <div class="template-inner"> -->
					  	<div class="media row m-0" id="tmpl-one" cdkDrag (cdkDragStarted)="hideIframeArea($event)" (cdkDragMoved)="showIframeArea($event)" (cdkDragReleased)="showIframeArea($event)">
					  		
							  <img src="assets/templates/template-one.jpg" class="full-width">
						</div>
					<!-- </div> -->
				</div>
			</div>
		</div>
		<div class="col col-sm-6">
			<div class="template-outer">
				<div id="tmpl-two" cdkDropList  cdkDropListConnectedTo="list-2" class="template-inner">
				  	<div class="media row m-0" id="tmpl-two" cdkDrag (cdkDragStarted)="hideIframeArea($event)" (cdkDragMoved)="showIframeArea($event)" (cdkDragReleased)="showIframeArea($event)">
				  		<img src="assets/templates/template-two.jpg" class="full-width">	
					</div>
				</div>
			</div>	
		</div>
	</div>
	<div class="row mg-0 mb-20">
		<div class="col col-sm-6">
			<div class="template-outer">
				<div id="tmpl-three" cdkDropList  cdkDropListConnectedTo="list-2" class="template-inner">
				  	<div class="media row m-0" id="tmpl-three" cdkDrag (cdkDragStarted)="hideIframeArea($event)" (cdkDragMoved)="showIframeArea($event)" (cdkDragReleased)="showIframeArea($event)">
						<img src="assets/templates/template-three.jpg" class="full-width">
						
					</div>
				</div>
			</div>
		</div>
		<div class="col col-sm-6">
			<div class="template-outer">
				<div id="tmpl-four" cdkDropList  cdkDropListConnectedTo="list-2" class="template-inner">
				  	<div class="media row m-0" id="tmpl-four" cdkDrag (cdkDragStarted)="hideIframeArea($event)" (cdkDragMoved)="showIframeArea($event)" (cdkDragReleased)="showIframeArea($event)">
						<img src="assets/templates/template-four.jpg" class="full-width">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mg-0 mb-20">
		<div class="col col-sm-6">
			<div class="template-outer">
				<div id="tmpl-five" cdkDropList  cdkDropListConnectedTo="list-2" class="template-inner">
				  	<div class="media row m-0" id="tmpl-five" cdkDrag (cdkDragStarted)="hideIframeArea($event)" (cdkDragMoved)="showIframeArea($event)" (cdkDragReleased)="showIframeArea($event)">
						<img src="assets/templates/template-five.jpg" class="full-width">
					</div>
				</div>
			</div>
		</div>
		<div class="col col-sm-6">
			<div class="template-outer">
				<div id="tmpl-six" cdkDropList  cdkDropListConnectedTo="list-2" class="template-inner">
				  	<div class="media row m-0" id="tmpl-six" cdkDrag (cdkDragStarted)="hideIframeArea($event)" (cdkDragMoved)="showIframeArea($event)" (cdkDragReleased)="showIframeArea($event)">
						<img src="assets/templates/template-six.jpg" class="full-width">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row mg-0 mb-20">
		<div class="col col-sm-6">
			<div class="template-outer">
				<div id="tmpl-pdf" cdkDropList  cdkDropListConnectedTo="list-2" class="template-inner">					
				  	<div class="media row m-0" id="tmpl-pdf" cdkDrag (cdkDragStarted)="hideIframeArea($event)" (cdkDragMoved)="showIframeArea($event)" (cdkDragReleased)="showIframeArea($event)">
				  		<img src="assets/templates/template-pdf.jpg" class="full-width">
					</div>					
				</div>
			</div>
		</div>
		<div class="col col-sm-6">			
			<div class="template-outer">
				<div id="tmpl-video" cdkDropList  cdkDropListConnectedTo="list-2" class="template-inner">					
				  	<div class="media row m-0" id="tmpl-video" cdkDrag (cdkDragStarted)="hideIframeArea($event)" (cdkDragMoved)="showIframeArea($event)" (cdkDragReleased)="showIframeArea($event)">
				  		<img src="assets/templates/template-video.jpg" class="full-width">
					</div>					
				</div>
			</div>
		</div>
	</div>

	<div class="row mg-0 mb-20">
		<div class="col col-sm-6">
			<div class="template-outer">
				<div id="tmpl-youtube" cdkDropList  cdkDropListConnectedTo="list-2" class="template-inner">					
				  	<div class="media row m-0" id="tmpl-youtube" cdkDrag (cdkDragStarted)="hideIframeArea($event)" (cdkDragMoved)="showIframeArea($event)" (cdkDragReleased)="showIframeArea($event)">
				  		<img src="assets/templates/template-youtube.jpg" class="full-width">
					</div>
				</div>
			</div>
		</div>
		<div class="col col-sm-6">
			<div class="template-outer">
				<div id="tmpl-event-widget" cdkDropList  cdkDropListConnectedTo="list-2" class="template-inner">					
				  	<div class="media row m-0" id="tmpl-event-widget" cdkDrag (cdkDragStarted)="hideIframeArea($event)" (cdkDragMoved)="showIframeArea($event)" (cdkDragReleased)="showIframeArea($event)">
				  		<img src="assets/templates/template-event-widget.jpg" class="full-width">
					</div>					
				</div>
			</div>
		</div>
	</div>
	<div class="row mg-0 mb-20">
		<div class="col col-sm-6">
			<div class="template-outer">
				<div id="tmpl-announcement-widget" cdkDropList  cdkDropListConnectedTo="list-2" class="template-inner">					
				  	<div class="media row m-0" id="tmpl-announcement-widget" cdkDrag (cdkDragStarted)="hideIframeArea($event)" (cdkDragMoved)="showIframeArea($event)" (cdkDragReleased)="showIframeArea($event)">
				  		<img src="assets/templates/template-announcement-widget.jpg" class="full-width">
					</div>					
				</div>
			</div>
		</div>
		<div class="col col-sm-6">
			<div class="template-outer">
				<div id="tmpl-seven" cdkDropList  cdkDropListConnectedTo="list-2" class="template-inner">
				  	<div class="media row m-0" id="tmpl-seven" cdkDrag (cdkDragStarted)="hideIframeArea($event)" (cdkDragMoved)="showIframeArea($event)" (cdkDragReleased)="showIframeArea($event)">
						<img src="assets/templates/template-seven.jpg" class="full-width">
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mg-0 mb-20">
		<div class="col col-sm-6">
			<div class="template-outer">
				<div id="tmpl-eight" cdkDropList  cdkDropListConnectedTo="list-2" class="template-inner">
				  	<div class="media row m-0" id="tmpl-eight" cdkDrag (cdkDragStarted)="hideIframeArea($event)" (cdkDragMoved)="showIframeArea($event)" (cdkDragReleased)="showIframeArea($event)">
				  		<img src="assets/templates/template-eight.jpg" class="full-width">	
					</div>
				</div>
			</div>	
		</div>
		<div class="col col-sm-6">
			<div class="template-outer">
				<div id="tmpl-nine" cdkDropList  cdkDropListConnectedTo="list-2" class="template-inner">
				  	<div class="media row m-0" id="tmpl-nine" cdkDrag (cdkDragStarted)="hideIframeArea($event)" (cdkDragMoved)="showIframeArea($event)" (cdkDragReleased)="showIframeArea($event)">
				  		<img src="assets/templates/template-nine.jpg" class="full-width">	
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>