<div class="schedule-dialog">	
	<div class="row mg-0">
		<div class="col-sm-12">
			<h3 class="mg-0">{{data.title}}</h3>
			<hr>
		</div>
	</div>
	<div mat-dialog-content>
		<form autocomplete="off" #f="ngForm" [formGroup]="scheduleForm" novalidate autocomplete="off">
			<div class="row mg-0">
				<div class="col-sm-12 p-0">
				  <div class="col-sm-4 p-0">
					<h5 class="mt-0 mb-10">Schedule:</h5>
					<mat-radio-group  formControlName="schedule_type" [formControl]="scheduleForm.get('schedule_type')" class="radio-btn-wrapper" [hidden]="data.tmpl_type == 'E'">
						<mat-grid-list cols="2" rowHeight="40px">
							<mat-grid-tile>
								<mat-radio-button 
									id="manual" 
									value="M"
									(click)="makeScheudlingAdd()"
									>
									Manual
								</mat-radio-button>
							</mat-grid-tile>
							<mat-grid-tile>
								<mat-radio-button 
									id="auto" 
									value="A"
									(click)="makeScheudlingAuto()">
									Auto
								</mat-radio-button>
							</mat-grid-tile>
						</mat-grid-list>
					</mat-radio-group>
				</div>
				</div>
			</div>
			<div *ngIf="scheduleForm.get('schedule_type').value=='M'">
				<table>
					<tbody>
						<tr *ngFor="let row of scheduleForm.get('recursiverows')?.controls;let index = index;">
					      <td>
					      	<mat-form-field class="col-sm-12">
						        <input matInput
						        placeholder="Start Date *"
								[max]="row.get('max_datetime').value"
					            [owlDateTimeTrigger]="start_datetime" [owlDateTime]="start_datetime"
						        [formControl]="row.get('start_datetime')">
					        	<owl-date-time (afterPickerClosed)="changeMinDTime(row, index)" [pickerType]="'both'" [pickerMode]="'dialog'" [hour12Timer]="true" #start_datetime></owl-date-time>
					        </mat-form-field>
					      </td>
					      <td>
					      	<mat-form-field class="col-sm-12">
						        <input matInput
						        placeholder="End Date *"
								[min]="row.get('min_datetime').value"
					            [owlDateTimeTrigger]="end_datetime" [owlDateTime]="end_datetime"
						        [formControl]="row.get('end_datetime')">
						         <owl-date-time (afterPickerClosed)="changeMaxDTime(row, index)" [pickerType]="'both'" [pickerMode]="'dialog'" [hour12Timer]="true" #end_datetime></owl-date-time>
						     </mat-form-field>
					      </td>
					      <td [hidden]="data.tmpl_type == 'E'">
					      	<button (click)="onAddRow()" mat-raised-button *ngIf="scheduleForm.get('recursiverows')">
					      		<i class="material-icons">add</i></button>
					        <button *ngIf="index > 0" (click)="onRemoveRow(index)" mat-raised-button>
					        	<i class="material-icons">delete</i></button>
					      </td>
						</tr>
					</tbody>
				</table>
			</div>
			<div *ngIf="scheduleForm.get('schedule_type').value=='A'">
				<table>
					<tbody>
						<tr *ngFor="let row of scheduleForm.get('recursiverows')?.controls;let index = index;">
					      <td>
					      	<mat-form-field class="col-sm-12">
						        <input matInput
						        placeholder="Start Date *"
								[max]="row.get('max_datetime').value"
					            [owlDateTimeTrigger]="start_datetime" [owlDateTime]="start_datetime"
						        [formControl]="row.get('start_datetime')">
					        	<owl-date-time (afterPickerClosed)="changeMinDTime(row, index)" [pickerType]="'both'" [pickerMode]="'dialog'" [hour12Timer]="true" #start_datetime></owl-date-time>
					        </mat-form-field>
					      </td>
					      <td>
					      	<mat-form-field class="col-sm-12">
						        <input matInput
						        placeholder="End Date *"
								[min]="row.get('min_datetime').value"
					            [owlDateTimeTrigger]="end_datetime" [owlDateTime]="end_datetime"
						        [formControl]="row.get('end_datetime')">
						         <owl-date-time (afterPickerClosed)="changeMaxDTime(row, index)" [pickerType]="'both'" [pickerMode]="'dialog'" [hour12Timer]="true" #end_datetime></owl-date-time>
						     </mat-form-field>
					      </td>
						</tr>
					</tbody>
				</table>
				<mat-form-field class="left-size select-size">
				  <mat-select 
				  		name="daysOfWeek"
				  		placeholder="Select Repeat On"
						[formControl]="scheduleForm.get('daysOfWeek')" multiple>
					<mat-option #allSelected (click)="checkAllDays()" [value]="-1">All</mat-option>
				    <mat-option 
				    	(click)="UncheckAllDays(allSelected.viewValue)" 
				    	*ngFor="let day of all_days;let i=index; trackBy:trackByDay"
				    	[value]="day.id">
				    	{{day.value}}
				    </mat-option>
				  </mat-select>
				</mat-form-field>
			</div>
			<div class="text-center">
				<!-- <button type="submit" class="btn mr-10 back-green color-white" [disabled]="scheduleForm.invalid" >SAVE</button> -->

				<button class="btn mr-10 back-green color-white" [disabled]="scheduleForm.invalid" (click)="submitShedule()" cdkFocusInitial>SAVE</button> 
	  			<button (click)="onNoClick()" class="btn back-pink color-white">CLOSE</button>
	  		</div>
		</form>
	</div>
</div>