<div class="full-container slide-container mb-80 add_slide_page">
	<form  #slideForm="ngForm" (ngSubmit)="SaveSlide($event)" [formGroup]="SlideForm" novalidate autocomplete="off" class="back-white pb-15">
		<div class="row mg-0 mt-30 mb-20">
			<div class="col-sm-4"> <h2 class="m-0"> SLIDE BUILDER </h2> </div>
			<div class="col-sm-8 text-right">
				<a class="btn back-pink color-white mr-10 button-size" (click)="backClicked()">BACK</a>
				<a class="btn back-blue color-white mr-10 button-size" (click)="openPreviewDialog()">PREVIEW</a>
				<button type="submit" (click)="SlideForm.controls['submit'].setValue(true)" [disabled]="(SlideForm.invalid || apiCallActive)" class="btn back-green color-white mr-10 button-size">UPDATE</button>
				<button [disabled]="(SlideForm.invalid || apiCallActive)" class="btn back-blue color-white mr-10" (click)="copySlideTemplate()">COPY</button>
				<button [disabled]="(content == undefined)" class="btn back-pink color-white mr-10 button-size" (click)="saveAsTemplateClicked(content)">SAVE AS TEMPLATE</button>
				<a class="btn back-light-blue color-blue" (click)="openPrintDialog()">PRINT</a>
			</div>
		</div>
		<div class="row m-0">
			<!-- SLIDE FORM AREA START HERE -->
			<div class="col-sm-8">
				<!-- title -->
				<div class="row mg-0 mb-30">
					<div class="col-sm-6">
			            <mat-form-field>
			              <input matInput 
			              	name="title" 
			              	placeholder="Slide Title *"
			              	formControlName="title" 
			              	[formControl]="SlideForm.get('title')">              
			            </mat-form-field>
			        </div>
		        	<!-- description -->
		        	<div class="col-sm-6">
			        	<mat-form-field>
					    	<textarea matInput 
					    		name="description" 
				              	placeholder="Slide Description"
				              	formControlName="description" 
				              	[formControl]="SlideForm.get('description')">
				            </textarea>
					  	</mat-form-field>
			        </div>
			    </div>
			    <!--   data-html2canvas-ignore="true" -->
			    <div class="text-center mb-30 font-20 color-blue">
		        	<strong> [ Drag and drop the below templates to create the slide ] </strong>
		        </div>

				<!-- TEMPLATE CANVS AREA START HERE -->
				<div class="editor-outer fixdimensions">
					<div crossOrigin="anonymous" #screen class="example-custom-placeholder back-grey full-width full-height" 
						cdkDropList 
						id="list-2" 
						(cdkDropListEntered)="hideIframeArea($event)"
						(cdkDropListExited)="showIframeArea($event)"
						(cdkDropListDropped)="drop($event)"
						[ngClass]="
						SlideForm.get('showfooter').value == 'N' ? 'has-n' :
						SlideForm.get('showfooter').value == 'F' ? 'has-f' :
						SlideForm.get('showfooter').value == 'A' ? 'has-a' : 'has-fa' ">
				  		<template #messagecontainer></template>
				  		<app-preview-footer></app-preview-footer>
					</div>
				</div>
				<!-- TEMPLATE CANVS AREA ENDS HERE -->

				<div>
					<div class="mt-30 mb-20">
						<h5 class="mt-0 mb-10">Preview with Footer Options</h5>
						<mat-radio-group (change)="setFooterStatus()" name="showfooter" formControlName="showfooter" [formControl]="SlideForm.get('showfooter')" class="radio-btn-wrapper">
						  <mat-radio-button id="all" value="T">All</mat-radio-button>
						  <mat-radio-button id="an" value="A">Only Announcement</mat-radio-button>
						  <mat-radio-button id="fo" value="F">Only Footer</mat-radio-button>
						  <mat-radio-button id="nfa" value="N">No footer & No announcement</mat-radio-button>
						</mat-radio-group>
					</div>
					<div class="mt-30 mb-20" *ngIf="curr_template_id != 'tmpl-video'">
						<h5 class="mt-0 mb-10">Select the number of seconds to display</h5>
						<mat-radio-group name="duration" formControlName="duration" [formControl]="SlideForm.get('duration')" class="radio-btn-wrapper">
						  <mat-radio-button id="ten" value="10">10</mat-radio-button>
						  <mat-radio-button id="twenty" value="20">20</mat-radio-button>
						  <mat-radio-button id="thirty" value="30">30</mat-radio-button>
						  <mat-radio-button *ngIf="curr_template_id == 'tmpl-youtube'" 
						  	 id="custom" value="custom">Custom</mat-radio-button>
						</mat-radio-group>
						<div *ngIf="curr_template_id == 'tmpl-youtube' && SlideForm.get('duration').value == 'custom'">
							<div class="row mg-0 mb-30">
								<div class="col-sm-6">
									<mat-form-field>
										<mat-label>Minutes</mat-label>
										<mat-select
										  	name="customduration" 
							              	[formControl]="SlideForm.get('customduration')">
										    <mat-option *ngFor="let dummy of ' '.repeat(60).split(''); let i = index;" value="{{i}}">{{i}}</mat-option>
										</mat-select>
						            </mat-form-field>
						        </div>
						        <div class="col-sm-6">
						            <mat-form-field>
						              <mat-label>Seconds</mat-label>
									  <mat-select
									  	name="customdurationsec" 
						              	[formControl]="SlideForm.get('customdurationsec')">
									    <mat-option *ngFor="let dummy of ' '.repeat(60).split(''); let i = index;" value="{{i}}">{{i}}</mat-option>
									  </mat-select>
									</mat-form-field>
								</div>
							</div>
			            </div>
					</div>
					<div class="mb-20">
						<h5 class="mt-0 mb-10">Schedule this slide:</h5>
						<mat-radio-group name="scheduled" (change)="CheckRequiredFields()" formControlName="scheduled" [formControl]="SlideForm.get('scheduled')" class="radio-btn-wrapper">
							<mat-radio-button 
								id="no" 
								value="N"
								(click)="makeScheudlingBlank()">
								Display this slide until I delete or hide it.	
							</mat-radio-button>
							<mat-radio-button 
								id="yes" 
								value="Y"
								(click)="makeScheudlingAdd()">
								Schedule
							</mat-radio-button>
						</mat-radio-group>
						<!-- {{curr_template_id}} -->
						<div class="mt-30 mb-20" 
							*ngIf="SlideForm.get('scheduled').value=='Y' && curr_template_id == 'tmpl-event'">
							<div class="row">
								<mat-form-field class="col-sm-6">
									<input matInput 
										placeholder="Start Date"
										[required]="SlideForm.get('scheduled').value=='Y'"
										formControlName="start_datetime" 
										[formControl]="SlideForm.get('start_datetime')"
										[max]="max_dtOnEvent"
							            [owlDateTimeTrigger]="start_datetime" [owlDateTime]="start_datetime">
							        <owl-date-time (afterPickerClosed)="changeMinDTimeOnEvent()" [pickerType]="'both'" [pickerMode]="'dialog'" [hour12Timer]="true" #start_datetime></owl-date-time>
							    </mat-form-field>
							    <mat-form-field class="col-sm-6">
									<input matInput 
										placeholder="End Date"
										[required]="SlideForm.get('scheduled').value=='Y'"
										formControlName="end_datetime" 
										[formControl]="SlideForm.get('end_datetime')"
										[min]="min_dtOnEvent"
							            [owlDateTimeTrigger]="end_datetime" [owlDateTime]="end_datetime">
							        <owl-date-time (afterPickerClosed)="changeMaxDTimeOnEvent()" [pickerType]="'both'" [pickerMode]="'dialog'" [hour12Timer]="true" #end_datetime></owl-date-time>
							    </mat-form-field>
							</div>
						</div>
						<div *ngIf="curr_template_id != 'tmpl-event' && SlideForm.get('scheduled').value=='Y'" class="row">
							<div class="col-sm-12">
								<mat-radio-group name="schedule_type" formControlName="schedule_type" [formControl]="SlideForm.get('schedule_type')" class="radio-btn-wrapper">
									<mat-radio-button 
										id="manual" 
										value="M"
										(click)="makeScheudlingAdd()"
										>
										Manual
									</mat-radio-button>
									<mat-radio-button 
										id="auto" 
										value="A"
										(click)="makeScheudlingAuto()">
										Auto
									</mat-radio-button>
								</mat-radio-group>
							</div>
							<!-- Start DateTime -->
							<!-- <mat-form-field class="col-sm-6">
								<input matInput 
									placeholder="Start Date"
									[required]="SlideForm.get('scheduled').value=='Y'"
									formControlName="start_datetime" 
									[formControl]="SlideForm.get('start_datetime')"
									[max]="max_dt"
						            [owlDateTimeTrigger]="start_datetime" [owlDateTime]="start_datetime">
						        <owl-date-time (afterPickerClosed)="changeMinDTime()" [pickerType]="'both'" [pickerMode]="'dialog'" [hour12Timer]="true" #start_datetime></owl-date-time>
						    </mat-form-field> -->
							
							<!-- End DateTime -->
							<!-- <mat-form-field class="col-sm-6">
								<input matInput 
									placeholder="End Date"
									[required]="SlideForm.get('scheduled').value=='Y'"
									formControlName="end_datetime" 
									[formControl]="SlideForm.get('end_datetime')"
									[min]="min_dt"
						            [owlDateTimeTrigger]="end_datetime" [owlDateTime]="end_datetime">
						        <owl-date-time (afterPickerClosed)="changeMaxDTime()" [pickerType]="'both'" [pickerMode]="'dialog'" [hour12Timer]="true" #end_datetime></owl-date-time>
						    </mat-form-field> -->
						    <div *ngIf="SlideForm.get('schedule_type').value=='M'">
							<table>
								<tbody>
									<tr *ngFor="let row of SlideForm.get('recursiverows')?.controls;let index = index;">
								      <td>
								      	<mat-form-field class="col-sm-12">
									        <input matInput
									        placeholder="Start Date *"
											[max]="row.get('max_datetime').value"
								            [owlDateTimeTrigger]="start_datetime" [owlDateTime]="start_datetime"
									        [formControl]="row.get('start_datetime')">
								        	<owl-date-time (afterPickerClosed)="changeMinDTime(row, index)" [pickerType]="'both'" [pickerMode]="'dialog'" [hour12Timer]="true" #start_datetime></owl-date-time>
								        </mat-form-field>
								      </td>
								      <td>
								      	<mat-form-field class="col-sm-12">
									        <input matInput
									        placeholder="End Date *"
											[min]="row.get('min_datetime').value"
								            [owlDateTimeTrigger]="end_datetime" [owlDateTime]="end_datetime"
									        [formControl]="row.get('end_datetime')">
									         <owl-date-time (afterPickerClosed)="changeMaxDTime(row, index)" [pickerType]="'both'" [pickerMode]="'dialog'" [hour12Timer]="true" #end_datetime></owl-date-time>
									     </mat-form-field>
								      </td>
								      <td>
								      	<button (click)="onAddRow()" mat-raised-button *ngIf="SlideForm.get('recursiverows')">
								      		<i class="material-icons">add</i></button>
								        <button *ngIf="index > 0" (click)="onRemoveRow(index)" mat-raised-button>
								        	<i class="material-icons">delete</i></button>
								      </td>
									</tr>
								</tbody>
							</table>
							</div>
							<div *ngIf="SlideForm.get('schedule_type').value=='A'">
								<table>
									<tbody>
										<tr *ngFor="let row of SlideForm.get('recursiverows')?.controls;let index = index;">
									      <td>
									      	<mat-form-field class="col-sm-12">
										        <input matInput
										        placeholder="Start Date *"
												[max]="row.get('max_datetime').value"
									            [owlDateTimeTrigger]="start_datetime" [owlDateTime]="start_datetime"
										        [formControl]="row.get('start_datetime')">
									        	<owl-date-time (afterPickerClosed)="changeMinDTime(row, index)" [pickerType]="'both'" [pickerMode]="'dialog'" [hour12Timer]="true" #start_datetime></owl-date-time>
									        </mat-form-field>
									      </td>
									      <td>
									      	<mat-form-field class="col-sm-12">
										        <input matInput
										        placeholder="End Date *"
												[min]="row.get('min_datetime').value"
									            [owlDateTimeTrigger]="end_datetime" [owlDateTime]="end_datetime"
										        [formControl]="row.get('end_datetime')">
										         <owl-date-time (afterPickerClosed)="changeMaxDTime(row, index)" [pickerType]="'both'" [pickerMode]="'dialog'" [hour12Timer]="true" #end_datetime></owl-date-time>
										     </mat-form-field>
									      </td>
										</tr>
									</tbody>
								</table>
								<mat-form-field class="select-size">
								  <mat-select 
								  		name="daysOfWeek"
								  		placeholder="Select Repeat On"
										[formControl]="SlideForm.get('daysOfWeek')" multiple>
								    <mat-option #allSelected (click)="checkAllDays()" [value]="-1">All</mat-option>
								    <mat-option  
								    	(click)="UncheckAllDays(allSelected.viewValue)"
								    	*ngFor="let day of all_days;let i=index; trackBy:trackByDay"
								    	[value]="day.id">
								    	{{day.value}}
								    </mat-option>
								  </mat-select>
								</mat-form-field>
							</div>
						</div>
					</div>
					<div class="mb-20">
						<mat-form-field>
						  <mat-select 
						  		name="playlist_id"
						  		placeholder="Playlists"
								[formControl]="SlideForm.get('playlist_id')" multiple>
						    <mat-option  
						    	*ngFor="let playlist of playlists;trackBy:trackByPlaylist" 
						    	[value]="playlist.playlist_id">
						    	{{playlist.name}}
						    </mat-option>
						  </mat-select>
						</mat-form-field>
					</div>
					<!-- <button class="btn back-green color-white font-20 mb-20">Save as a Template</button> -->
				</div>
			</div>
			<!-- SLIDE FORM AREA ENDS HERE -->

			<!-- TEMPLATES LIST AREA START HERE -->
			<div class="col-sm-4 template-navigation">
				<mat-tab-group class="back-mid-grey full-height text-center">
				  <mat-tab label="Templates"> 
				  	<app-templates></app-templates> 
				  </mat-tab>
				  <mat-tab label="Saved Templates"> 
				  	<small class="text-danger">
				  		<b>* Drag and drop below templates to create slide</b>
				  	</small>
				  	<!-- ************************ -->
				  	<div>
				  		<div class="container-fluid">	
						  	<div class="row mg-0 mb-20"  *ngIf="savedTemplateData.length>0">
								<div class="col col-sm-6 mb-20" *ngFor="let savedTemplate of savedTemplateData; let index =index">
									<div class="template-outer editor-grid-inner">
										<div [id]="savedTemplate.template_id+'_'+index" cdkDropList cdkDropListConnectedTo="list-2" [ngClass]="['template-inner', 'savedTemplateClass', savedTemplate.template_id]">
											<!-- <div class="template-inner"> -->
											  	<a data-html2canvas-ignore="true" href="javascript:void(0)" (click)="TrashTemplate(savedTemplate.temp_id)" class="editor-tools color-white-icon btn p-0">
													<mat-icon class="material-icons-margin">delete</mat-icon>
												</a>
											  	<div class="media row m-0" data="savedTemplate" [id]="savedTemplate.template_id+'_'+index" cdkDrag >
													  <img [src]="mediaUrl+savedTemplate.cover_image" class="full-width">
													  <small class="text-slide-center font-size-name">{{savedTemplate.name}}</small>
												</div>
											<!-- </div> -->
										</div>
									</div>
								</div>
							</div>
							<div class="row mg-0 mb-20" *ngIf="savedTemplateData.length==0">
								<div class="col col-sm-12 mb-20">
									No Templates Found
								</div>	
							</div>
							<mat-paginator [length]="length"  *ngIf="savedTemplateData.length>0"
				              [pageSize]="pageSize"
				              (page)="getNext($event)" class="back-light-blue page-paginator color-blue">
							</mat-paginator>
						</div>
				  	</div>
				  	<!-- ************************ -->
				  </mat-tab>
				  <mat-tab label="Layouts" *ngIf="nextphase" disabled="true" class="back-green color-light-grey"> </mat-tab>
				  <mat-tab label="Widgets" *ngIf="nextphase" disabled="true" class="back-green color-light-grey"> </mat-tab>
				</mat-tab-group>				
			</div>	
			<!-- TEMPLATES LIST AREA ENDS HERE -->
		</div>
	</form>	
</div>