.full-container { padding: 15px; }
.full-container > div { background: #fff; border: 1px solid #aaa; }
.full-container > div .col-sm-8 { border-right: 1px solid #aaa; }
.example-custom-placeholder {
	border: 3px dotted #999;
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
	position: absolute;
	top: 0px;
	left: 0px;
}
.editor-outer {position: relative; }
.slide-container {
  display: flex;
  flex-direction: column;
}

.slide-container > * {
  width: 100%;
}
.mat-form-field{display: block;}
.fixdimensions { width: 640px; height: 360px; overflow: hidden; margin: 0 auto; }
.select-size{margin-left:15px}
.mat-raised-button{
    margin: 2px;
    min-width: 35px;
    line-height: 28px;
    padding: 0 0px;
}

.color-white-icon {
    color: #000 !important;
}

.editor-tools {
    position: absolute;
    right: 4px;
    top: -4px;
    text-align: right;
     opacity: unset !important;
    transition: all 0.3s;
    background: unset !important; 
    padding: 5px 10px;
    width: 100%;
    font-size: 20px;
    z-index: 10;
}

.text-slide-center{width:100%;font-weight: 700;}
.button-size {margin-right: 5px !important;}
small.text-slide-center.font-size-name {font-size: 70%;}
