<form #f="ngForm" (ngSubmit)="submitMedia()" [formGroup]="mediaForm" novalidate autocomplete="off">
	<div mat-dialog-content>
		<div class="container">
			<div class="col-sm-6 background-radio">
		        <mat-radio-group [formControl]="mediaForm.get('bgmediatype')" required class="radio-btn-wrapper">
		          <mat-grid-list cols="2" rowHeight="40px">
		            <mat-grid-tile>
		              <mat-radio-button value="new_upload" id="new_upload">Upload</mat-radio-button>
		            </mat-grid-tile>
		            <mat-grid-tile>
		              <mat-radio-button value="ext_img" id="ext_img">Select Existing</mat-radio-button>
		            </mat-grid-tile>  
		          </mat-grid-list>
		        </mat-radio-group>
		    </div>
			<div *ngIf="mediaForm.get('bgmediatype').value=='new_upload'">
                <div class="mt-30">
                	<label for="image" class="inline-block-middle mg-0 mr-20 line-35">SELECT IMAGE</label>
                	<!-- accept=".pdf, .ppt" -->
					<input #fileInput id="image"
						type="file"
						[hidden]="true" 
						class="hidden" 
						(change)="setPreviewImage($event)"
						accept="image/*">
                  	<input type="hidden" [formControl]="mediaForm.get('newmedia')"/>
                  	<button type="button" class="btn btn-small back-light-blue color-blue inline-block-middle" #upload (click)="fileInput.click()">UPLOAD FILE</button>
                  <div class="mt-10" *ngIf="imgUrl">
	                <img [src]="imgUrl" width="auto"  height="100px" />
	            	</div>
                </div>
			</div>
			<div *ngIf="mediaForm.get('bgmediatype').value=='ext_img'" class="mt-30">
				<div *ngIf="!medias?.length">
			        <p>No media found.</p>
			    </div>
			    <mat-radio-group [formControl]="mediaForm.get('media')">
				    <div class="row">
					    <div class="media-list mb-15 col-sm-4" *ngFor="let media of medias;trackBy:trackByMedia">
					    	<div class="back-grey playlist-inner">
					    		<img [defaultImage]="blurDefault" [errorImage]="media_thumb" [lazyLoad]="mediaUrl+media.image+'?'+dateTemp" width="auto"  height="100px" />
				    			<mat-radio-button value="{{media.image}}" required></mat-radio-button>
					    	</div>					    	
					    </div>
					</div>
				</mat-radio-group>
			    <mat-paginator [length]="length"
	              [pageSize]="pageSize"
	              (page)="getNext($event)" class="back-light-blue page-paginator color-blue font-16">
				</mat-paginator>
			</div>
		</div>
	</div>
	<div class="mt-30 mb-0-i text-center">
		<button type="submit" [disabled]="mediaForm.invalid" class="btn back-green color-white mr-10">APPLY</button>
		<button type="button" (click)="onNoClick()" class="btn back-pink color-white">CANCEL</button>
	</div>
</form>

<!-- include loader -->
<app-loader></app-loader>