<div *ngIf="!showEditor"><mat-spinner></mat-spinner></div>
<div [hidden]="!showEditor" class="card">
	<div class="card-body" no-padding>
		<div mat-dialog-content>
			<div class="">
				<editor apiKey="{{tinyKey}}" [init]="tinyMceSettings"  [(ngModel)]="editorData" (onInit)="loadedMCE()"></editor>
			</div>
		</div>	
	</div>
	<div class="card-footer">
		<a class="btn back-green color-white font-20 mr-10" (click)="saveEditorInfo()">Save</a>
		<a class="btn back-pink color-white font-20" (click)="dialogRef.close({'type': 'close', 'content':''})">Cancel</a>
    </div>	
</div>

