<div class="container-fluid">
	<div class="dash-container">
		<div class="row class mb-30">
			<div class="col-sm-12 col-md-6 col-lg-8">
				<h2>{{title}}</h2>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4 text-right">
				<a class="btn back-green color-white font-20 mr-10" routerLink="/add-playlist">ADD PLAYLIST</a>
			</div>
		</div>

		<!-- include global search -->
		<app-global-search></app-global-search>

		<div id="existing-playlists">
			<div *ngIf="!playlists?.length">
		        <p>No playlists found.</p>
		    </div>
			<div class="playlist-info mb-15" *ngFor="let playlist of playlists;trackBy:trackByPlaylist">
				<div class="row mb-20" style="padding-bottom: 20px; border-bottom: 1px solid #ccc;">
					<div class="col-sm-2">	
						<a class="mt-10 mb-10 btn btn-small full-width back-green border-green color-white text-left" [routerLink]="['/preview', {playlist:playlist.playlist_id}]">
							<mat-icon class="inline-block-middle font-20"> visibility </mat-icon>
							<span class="inline-block-middle"> LIVE VIEW </span>
						</a>
						<a class="mb-10 btn btn-small full-width back-blue color-white border-blue text-left" [routerLink]="['/edit-playlist', playlist.playlist_id]">
							<mat-icon class="inline-block-middle font-20 mr-10"> border_color </mat-icon>
							<span class="inline-block-middle"> EDIT </span>
						</a>
						<a class="mb-10 btn btn-small full-width back-white color-dark-grey text-left border-dark-grey" (click)="openDelteDialog(playlist.playlist_id)">
							<mat-icon class="inline-block-middle font-20 mr-10"> delete_forever </mat-icon>
							<span class="inline-block-middle"> DELETE </span>
						</a>
					</div>
					<div class="col-sm-10">
						<p class="font-20 line-35 mb-10 mt-10">{{playlist.name}}</p>
						<p>{{playlist.description}}</p>
						<p class="mg-0 color-blue"> <strong> [ Click the playlist link to play the slideshow. ]</strong></p>
						<a class="inline-block-middle mb-15 color-pink" target="_blank" [routerLink]="['/home', playlist.slug]">{{playlistURL}}digisign/#/home/{{playlist.slug}}</a>
					</div>
				</div>
			</div>
		</div>
		<mat-paginator [length]="length"
              [pageSize]="pageSize"
              (page)="getNext($event)" class="back-light-blue page-paginator color-blue font-16">
		</mat-paginator>
	</div>
</div>