<div class="row back-white m-0 full-height full-width template-six align-items-center editor-sec" *ngIf="type == 'add'"
	[style.background-color]="templatedata.rightcolsettings.bgtype=='bgcolor' ? templatedata.rightcolsettings.bgcolor : ''" 

	[style.background-image]="(templatedata.rightcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.rightcolsettings.bgimage+'?'+dateTemp):''" 

	[style.background-repeat]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgrepeat : ''" 
	[style.background-size]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgsize : ''"
	[style.background-position]="(templatedata.rightcolsettings.bgtype=='bgimage') ? templatedata.rightcolsettings.bgposition : ''">
	<a data-html2canvas-ignore="true" (click)="openDialog('right')" class="color-white btn font-20 has-shadow p-0 slide-settings">
		<i class="fa fa-cog"></i>
	</a>
	<div class="col-sm-12 p-0 content-col">		
		<div style="width: 90%; margin: 0 auto 3%; padding-bottom: 30%; position: relative;" class="back-mid-grey">
			<div [style.background-color]="templatedata.leftcolsettings.bgtype=='bgcolor' ? templatedata.leftcolsettings.bgcolor : ''" 

			[style.background-image]="(templatedata.leftcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.leftcolsettings.bgimage+'?'+dateTemp):''" 
			
			[style.background-repeat]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgrepeat : ''" 
			[style.background-size]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgsize : ''"
			[style.background-position]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgposition : ''"
				style="position: absolute; width: 100%; height: 100%; border: 2px solid #000;  background: #fff;"> 
				<a data-html2canvas-ignore="true" (click)="openDialog('left',false)" class="color-white btn font-20 has-shadow p-0 slide-settings">
					<i class="fa fa-cog"></i>
				</a>
			</div>
		</div>
		<div class="scale-block">
			<div class="slide-contents" [ngClass] = "(templatedata.title) ? '' : 'empty-min-height'">
				<div 
				class="mg-0 text-center slide_content" 
				[style.color]="this.templatedata.rightcolsettings.txtcolor"
				[innerHTML]="templatedata.title | sanitizeHtml"></div>
				<mat-icon data-html2canvas-ignore="true" (click)="openEditor(templatedata.title,'title')">edit</mat-icon>
			</div>
		</div>
	</div>
</div>

<!-- Preview / Print -->
<div class="print-div printable_div full-height" *ngIf="type == 'print' || type == 'preview'" [ngClass]="( moreHeight ) ? 'portrait_mode' : ''">
	<div class="back-white printable_div_trans template-six full-height" [ngClass] = "
		(type == 'print') ?
		(scroll_announcement.status == 'Y' && community_footer.status == 'Y') ? 'has-footer-announce' : 
		(scroll_announcement.status == 'N' && community_footer.status == 'Y') ? 'has-single-footer' : 
		(scroll_announcement.status == 'Y' && community_footer.status == 'N') ? 'has-single-announce' : ''
		: ''">
		<div class="row m-0 main-section full-height" *ngIf="is_valide == 'yes'">
			<div class="row bg-grey m-0 full-height full-width template-six align-items-center" 
				*ngIf="templatedata.rightcolsettings.bgtype == 'bgcolor'" [ngStyle]="{ 'background-color': ''+templatedata.rightcolsettings.bgcolor+''}">				
				<div class="full-width">
					<div style="width: 90%; margin: 0 auto 3%; padding-bottom: 30%; position: relative;">
						<div *ngIf="templatedata.leftcolsettings.bgtype == 'bgcolor'" [ngStyle]="	{ 'background-color': ''+templatedata.leftcolsettings.bgcolor+''}"
							style="position: absolute; width: 100%; height: 100%; border: 2px solid #000;"> 							
						</div>
						<div class="col-left-with-bg" *ngIf="templatedata.leftcolsettings.bgtype == 'bgimage'"
							
							[style.background-image]="(templatedata.leftcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.leftcolsettings.bgimage+'?'+dateTemp):''"
							appBackgroundImageLoaded 
							(imageLoaded)="lefttransvisibility='visible'"

							[style.background-repeat]="templatedata.leftcolsettings.bgrepeat" 
							[style.background-size]="templatedata.leftcolsettings.bgsize"
							[style.background-position]="templatedata.leftcolsettings.bgposition"
							style="position: absolute; width: 100%; height: 100%; border: 2px solid #000;"> 							
						<div [ngClass]="lefttransvisibility=='hidden'?'show':'hide'" class="preloader"></div>
						</div>
					</div>
					<div class="slide-contents" [ngClass] = "(templatedata.title) ? '' : 'empty-min-height'">
						<div 
						class="mg-0 text-center slide_content" 
						[style.color]="this.templatedata.rightcolsettings.txtcolor"
						[innerHTML]="templatedata.title | sanitizeHtml"></div>		
					</div>			
				</div>
			</div>

			<div class="row col-right-with-bg bg-grey m-0 full-height full-width template-six align-items-center" 
				*ngIf="templatedata.rightcolsettings.bgtype == 'bgimage'"
				
				[style.background-image]="(templatedata.rightcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.rightcolsettings.bgimage+'?'+dateTemp):''"
				appBackgroundImageLoaded 
				(imageLoaded)="righttransvisibility='visible'"

				[style.background-repeat]="templatedata.rightcolsettings.bgrepeat" 
				[style.background-size]="templatedata.rightcolsettings.bgsize"
				[style.background-position]="templatedata.rightcolsettings.bgposition">				
				<div class="full-width">
					<div style="width: 90%; margin: 0 auto 3%; padding-bottom: 30%; position: relative;">
						<div *ngIf="templatedata.leftcolsettings.bgtype == 'bgcolor'" [ngStyle]="	{ 'background-color': ''+templatedata.leftcolsettings.bgcolor+''}"
							style="position: absolute; width: 100%; height: 100%; border: 2px solid #000;"> 							
						</div>
						<div class="col-left-with-bg" *ngIf="templatedata.leftcolsettings.bgtype == 'bgimage'"
							
							[style.background-image]="(templatedata.leftcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.leftcolsettings.bgimage+'?'+dateTemp):''"
							appBackgroundImageLoaded 
							(imageLoaded)="lefttransvisibility='visible'"

							[style.background-repeat]="templatedata.leftcolsettings.bgrepeat" 
							[style.background-size]="templatedata.leftcolsettings.bgsize"
							[style.background-position]="templatedata.leftcolsettings.bgposition"
							style="position: absolute; width: 100%; height: 100%; border: 2px solid #000;">
							<div 
							[ngClass]="lefttransvisibility=='hidden'?'show':'hide'" 
							class="preloader"></div>		
						</div>
					</div>
					<div class="slide-contents" [ngClass] = "(templatedata.title) ? '' : 'empty-min-height'">
						<div 
						class="mg-0 inner-content-tmpl text-center slide_content" 
						[style.color]="this.templatedata.rightcolsettings.txtcolor"
						[innerHTML]="templatedata.title | sanitizeHtml"></div>	
					</div>				
				</div>
				<div [ngClass]="righttransvisibility=='hidden'?'show':'hide'" class="preloader"></div>	
			</div>
		</div>
		<div class="row mg-0 footer-section" *ngIf="type == 'hideprint'">
			<div class="col-sm-12 scroll_announcement p-0" *ngIf="scroll_announcement.status == 'Y'">
				<app-scroll-announcement [scroll_text]='scroll_announcement.content'></app-scroll-announcement>
			</div>
			<div class="col-sm-12 footer_text" *ngIf="community_footer.status == 'Y'">
				<app-community-footer [community_footer]='community_footer.content'></app-community-footer>
			</div>
		</div>
		<div class="row m-0" *ngIf="is_valide == 'no'">
			<p>No data found.</p>
		</div>
	</div>	
</div>