<div class="row mg-0 footer-section preview-footer" *ngIf="footerStatus!=='N'">
	<div class="col-sm-12 p-0 scroll_announcement" *ngIf="tempAnnouncement.announcements && (footerStatus=='A' || footerStatus=='T')">
		<marquee [style.background-color]="tempAnnouncement.announcementBgcolor || '#FFFFFF'" [style.color]="tempAnnouncement.announcementColor || '#000000'" [attr.scrollamount]="tempAnnouncement.scrolldelay" scrolldelay="5">	{{tempAnnouncement.announcements}}
		</marquee>
	</div>
	<div class="col-sm-12 footer_text"  *ngIf="footerStatus=='F' || footerStatus=='T'">
		<div class="row" [style.background-color]="tempWeather.footerBgcolor || '#FFFFFF'">
			<div class="col-sm-4">
				<img [src]="tempWeather.logo ? mediaUrl+tempWeather.logo+'?'+dateTemp : default_logo" style="height: 30px; width: auto;" alt="Community footer logo" />
			</div>
			<div class="col-sm-3 text-center">
				<p class="mg-0" [style.color]="tempWeather.footerColor || '#000000'"><strong>{{ now | date:'hh:mm a'}}</strong></p>
			</div>
			<div class="col-sm-5 text-right">
				<p class="mg-0" [style.color]="tempWeather.footerColor || '#000000'"><strong>{{tempWeather.temp | number:'1.0-0'}}<sup>°</sup> {{(tempWeather.custom_city_name) ? tempWeather.custom_city_name : tempWeather.city_name}}</strong></p>
			</div>
		</div>
	</div>
</div>