<!-- Add / edit slide -->
<div class="row back-white m-0 full-height template-event-widget editor-sec" *ngIf="type == 'add'">
	<div class="col-sm-12 p-15 content-col"
		[style.background-color]="templatedata.leftcolsettings.bgtype=='bgcolor' ? templatedata.leftcolsettings.bgcolor : ''" 
		[style.color]="templatedata.leftcolsettings.txtcolor"
		[style.background-image]="(templatedata.leftcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.leftcolsettings.bgimage+'?'+dateTemp):''" 

		[style.background-repeat]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgrepeat : ''" 
		[style.background-size]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgsize : ''"
		[style.background-position]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgposition : ''">
		<a data-html2canvas-ignore="true" (click)="openDialog('left', true)" class="color-white btn font-20 has-shadow p-0 slide-settings">
			<i class="fa fa-cog"></i>
		</a>

		<a data-html2canvas-ignore="true" (click)="openAnnouncementWidgetDialog()" class="color-white btn font-20 has-shadow p-0 slide-settings" [ngStyle]="{ 'right': '50px' }">
			<i class="fa fa-pencil"></i>
		</a>
		<div class="text-center" *ngIf="templatedata.announcements.homepage && templatedata.widget_type=='homepage'"> 
			<div *ngFor="let announce of templatedata.announcements.homepage">
				<div *ngIf="announce.ID===templatedata.HomeAnnounceId">
				
				<h1 class="event-widget-title">{{announce.post_title}}</h1>
				<div class="slide-contents" [innerHTML]="announce.post_content | sanitizeHtml"></div>
					
				</div>
			</div>			
		</div>
		<div class="text-center" *ngIf="templatedata.announcements.dining && templatedata.widget_type=='dining'">
			<div *ngFor="let announce of templatedata.announcements.dining" [style.color]="this.templatedata.leftcolsettings.txtcolor">
				<h1 class="event-widget-title">{{announce.post_title}}</h1>
				<div class="slide-contents" [innerHTML]="announce.post_content | sanitizeHtml"></div>
			</div>			
		</div>
		<div class="text-center" *ngIf="templatedata.announcements.homepage.length==0 && templatedata.widget_type=='homepage'">
			<h3>No Announcements</h3>			
		</div>
		<div class="text-center" *ngIf="templatedata.announcements.dining.length==0 &&  templatedata.widget_type=='dining'">
			<h3>No Announcements</h3>			
		</div>
	</div>
</div>

<!-- Preview / Print -->
<div class="print-div printable_div full-height" *ngIf="type == 'print' || type == 'preview'" [ngClass]="( moreHeight ) ? 'portrait_mode' : ''">
	<div class="back-white printable_div_trans template-event-widget full-height" [ngClass] = "
		(type == 'print') ?
		(scroll_announcement.status == 'Y' && community_footer.status == 'Y') ? 'has-footer-announce' : 
		(scroll_announcement.status == 'N' && community_footer.status == 'Y') ? 'has-single-footer' : 
		(scroll_announcement.status == 'Y' && community_footer.status == 'N') ? 'has-single-announce' : ''
		: 'has-front-veiw'">
		<div class="row m-0 main-section full-height" *ngIf="is_valide == 'yes'">
			<div class="col-sm-12 col-right-with-bg p-15 content-col"
			[style.background-color]="templatedata.leftcolsettings.bgtype=='bgcolor' ? templatedata.leftcolsettings.bgcolor : ''" 
			[style.color]="templatedata.leftcolsettings.txtcolor"
			[style.background-image]="(templatedata.leftcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.leftcolsettings.bgimage+'?'+dateTemp):''" 
			appBackgroundImageLoaded 
			(imageLoaded)="righttransvisibility='visible'"

			[style.background-repeat]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgrepeat : ''" 
			[style.background-size]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgsize : ''"
			[style.background-position]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgposition : ''">
				<div class="text-center inner-content-tmpl" *ngIf="templatedata.announcements.homepage && templatedata.widget_type=='homepage'">
					<div *ngFor="let announce of templatedata.announcements.homepage" [style.color]="this.templatedata.leftcolsettings.txtcolor">
						<div *ngIf="announce.ID===templatedata.HomeAnnounceId">
						
						<h1 class="event-widget-title">{{announce.post_title}}</h1>
						<div class="slide-contents" [innerHTML]="announce.post_content | sanitizeHtml"></div>

						</div>	
					</div>			
				</div>
				<div class="text-center inner-content-tmpl" *ngIf="templatedata.announcements.dining && templatedata.widget_type=='dining'">
					<div *ngFor="let announce of templatedata.announcements.dining" [style.color]="this.templatedata.leftcolsettings.txtcolor">
						<h1 class="event-widget-title">{{announce.post_title}}</h1>
						<div class="slide-contents" [innerHTML]="announce.post_content | sanitizeHtml"></div>
					</div>			
				</div>
				<div *ngIf="templatedata.leftcolsettings.bgtype=='bgimage'" [ngClass]="righttransvisibility=='hidden'?'show':'hide'" class="preloader"></div>
			</div>						
		</div>
		<div class="row mg-0 footer-section" *ngIf="type == 'print'">
			<div class="col-sm-12 scroll_announcement p-0" *ngIf="scroll_announcement.status == 'Y'">
				<app-scroll-announcement [scroll_text]='scroll_announcement.content'></app-scroll-announcement>
			</div>
			<div class="col-sm-12 footer_text" *ngIf="community_footer.status == 'Y'">
				<app-community-footer [community_footer]='community_footer.content'></app-community-footer>
			</div>
		</div>
		<div class="row m-0" *ngIf="is_valide == 'no'">
			<p>No data found.</p>
		</div>
	</div>
</div>