<mat-drawer-container [ngClass]="['example-container', toggleClass]">
	<mat-drawer mode="side" opened *ngIf="hideHF">
		<div class="back-blue color-white side-menu">
  			<h5 class="m-0"> 
  				<a class="p-20-10 color-white" routerLink="/"> 
      				<mat-icon class="mr-10 color-yellow" (click) = "closeSideNav()" >reorder</mat-icon> 
      				<span> Digital Signage </span> 
    			</a> 
 			</h5>
			<app-header></app-header>
			<p class="m-0"> 
  				<a class="p-10 color-white" href="javascript:void(0);" (click) = "closeSideNav()"> 
      				<mat-icon class="mr-10 color-yellow border-yellow circle-border only-font-20">keyboard_arrow_left</mat-icon> 
      				<span> Collapse</span> 
    			</a> 
 			</p>
		</div>
	</mat-drawer>
	<mat-drawer-content (window:resize)="onResize($event)" class="back-mid-grey" [ngStyle]="{ 'min-height': ''+screenHeight+'px', 'overflow-y': 'auto', 'width': +matDrawerContentWidth }" style="overflow-x: hidden;" [ngClass]="(hideHF) ? '' : 'has-fixed-footer'" >
		<!-- <mat-spinner *ngIf="showLoadingIndicator"></mat-spinner> -->
		<!-- include loader -->
		<app-loader></app-loader>
		<router-outlet></router-outlet>
		<app-footer *ngIf="hideHF"></app-footer>
	</mat-drawer-content>
</mat-drawer-container>