<!-- Add / edit slide -->
<div class="row back-white m-0 full-height template-event-widget editor-sec" *ngIf="type == 'add'">
	<div class="col-sm-12 p-15 content-col"
		[style.background-color]="templatedata.leftcolsettings.bgtype=='bgcolor' ? templatedata.leftcolsettings.bgcolor : ''" 

		[style.background-image]="(templatedata.leftcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.leftcolsettings.bgimage+'?'+dateTemp):''" 

		[style.background-repeat]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgrepeat : ''" 
		[style.background-size]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgsize : ''"
		[style.background-position]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgposition : ''">
		<a data-html2canvas-ignore="true" (click)="openDialog('left', true)" class="color-white btn font-20 has-shadow p-0 slide-settings">
			<i class="fa fa-cog"></i>
		</a>

		<a data-html2canvas-ignore="true" (click)="openEventWidgetDialog()" class="color-white btn font-20 has-shadow p-0 slide-settings" [ngStyle]="{ 'right': '50px' }">
			<i class="fa fa-pencil"></i>
		</a>

		<div class="row text-center" *ngIf="templatedata.eventslist">
			<div class="col-sm-12" [style.color]="this.templatedata.leftcolsettings.txtcolor">
				<h3 class="event-widget-title" *ngIf="templatedata.widget_type == 'T'">
					<span class="text-underline"> Today's Events </span>
				</h3>
				<h3 class="event-widget-title" *ngIf="templatedata.widget_type == 'W'">
					<span class="text-underline"> Upcoming Events </span>
				</h3>
			</div>
		</div>
		<div  *ngIf="templatedata.eventslist">
			
			<!-- TODAYS -->
			<div class="row text-center template-event-ie" *ngIf="templatedata.eventslist.todays.length>0 && templatedata.widget_type == 'T'">
				<div class="col-sm-6" *ngFor="let event of templatedata.eventslist.todays; let i=index">
				 	<div *ngIf="i<templatedata.limit">
					 	<div class="row event-infor">
					 		<div class="col-sm-4" [style.color]="this.templatedata.leftcolsettings.txtcolor">
					 			<p class="text-right">{{event.event_start_time}}</p>
							</div>
							<div class="col-sm-8 p-0" [style.color]="this.templatedata.leftcolsettings.txtcolor">
								<p><strong>{{event.event_title}}</strong></p>
								<p> {{event.event_location}}</p>
							</div>
						</div>
						<!-- <div [innerHTML]="event.event_desc | sanitizeHtml"></div>				 	 -->
				 	</div>	
				</div>				
			</div>
			
			<!-- WEEKLY EVENTS -->
			<div class="row text-center template-event-ie" *ngIf="templatedata.eventslist.weekly.length>0 && templatedata.widget_type == 'W'">
				<div class="col-sm-6" *ngFor="let event of templatedata.eventslist.weekly; let i=index">
				 	<div *ngIf="i<templatedata.limit">
						<div class="row event-infor ">
					 		<div class="col-sm-4" [style.color]="this.templatedata.leftcolsettings.txtcolor">
					 			<p class="text-right">{{event.event_start_date | date: 'MM/dd/yy'}}</p>
					 			<p class="text-right">{{event.event_start_time}}</p>
							</div>
							<div class="col-sm-8 p-0" [style.color]="this.templatedata.leftcolsettings.txtcolor">
								<p><strong>{{event.event_title}}</strong></p>
								<p>{{event.event_location}}</p>
							</div>
						</div>
				 	</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

<!-- Preview / Print -->
<div class="print-div printable_div full-height" *ngIf="type == 'print' || type == 'preview'" [ngClass]="( moreHeight ) ? 'portrait_mode' : ''">
	<div class="back-white printable_div_trans template-event-widget full-height" [ngClass] = "
		(type == 'print') ?
		(scroll_announcement.status == 'Y' && community_footer.status == 'Y') ? 'has-footer-announce' : 
		(scroll_announcement.status == 'N' && community_footer.status == 'Y') ? 'has-single-footer' : 
		(scroll_announcement.status == 'Y' && community_footer.status == 'N') ? 'has-single-announce' : ''
		: 'has-front-veiw'">
		<div class="row m-0 main-section full-height" *ngIf="is_valide == 'yes'">
			
			<!-- IF TYPE IS BGCOLOR -->
			<div class="col-sm-12 col-right-with-bg p-15 content-col"
			*ngIf="templatedata.leftcolsettings.bgtype=='bgcolor'"
			[style.background-color]="templatedata.leftcolsettings.bgcolor" 
			[style.color]="templatedata.leftcolsettings.txtcolor">
				<div class="row text-center inner-content-tmpl" *ngIf="templatedata.eventslist">
					<div class="col-sm-12 col-right-with-bg" *ngIf="templatedata.widget_type == 'T' || templatedata.widget_type == 'W'" [style.color]="this.templatedata.leftcolsettings.txtcolor">
						<h3 class="event-widget-title" *ngIf="templatedata.widget_type == 'T'">
							<span class="text-underline"> Today's Events </span>
						</h3>
						<h3 class="event-widget-title" *ngIf="templatedata.widget_type == 'W'">
							<span class="text-underline"> Upcoming Events </span>
						</h3>
					</div>
					<div class="col-sm-12" *ngIf="templatedata.eventslist">			
						<!-- TODAYS -->
						<div class="row text-center " *ngIf="templatedata.widget_type == 'T' && templatedata.eventslist.todays.length>0">
							<div class="col-sm-6" *ngFor="let event of templatedata.eventslist.todays; let i=index">
							 	<div *ngIf="i<templatedata.limit">
									<div class="row event-infor">
								 		<div class="col-sm-4" [style.color]="this.templatedata.leftcolsettings.txtcolor">
								 			<p class="text-right">{{event.event_start_time}}</p>
										</div>
										<div class="col-sm-8" [style.color]="this.templatedata.leftcolsettings.txtcolor">
											<p><strong>{{event.event_title}}</strong></p>
											<p> {{event.event_location}}</p>
										</div>
									</div>
							 	</div>	
							</div>				
						</div>
						
						<!-- WEEKLY EVENTS -->
						<div class="row text-center inner-content-tmpl" *ngIf="templatedata.widget_type == 'W' && templatedata.eventslist.weekly.length>0">
							<div class="col-sm-6" *ngFor="let event of templatedata.eventslist.weekly; let i=index">
							 	<div *ngIf="i<templatedata.limit">
									<div class="row event-infor">
								 		<div class="col-sm-4" [style.color]="this.templatedata.leftcolsettings.txtcolor">
								 			<p class="text-right">{{event.event_start_date | date: 'MM/dd/yy'}}</p>
					 						<p class="text-right">{{event.event_start_time}}</p>
										</div>
										<div class="col-sm-8" [style.color]="this.templatedata.leftcolsettings.txtcolor">
											<p><strong>{{event.event_title}}</strong></p>
											<p>{{event.event_location}}</p>
										</div>
									</div>
							 	</div>
							</div>
						</div>						
					</div>
				</div>
			</div>

			<div class="col-sm-12 col-right-with-bg p-15 content-col"
					*ngIf="templatedata.leftcolsettings.bgtype=='bgimage'"
					[style.color]="templatedata.leftcolsettings.txtcolor"
					[style.background-image]="(templatedata.leftcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.leftcolsettings.bgimage+'?'+dateTemp):''"
					appBackgroundImageLoaded 
					(imageLoaded)="lefttransvisibility='visible'" 

					[style.background-repeat]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgrepeat : ''" 
					[style.background-size]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgsize : ''"
					[style.background-position]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgposition : ''">
				<div class="row text-center inner-content-tmpl" *ngIf="templatedata.eventslist">
					<div class="col-sm-12 col-right-with-bg" *ngIf="templatedata.widget_type == 'T' || templatedata.widget_type == 'W'" [style.color]="this.templatedata.leftcolsettings.txtcolor">
						<h3 class="event-widget-title" *ngIf="templatedata.widget_type == 'T'">
							<span class="text-underline"> Today's Events </span>
						</h3>
						<h3 class="event-widget-title" *ngIf="templatedata.widget_type == 'W'">
							<span class="text-underline"> Upcoming Events </span>
						</h3>
					</div>
					<div class="col-sm-12" *ngIf="templatedata.eventslist">			
						<!-- TODAYS -->
						<div class="row text-center " *ngIf="templatedata.widget_type == 'T' && templatedata.eventslist.todays.length>0">
							<div class="col-sm-6" *ngFor="let event of templatedata.eventslist.todays; let i=index">
							 	<div *ngIf="i<templatedata.limit">
									<div class="row event-infor">
								 		<div class="col-sm-4" [style.color]="this.templatedata.leftcolsettings.txtcolor">
								 			<p class="text-right">{{event.event_start_time}}</p>
										</div>
										<div class="col-sm-8" [style.color]="this.templatedata.leftcolsettings.txtcolor">
											<p><strong>{{event.event_title}}</strong></p>
											<p><span> {{event.event_location}}</span></p>
										</div>
									</div>
							 	</div>	
							</div>				
						</div>
						
						<!-- WEEKLY EVENTS -->
						<div class="row text-center inner-content-tmpl" *ngIf="templatedata.widget_type == 'W' && templatedata.eventslist.weekly.length>0">
							<div class="col-sm-6" *ngFor="let event of templatedata.eventslist.weekly; let i=index">
							 	<div *ngIf="i<templatedata.limit">
									<div class="row event-infor">
								 		<div class="col-sm-4" [style.color]="this.templatedata.leftcolsettings.txtcolor">
								 			<p class="text-right">{{event.event_start_date | date: 'MM/dd/yy'}}</p>
					 						<p class="text-right">{{event.event_start_time}}</p>
										</div>
										<div class="col-sm-8" [style.color]="this.templatedata.leftcolsettings.txtcolor">
											<p><strong>{{event.event_title}}</strong></p>
											<p>{{event.event_location}}</p>
										</div>
									</div>
							 	</div>
							</div>
						</div>						
					</div>
				</div>
				<div  [ngClass]="lefttransvisibility=='hidden'?'show':'hide'" class="preloader"></div>
			</div>						
		</div>
		<div class="row mg-0 footer-section" *ngIf="type == 'hideprint'">
			<div class="col-sm-12 scroll_announcement p-0" *ngIf="scroll_announcement.status == 'Y'">
				<app-scroll-announcement [scroll_text]='scroll_announcement.content'></app-scroll-announcement>
			</div>
			<div class="col-sm-12 footer_text" *ngIf="community_footer.status == 'Y'">
				<app-community-footer [community_footer]='community_footer.content'></app-community-footer>
			</div>
		</div>
		<div class="row m-0" *ngIf="is_valide == 'no'">
			<p>No data found.</p>
		</div>
	</div>
</div>