<div id="golabl-search">
	<form #f="ngForm" (ngSubmit)="gotoSearch()" [formGroup]="GlobalForm" novalidate autocomplete="off">
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-8 mb-15">
				<mat-form-field class="full-width">
				    <input matInput 
	              	name="searchkey" 
	              	placeholder="Keyword..."
	              	formControlName="searchkey" 
	              	[formControl]="GlobalForm.get('searchkey')"> 
				</mat-form-field>
			</div>
			<div class="col-sm-12 col-md-3 col-lg-2 mb-15">
				<button type="submit" [disabled]="GlobalForm.invalid"  class="btn font-20 back-blue full-width text-center color-white">SEARCH</button>
			</div>
			<div class="col-sm-12 col-md-3 col-lg-2 mb-15">
				<button type="reset" class="btn font-20 back-dark-grey full-width text-center color-white">RESET</button>
			</div>
		</div>
	</form>
	<p class="mb-40"><a routerLink="/search"><span class="text-underline">More</span></a> search options</p>
</div>