<div *ngIf="scroll_text.scrolldelay">
	<marquee direction="left" [style.background-color]="scroll_text.announcementBgcolor || '#FFFFFF'" [style.color]="scroll_text.announcementColor || '#000000'" [attr.scrollamount]="scroll_text.scrolldelay" scrolldelay="5">{{scroll_text.text}}</marquee>
</div>