<div class="container-fluid">
	<div class="dash-container">
		<h1 class="mb-30">{{title}}</h1>
		<!-- include global search -->
		<app-global-search></app-global-search>
		<div id="dashboard-menus" class="row">
			<div class="col-sm-12 col-md-3 mb-30">
				<a class="btn back-green color-white btn-box full-width font-20" routerLink="/playlist" matBadge="{{playlists}}" matBadgePosition="above after" matBadgeColor="accent">
					<div class="text-center" style="height: 50px;">
						<mat-icon class="color-white font-50"> playlist_play </mat-icon> 
					</div>
					<span> PLAYLISTS </span>
				</a>
			</div>
			<div class="col-sm-12 col-md-3 mb-30">
		    	<a class="btn back-blue color-white btn-box full-width font-20" routerLink="/slides" matBadge="{{slides}}" matBadgePosition="above after" matBadgeColor="accent">
		    		<div class="text-center" style="height: 50px;">
						<mat-icon class="color-white font-50"> web </mat-icon> 
					</div>
		    		<span> SLIDES </span>
		    	</a>
		    </div>
		    <div class="col-sm-12 col-md-3 mb-30">
		    	<a class="btn back-light-blue color-blue btn-box full-width font-20" routerLink="/preview">
		    		<div class="text-center" style="height: 50px;">
						<mat-icon class="color-blue font-50"> queue_play_ne </mat-icon> 
					</div>
		    		<span> PREVIEW </span>
		    	</a>
		    </div>
		    <div class="col-sm-12 col-md-3 mb-30">
		    	<a class="btn back-pink color-white btn-box full-width font-20" routerLink="/print">
		    		<div class="text-center" style="height: 50px;">
						<mat-icon class="color-white font-50"> print </mat-icon> 
					</div>
		    		<span> PRINT </span>
		    	</a>
		    </div>
		</div>
	</div>
</div>