<div class="row back-white m-0 full-height template-three editor-sec" *ngIf="type == 'add'">
	<div class="col-sm-12 p-15 align-items-center content-col row m-0 align-items-center bg-grey full-width"
		[style.background-color]="templatedata.leftcolsettings.bgtype=='bgcolor' ? templatedata.leftcolsettings.bgcolor : ''" 

		[style.background-image]="(templatedata.leftcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.leftcolsettings.bgimage+'?'+dateTemp):''" 
		
		[style.background-repeat]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgrepeat : ''" 
		[style.background-size]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgsize : ''"
		[style.background-position]="(templatedata.leftcolsettings.bgtype=='bgimage') ? templatedata.leftcolsettings.bgposition : ''">
		<a data-html2canvas-ignore="true" (click)="openDialog('left')" class="color-white btn font-20 has-shadow p-0 slide-settings">
			<i class="fa fa-cog"></i>
		</a>
		<div class="col-sm-10 offset-sm-1 content-col slide-contents">
			<div class="font-20 text-center slide_content full-width" 
				[style.color]="this.templatedata.leftcolsettings.txtcolor"
				[innerHTML]="templatedata.description | sanitizeHtml"></div>
				<mat-icon data-html2canvas-ignore="true" (click)="openEditor(templatedata.description,'description')">edit</mat-icon> 
		</div>
	</div>
</div>

<!-- Preview / Print -->
<div class="print-div printable_div full-height" *ngIf="type == 'print' || type == 'preview'" [ngClass]="( moreHeight ) ? 'portrait_mode' : ''">
	<div class="back-white printable_div_trans template-three full-height" [ngClass] = "
		(type == 'print') ?
		(scroll_announcement.status == 'Y' && community_footer.status == 'Y') ? 'has-footer-announce' : 
		(scroll_announcement.status == 'N' && community_footer.status == 'Y') ? 'has-single-footer' : 
		(scroll_announcement.status == 'Y' && community_footer.status == 'N') ? 'has-single-announce' : ''
		: ''">
		<div class="row m-0 main-section full-height" *ngIf="is_valide == 'yes'">
			<div class="row m-0 align-items-center full-width full-height"
				*ngIf="templatedata.leftcolsettings.bgtype == 'bgcolor'" [ngStyle]="{ 'background-color': ''+templatedata.leftcolsettings.bgcolor+''}">
				<div class="col-sm-10 offset-sm-1 content-col slide-contents">
					<div class="slide-contents" [ngClass] = "(templatedata.description) ? '' : 'empty-min-height'">
						<div class="text-center slide_content" 
							[style.color]="this.templatedata.leftcolsettings.txtcolor"
							[ngClass]="(templatedata.description.length < 2600 ) ? 'font-slide' : 
							(templatedata.description.length >= 2600 && templatedata.description.length < 2800 ) ? 'font-lg' :
							(templatedata.description.length >= 2800 && templatedata.description.length < 3200 ) ? 'font-md' :
							(templatedata.description.length >= 3200 && templatedata.description.length < 3600 ) ? 'font-sm' : 'font-xs'"
							[innerHTML]="templatedata.description | sanitizeHtml">
						</div>
					</div>
				</div>
			</div>

			<div class="row col-right-with-bg m-0 align-items-center full-width full-height"
				*ngIf="templatedata.leftcolsettings.bgtype == 'bgimage'"

				[style.background-image]="(templatedata.leftcolsettings.bgtype=='bgimage') ? getBackground(mediaUrl + templatedata.leftcolsettings.bgimage+'?'+dateTemp):''"
				[style.background-repeat]="templatedata.leftcolsettings.bgrepeat" 
				[style.background-size]="templatedata.leftcolsettings.bgsize"
				[style.background-position]="templatedata.leftcolsettings.bgposition"
				appBackgroundImageLoaded 
				(imageLoaded)="lefttransvisibility='visible'">
				<div class="col-sm-10 offset-sm-1 content-col slide-contents">
					<div class="slide-contents" [ngClass] = "(templatedata.description) ? '' : 'empty-min-height'">
						<div class="text-center slide_content" 
							[style.color]="this.templatedata.leftcolsettings.txtcolor"
							[ngClass]="(templatedata.description.length < 2600 ) ? 'font-slide' : 
							(templatedata.description.length >= 2600 && templatedata.description.length < 2800 ) ? 'font-lg' :
							(templatedata.description.length >= 2800 && templatedata.description.length < 3200 ) ? 'font-md' :
							(templatedata.description.length >= 3200 && templatedata.description.length < 3600 ) ? 'font-sm' : 'font-xs'"
							[innerHTML]="templatedata.description | sanitizeHtml">
						</div>
					</div>
				</div>
				<div [ngClass]="lefttransvisibility=='hidden'?'show':'hide'" class="preloader"></div>
			</div>			
		</div>
		<div class="row mg-0 footer-section" *ngIf="type == 'hideprint'">
			<div class="col-sm-12 scroll_announcement p-0" *ngIf="scroll_announcement.status == 'Y'">
				<app-scroll-announcement [scroll_text]='scroll_announcement.content'></app-scroll-announcement>
			</div>
			<div class="col-sm-12 footer_text" *ngIf="community_footer.status == 'Y'">
				<app-community-footer [community_footer]='community_footer.content'></app-community-footer>
			</div>
		</div>
		<div class="row m-0" *ngIf="is_valide == 'no'">
			<p>No data found.</p>
		</div>
	</div>
</div>