<div class="container-fluid">
	<div class="dash-container" id="golabl-search">
		<div class="row class mg-0">
			<div class="col-sm-12 col-md-6 col-lg-8 mb-20">
				<h2>Global Search</h2>
			</div>
		</div>
		<form #f="ngForm" (ngSubmit)="getSearch()" [formGroup]="SearchForm" novalidate autocomplete="off">
			<div class="row mg-0 mb-20">
				<div class="col-sm-8">
					<mat-form-field>
		              <input matInput 
		              	name="searchkey" 
		              	placeholder="Playlist/Slide Name ..."
		              	formControlName="searchkey" 
		              	[formControl]="SearchForm.get('searchkey')">              
		            </mat-form-field>
				</div>
				<div class="col-sm-2">
					<button type="submit" [disabled]="SearchForm.invalid" class="btn back-blue color-white full-width">APPLY</button>
				</div>
				<div class="col-sm-2">
					<a class="btn back-pink color-white full-width" (click)="backClicked()">BACK</a>
				</div>
			</div>
			<div class="row mg-0 mb-20">
				<mat-accordion class="col-sm-12">
				  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" (closed)="setStep(1)">
				    <mat-expansion-panel-header>
				      <mat-panel-title>
				        More
				      </mat-panel-title>
				    </mat-expansion-panel-header>
				    <div class="mb-20">
						<mat-form-field>
						  <mat-select 
						  		name="playlist_id"
						  		placeholder="Select Playlists"
								[formControl]="SearchForm.get('playlist_id')" multiple>
						    <mat-option  
						    	*ngFor="let playlist of playlistdata" 
						    	[value]="playlist.playlist_id">
						    	{{playlist.name}}
						    </mat-option>
						  </mat-select>
						</mat-form-field>
					</div>
				    <div class="mb-20">
						<mat-form-field>
						  <mat-select 
						  		name="playlist_id"
						  		placeholder="Select Template"
								[formControl]="SearchForm.get('template')" multiple>
						    <mat-option  
						    	*ngFor="let template of templateName" 
						    	[value]="template.value">
						    	{{template.name}}
						    </mat-option>
						  </mat-select>
						</mat-form-field>
					</div>
					
				    <div class="row mb-30">
				    	<!-- Start DateTime -->
						<mat-form-field class="col-sm-6">
							<input matInput 
								placeholder="Start Date"
								formControlName="start_datetime" 
								[formControl]="SearchForm.get('start_datetime')"
								[max]="max_dt"
					            [owlDateTimeTrigger]="start_datetime" [owlDateTime]="start_datetime">
					        <owl-date-time (afterPickerClosed)="changeMinDTime()" [pickerType]="'both'" [pickerMode]="'dialog'" [hour12Timer]="true" #start_datetime></owl-date-time>
					    </mat-form-field>						
						
						<!-- End DateTime -->
						<mat-form-field class="col-sm-6">
							<input matInput 
								placeholder="End Date"
								formControlName="end_datetime" 
								[formControl]="SearchForm.get('end_datetime')"
								[min]="min_dt"
					            [owlDateTimeTrigger]="end_datetime" [owlDateTime]="end_datetime">
					        <owl-date-time (afterPickerClosed)="changeMaxDTime()" [pickerType]="'both'" [pickerMode]="'dialog'" [hour12Timer]="true" #end_datetime></owl-date-time>
					    </mat-form-field>
					</div>
				  </mat-expansion-panel>
				</mat-accordion>
			</div>
		</form>		
		<mat-list>
			<div class="row mg-0">
				<div class="col-sm-6">
					<h5 class="mg-0 mb-10">Playlists</h5>
					<mat-divider></mat-divider>
					<mat-list-item *ngFor="let playlist of playlists.data;trackBy:trackByPlaylist">
						<mat-icon mat-list-icon class="color-pink">playlist_play</mat-icon>
						<h4 mat-line>
						<a class="color-blue" [routerLink]="['/edit-playlist', playlist.playlist_id]">{{playlist.name}}</a>
						</h4>
						<p mat-line> {{playlist.description}} </p>
					</mat-list-item>
					<mat-list-item *ngIf="playlists.data.length==0">
						<mat-icon mat-list-icon class="color-pink">highlight_off</mat-icon>
						<h4 mat-line>No Playlists Found</h4>
					</mat-list-item>
				</div>
				<div class="col-sm-6">
					<h5 class="mg-0 mb-10">Slides</h5>
					<mat-divider></mat-divider>
					<mat-list-item *ngFor="let slide of slides.data;trackBy:trackBySlide">
						<mat-icon mat-list-icon class="color-pink">web</mat-icon>
						<h4 mat-line>
						<a class="color-blue" [routerLink]="['/edit-slide', slide.slide_id]">{{slide.title}}</a>
						</h4>
						<p mat-line> {{slide.description}} </p>
					</mat-list-item>
					<mat-list-item *ngIf="slides.data.length==0">
						<mat-icon mat-list-icon class="color-pink">highlight_off</mat-icon>
						<h4 mat-line>No Slides Found</h4>
					</mat-list-item>
				</div>
			</div>
		</mat-list>		
	</div>
</div>

