<div class="container-fluid">
	<div class="dash-container">
		<form autocomplete="off">
			<div class="row mb-30">
				<div class="col-sm-12 col-md-6 col-lg-8">	
					<h2>{{title}}</h2>
				</div>
				<div class="col-sm-12 col-md-3 col-lg-2">
					<button id="print_button" type="button" class="btn back-green color-white font-20 full-width text-center" [disabled]="!selected_playlist_ids ?.length" (click)="openPrintDialog()">PRINT</button>
				</div>
				<div class="col-sm-12 col-md-3 col-lg-2 mb-20">
				  	<button type="reset" class="btn back-dark-grey color-white font-20 full-width text-center" (click)="clearSlides()">RESET</button>
				</div>
			</div>
			
			<div class="mb-50">
			  	<p class="mb-20 font-20">Playlist:</p>
				<div *ngIf="!playlists?.length">
			        <p>No playlists found.</p>
			    </div>
    			<mat-radio-group *ngIf="playlists?.length > 0" name="playlist_id" [(ngModel)]="playlist_id">
				  <mat-radio-button *ngFor="let playlist of playlists; trackBy:trackByPlaylist" class="mr-10" (click)="getSlides(playlist.playlist_id, playlist.footer_text, playlist.scroll_announcement)" [value]="playlist.playlist_id" style="display: inline-block !important; width: 24%; margin-right: 1%;">{{playlist.name}}</mat-radio-button>
				</mat-radio-group>
	    	</div>
	    	<mat-paginator [length]="length"
              [pageSize]="pageSize"
              (page)="getNext($event);" class="mb-50 back-light-blue page-paginator color-blue font-16">
			</mat-paginator>

		    <p class="mb-20 font-20 choose-slides">
		    	<span class="mr-10 inline-block-middle"> Choose Slides: </span>
		    	<mat-checkbox [checked]="isChecked()" [indeterminate]="isIndeterminate()" (change)="selectAllBadge($event)" *ngIf="slides?.length" class="inline-block-middle">Select All</mat-checkbox>
		    </p>

		    <div id="existing-slides" class="row present-slide">
		    	<div *ngIf="!slides?.length" class="col-sm-12">
		        	<p>No slides found.</p>
			    </div>
				<div class="playlist-info col-sm-6 col-md-6 col-lg-3 mb-20" *ngFor="let slide of slides; trackBy:trackBySlide">
					<div class="playlist-inner">
						<div style="background-color: #f5f5f5;">

							<img [defaultImage]="blurDefault" [errorImage]="noMedia" [lazyLoad]="slide.cover_image ? (mediaUrl+slide.cover_image+'?'+dateTemp) : slide_thumb" [offset]="offset" style="max-width: 100%;" alt="{{slide.title}}" />

						</div>
						<mat-checkbox [checked]="exists(slide.slide_id)" (change)="selectBadge($event, slide.slide_id)"></mat-checkbox>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>