<!-- Add / edit slide -->
<div class="row back-white m-0 full-height template-video editor-sec" *ngIf="type == 'add'">
	<div class="col-sm-12 p-0">
		<a data-html2canvas-ignore="true" (click)="openDialog('left', false)" class="color-white btn font-20 has-shadow p-0 slide-settings" [ngStyle]="{ 'margin-right': '-10px' }">
			<i class="fa fa-cog"></i>
		</a>
		<div class="youtube_video full-height" [hidden]="templatedata.video_type != 'iframe' && !playVideoUrl">
			<iframe class="iframearea" #iframe [src]="playVideoUrl" width="100%" height="100%" allow="autoplay; encrypted-media"></iframe>
		</div>
	</div>
</div>

<!-- Preview / Print -->
<div class="print-div printable_div full-height" *ngIf="type == 'print' || type == 'preview'" [ngClass]="( moreHeight ) ? 'portrait_mode' : ''">
	<div class="back-white printable_div_trans template-one full-height" [ngClass] = "
		(type == 'print') ?
		(scroll_announcement.status == 'Y' && community_footer.status == 'Y') ? 'has-footer-announce' : 
		(scroll_announcement.status == 'N' && community_footer.status == 'Y') ? 'has-single-footer' : 
		(scroll_announcement.status == 'Y' && community_footer.status == 'N') ? 'has-single-announce' : ''
		: 'has-front-veiw'">
		<div class="row m-0 main-section full-height" *ngIf="is_valide == 'yes'">
			<div class="col-sm-12 p-15">
				<div class="youtube_video full-height" [hidden]="templatedata.video_type != 'iframe' && !playVideoUrl">
					<iframe width="100%" height="100%" [src]="playVideoUrl" allow='autoplay; encrypted-media' class="youtube_video_play"></iframe>
				</div>
			</div>						
		</div>
		<div class="row mg-0 footer-section" *ngIf="type == 'hideprint'">
			<div class="col-sm-12 scroll_announcement p-0" *ngIf="scroll_announcement.status == 'Y'">
				<app-scroll-announcement [scroll_text]='scroll_announcement.content'></app-scroll-announcement>
			</div>
			<div class="col-sm-12 footer_text" *ngIf="community_footer.status == 'Y'">
				<app-community-footer [community_footer]='community_footer.content'></app-community-footer>
			</div>
		</div>
		<div class="row m-0" *ngIf="is_valide == 'no'">
			<p>No data found.</p>
		</div>
	</div>
</div>