/* You can add global styles to this file, and also import other style files */
@import 'senior-portal.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~font-awesome/css/font-awesome.css";
/*@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900'|Material+Icons);
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700');

/*----------------------------*/
/*---------- GLOBAL ----------*/
/*----------------------------*/

/* Links */
a { cursor: pointer; text-decoration: none; }

/* Print */
@page { size: A3 landscape; margin: 0px; }

/* Fonts */
body, p, label, h1, h2, h3, h4, h5, h6 { font-family: 'Roboto', sans-serif; }
.font-16 { font-size: 16px; line-height: 22px; }
.font-18 { font-size: 18px; line-height: 25px; }
.only-font-20,
.font-20 { font-size: 20px; }
.font-20 { line-height: 25px; }
.font-40 { font-size: 40px; line-height: 40px; }
.font-50 { font-size: 50px; line-height: 50px; }
.font-bold { font-weight: bold; }
.text-underline { text-decoration: underline; }
.has-shadow { text-shadow: 1px 1px 1px rgba(0,0,0,0.6); }
.font-title { font-size: 60px; line-height: 70px; }
.line-50 { line-height: 50px !important; height: 50px !important; }
.line-35 { line-height: 35px !important; }

/* Border */
.border-slate { border: 2px solid #6c655f !important; }
.border-slate.bt-0 { border-top: 0px !important; }
.border-slate.bm-0 { border-bottom: 0px !important; }
.no-border { border: 0px; }
.circle-border { border-radius: 100%; }

/* Button */
button { cursor: pointer; }
.btn { border-radius: 0px; padding: 0px 20px; line-height: 50px; border: 0px; display: inline-block;; vertical-align: middle; }
.btn:focus { outline: 0px; box-shadow: none !important; }
.btn-box { padding: 4vw 20px; }
.btn-small { line-height: 30px; font-size: 14px; padding: 0px 15px;  }
.border-mid-grey { border: 2px solid #e0e0e0; }
.border-dark-grey { border: 2px solid #777777; }
.border-blue { border: 2px solid #324a5e; }
.border-green { border: 2px solid #aeba29; }
.border-yellow { border: 2px solid #e3f51d !important; }

.btn.border-dark-grey:hover { background-color: #777777 !important; color: #fff !important;  }

/* Backgrounds */
.back-pink { background-color: #aa0977 !important; }
.back-green { background-color: #aeba29 !important; }
.back-blue { background-color: #324a5e !important; }
.back-light-blue { background-color: #bed6de !important; }
.back-white { background-color: #ffffff; }
.back-light-grey { background-color: #f5f5f5; }
.back-grey { background-color: #f0f0f0; }
.back-mid-grey { background-color: #e0e0e0; }
.back-dark-grey { background-color: #777777; }
.back-dark { background-color: #444444; }
.back-darker { background-color: #111111; }
.back-black { background-color: #000000; }

/* Colors */
.color-grey { color: #6c655f !important; }
.color-yellow { color: #e3f51d !important; }
.color-pink { color: #aa0977 !important; }
.color-blue { color: #324a5e !important; }
.color-green { color: #aeba29 !important; }
.color-white { color: #ffffff !important; }
.color-light-grey { color: #f5f5f5 !important; }
.color-mid-grey { color: #e0e0e0 !important; }
.color-dark-grey { color: #777777 !important; }

/* Color Picker */
.footer-colors .color-picker { left: 10px !important; top: 30px !important; }
.color-input .mat-form-field-wrapper { padding-bottom: 18px; }
.color-input .mat-form-field-infix { padding-bottom: 0px; }
.color-input .mat-form-field-infix input { padding: 5px 10px !important; }

/* Snack Bar */
.cust-snackbar { 
    margin-top: 115px !important; 
    margin-right: 30px !important; 
    border-radius: 0px !important; 
    min-width: 0px !important;
    max-width: 100% !important;
    width: auto !important;
}
.cust-snackbar.not-submitted { color: #fff !important; }
.cust-snackbar.not-submitted .mat-simple-snackbar-action { color: #ff3a5f !important; }
.cust-snackbar span { font-size: 20px !important; line-height: 25px !important; }

.cust-snackbar:before {
    content: 'check_circle_outline';
    font-family: 'Material Icons';
    font-size: 45px;
    display: inline-block;
    vertical-align: middle;
    color: #e3f51d;
    margin-right: 15px;
}
.cust-snackbar.not-submitted:before {
    content: 'highlight_off';
    color: #ff3a5f;
}
.cust-snackbar .mat-simple-snackbar { display: inline-block; font-size: 25px; align-items: center; }
.cust-snackbar .mat-simple-snackbar-action { display: none; }

/* Spacing */
.full-width { width: 100%; }
.width-90 { width: 90%; }
.full-height { height: 100%; }
.height-75 { height: 75%; }
.inline-block-middle { display: inline-block; vertical-align: middle; }
.inline-block-top { display: inline-block; vertical-align: top; }
.mg-0 { margin: 0px; }
.mb-0-i { margin-bottom: 0px !important; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-30 { margin-bottom: 30px !important; }
.mb-40 { margin-bottom: 40px; }
.mb-50 { margin-bottom: 50px; }
.mb-80 { margin-bottom: 80px; }

.mr-10 { margin-right: 10px; }
.mr-20 { margin-right: 20px; }

.ml-10 { margin-left: 10px; }
.ml-15 { margin-left: 15px; }

.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }
.mt-30 { margin-top: 30px; }
.mt-40 { margin-top: 40px; }
.mt-50 { margin-top: 50px; }
.mt-60 { margin-top: 60px; }
.mt-70 { margin-top: 70px; }
.mt-80 { margin-top: 80px; }

.p-0 { padding: 0px; }
.padd-5 { padding: 10px 5px; }
.p-10 { padding: 10px; }
.p-15 { padding: 15px; }
.p-20-10 { padding: 20px 10px; }
.pr-0 { padding-right: 0px; } 
.p-rl-10 { padding-left: 10px; padding-right: 10px; }
.pb-15 { padding-bottom: 15px; }

/* Hide */
.hide,
.hidden,
.show-767 { display: none; }

/* Material Loader */
.loader-div {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.8);
    z-index: 99999999999999999;
}

/* Pagination */
.page-paginator .mat-icon-button { color: #aa0977; }

/* Date Time Picker */
.owl-dt-calendar-table .owl-dt-calendar-cell-selected { background: #aa0977; }
.owl-dt-calendar-table .owl-dt-calendar-cell-disabled>.owl-dt-calendar-cell-today:not(.owl-dt-calendar-cell-selected) { border-color: #aa0977; }

.owl-dt-timer { background-color: #f5f5f5; }
.owl-dt-timer-hour12 .owl-dt-control-button { border-color: #324a5e; color: #324a5e; background: #fff !important; }
.owl-dt-timer-hour12 .owl-dt-control-button:hover,
.owl-dt-timer-hour12 .owl-dt-control-button:hover span { background: #324a5e !important; color: #fff; }
.owl-dt-container-buttons .owl-dt-control-button:nth-child(1) { background: #aa0977; color: #fff; }
.owl-dt-container-buttons .owl-dt-control-button:nth-child(2) { background: #aeba29; color: #fff; }

/* Full Calendar */
.fc-right .fc-button-group button,
.fc-left .fc-button-group button { 
    background: #aa0977; 
    box-shadow: none; 
    text-shadow: none;
    color: #fff; 
    margin-right: 5px; 
    border-radius: 4px; 
}
.fc-left > button { background: #324a5e; color: #fff; }
.fc-center h2 { color: #324a5e; }
.fc-widget-header thead { background: #aeba29; color: #fff; }
.fc-bg .fc-today { background: #bed6de !important; }

/* Material Badge */
.mat-badge-content {
    font-size: 25px;
    height: 60px !important;
    width: 60px !important;
    line-height: 60px !important;
    top: -20px !important;
    right: -20px !important;
}

/*----------------------------*/
/*---------- HEADER ----------*/
/*----------------------------*/

mat-drawer { width: 250px; background: #324a5e !important; }
.mat-drawer-content { z-index: 4 !important; }
.side-menu a { display: block; text-decoration: none !important; }
.side-menu span { display: inline-block; vertical-align: top; }

.mat-drawer-container mat-drawer { transition: all 0.8s;  }
.mat-drawer-container mat-drawer a span { transition: all 0.1s; }
.mat-drawer-container.toggle-close mat-drawer { width: 50px; }
.mat-drawer-container.toggle-close mat-drawer a span { opacity: 0; width: 0px; height: 0px; transition-delay: 1s; transition: all 0.4s; }
.mat-drawer-container.toggle-close mat-drawer a mat-icon { margin: 0px !important; }
.mat-drawer-container.toggle-open mat-drawer-content { transition: all 0.8s; }
.mat-drawer-container.toggle-close mat-drawer-content { margin-left: 50px !important; transition: all 0.8s; }

/*---------------------------*/
/*---------- FORMS ----------*/
/*---------------------------*/

/* Radio Button */
.mat-radio-button { display: block !important; }
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle { border-color: #aa0977 }
.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple { background-color: #aa0977; }
.mat-radio-label-content { white-space: normal !important; }

.unit-wrap {}
.unit-wrap .mat-radio-button{ display: inline-block !important; margin-right: 15px; }
.unit-wrap>label{ display: block;font-size: 12px;color: #898989;margin: 0 0 5px 0; }

/* Checkbox With Image */
.present-slide .playlist-inner { position: relative; }
.present-slide mat-checkbox { position: absolute; opacity: 0; transition: all 0.3s; left: 0px; top: 0px; }
.present-slide mat-checkbox,
.present-slide .mat-checkbox-layout { height: 100%; width: 100%; }
.present-slide .mat-checkbox-layout { text-align: right; }
.present-slide .mat-checkbox-checked { opacity: 1; }
.present-slide .mat-checkbox-inner-container { margin-left: auto; margin-top: 10px; margin-right: 10px; }

/* Pseudo Checkbox */
.mat-pseudo-checkbox-checked::after { width: 10px !important; height: 5px !important; }

/* Radio For Background Selection */
.media-list .playlist-inner { position: relative; }
.media-list .playlist-inner img { width: 100%; height: 10vw; object-fit: contain; object-position: center; }
.media-list mat-radio-button {
    position: absolute;
    right: 0px;
    top: 8px;
    text-align: right;
}
.media-list mat-radio-button,
.media-list mat-radio-button > label,
.media-list .mat-radio-container { height: 100%; width: 100%; }
.media-list .mat-radio-container { text-align: right; padding-right: 15px; }
.media-list .mat-radio-ripple { display: none !important }
.media-list .mat-radio-inner-circle,
.media-list .mat-radio-outer-circle { right: 8px !important; left: auto !important; }
.media-list { word-break: break-all; }
/*Material Select Box */
.mat-select-panel {
    min-width: 0px !important;
    left: 35px !important;
    position: relative;
    width: 100% !important;
    max-width: 100% !important;
}
.footer-logo-prew{margin-top: 25px;}
.footer-logo-prew img{max-width: 200px; max-height: 80px; object-fit: contain;object-position: left center;}

/*--------------------------------*/
/*---------- LOGIN PAGE ----------*/
/*--------------------------------*/

.login-page {
    background-image: url(assets/img/senior-portal-banner.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: top left; 
    height: 100vh; 
    overflow-y: auto; 
}
.login-page .valign-center { align-items: center !important; }
.login-page .form-signin { 
    background: #fafafa; 
    padding: 40px 20px; 
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px #aeba29;
}
.login-page .form-signin .icon-seperator {
    background: #fafafa; 
    border-radius: 50%; 
    display: inline-block; 
    padding: 10px;
}
.login-page .form-signin mat-icon { height: 40px; width: 40px; }
.login-page .form-signin hr { border-color: #aa0977; margin-top: -38px; }

/*-------------------------------*/
/*---------- DASHBOARD ----------*/
/*-------------------------------*/

.dash-container { background-color: #fff; border: 1px solid #ccc; padding: 30px; margin: 15px auto 80px; min-height: calc(100vh - 95px); }
.playlist-info img { width: 100%; height: auto; }
#dashboard-menus .mat-icon { height: 50px; width: 50px; }

/*-------------------------------*/
/*---------- TEMPLATES ----------*/
/*-------------------------------*/
.empty-min-height { min-height: 26px; }
.dash-container .slide-tabs .tab-content { border: 1px solid #ddd; border-top: 0px; padding-bottom: 15px; }
.dash-container .slide-tabs > .nav-tabs { 
    border-top:  1px solid #ddd; 
    border-right: 1px solid #ddd; 
    border-left: 1px solid #ddd; 
}
.dash-container .slide-tabs > .nav-tabs > li > a { 
    border-radius: 0px; 
    border-top: 0px; 
    border-left: 0px; 
    border-right: 1px solid #ddd; 
    color: #6c655f; 
}
.template-outer { width: 100%; padding-bottom: 75%; position: relative; }
.template-inner { 
    position: absolute; 
    top: 0; 
    left: 0px; 
    width: 100%; 
    height: 100%;
    border: 1px solid #aaa;
    padding: 5px;
    background: #fff; 
}
.template-inner .media,
.template-inner .media > div { height: 100%; }
.template-inner .media > div > img { width: 100%; height: 100%; object-fit: cover; }

/* Video Template */
.local_video { position: absolute; width: 100%; height: 100%; top: 0; left: 0; }
.local_video video {
    width: 95%;
    margin: 0 auto;
    display: block;
    height: 95%;
    position: relative;
    top: 2.5%;
}
/*.print_modal .local_video video { 
    width: auto; 
    margin: 2vh auto 0; 
    display: block; 
    height: 95%; 
    position: relative; 
    top: 2.5%; 
}*/

/*--------------------------------*/
/*---------- ADD SLIDES ----------*/
/*--------------------------------*/
     
      /*---------- thumbnail slide  css ---------*/

.template-one-ie .col-sm-4 {width:211px;height: 355px;}

.template-one-ie .col-sm-8{width:423px;}

.template-two-ie .col-sm-6{width:300px;}

.template-event-ie .col-sm-6{width:300px;}

.template-event-ie .col-sm-4{width:100px;}

.template-event-ie .col-sm-8 {width:200px;}


/* Background Modal */
.background-radio { padding: 0px; }
.background-radio mat-radio-button { padding-left: 5px; padding-top: 10px; padding-bottom: 5px; } 
.background-radio .mat-radio-label-content { padding-left: 10px; }
.background-radio .mat-radio-button .mat-radio-ripple { 
    left: calc(50% - 15px);
    top: calc(50% - 15px);
    height: 30px;
    width: 30px;
}

.slide-contents { position: relative;  padding: 0px 5px; transition: all 0.5s; }
.editor-sec .slide-contents:hover { padding: 0px 5px; }
.slide-contents .slide_title_1 p,
.slide-contents .slide_title_2 p,
.slide-contents .slide_title_3 p,
.slide-contents .m-0 p,
.slide-contents h1, 
.slide-contents h2, 
.slide-contents h3, 
.slide-contents h4, 
.slide-contents h5, 
.slide-contents h6 { margin: 0px; }
.slide-contents mat-icon {
    position: absolute;
    top: 2px;
    right: 10px;
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    width: 20px;
    background: #aa0977;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
}
.slide-contents:hover mat-icon { opacity: 1; }

/* Template One & Two */
/*.template-two .slide_title_1,
.template-one .slide_title_1 { max-height: 3.5vw; overflow: auto; }*/
.template-two .slide_title_1,
.template-one .slide_title_1 { font-size: 2vw !important; /*line-height: 3vw;*/ }
/*.template-two .slide_title_2,
.template-event .slide_title_2,
.template-one .slide_title_2 { height: 4.5vw; overflow: auto; }*/
.template-event .slide_title_2{ font-size: 1.5vw !important; /*line-height: 3.8vw;*/ }
.template-two .slide_title_2,
.template-one .slide_title_2 { font-size: 4vw !important; /*line-height: 3.8vw;*/ }
/*.template-one .slide_title_2 a { display: inline-block; }*/
/*.template-two .slide_title_3,
.template-event .slide_title_3,
.template-one .slide_title_3 { max-height: 3.5vw; overflow: auto; }*/
.template-two .slide_title_3,
.template-event .slide_title_3,
.template-one .slide_title_3 { font-size: 2vw !important; /*line-height: 3vw;*/ }
/*.template-two .slide_content,
.template-event .slide_content,
.template-one .slide_content { white-space: pre-wrap; max-height: 13vw; overflow: auto; }*/
.template-two .slide_content,
.template-event .slide_content,
.template-one .slide_content { font-size: 1vw !important; /*line-height: 1.5vw;*/ min-height: 2.5vw; }

/* Template Event */
/*.template-event .slide_title_1 { max-height: 3.5vw; overflow: auto; }*/
.template-event .slide_title_1 { font-size: 1.2vw !important; /*line-height: 2.2vw;*/ }

/* Template Three 
/*.template-three .slide_title_1,
.template-three .slide_title_2 { max-height: 3vw; overflow: auto; }*/
.template-three .slide_title_1,
.template-three .slide_title_2 { font-size: 2vw !important; /*line-height: 3vw;*/ }
/*.template-three .slide_title_3 { max-height: 6vw; overflow: auto; }*/
.template-three .slide_title_3 { font-size: 4vw !important; /*line-height: 5.5vw;*/ }
/*.template-three .slide_content { white-space: pre-wrap; max-height: 18vw; overflow: auto; }*/
.template-three .slide_content { /*font-size: 1vw !important;*/ /*line-height: 1.5vw;*/ min-height: 2.5vw;  }

/* Template Four */
/*.template-four .slide_title_1 { max-height: 6vw; overflow: auto; }*/
.template-four .slide_title_1 { font-size: 4vw !important; /*line-height: 5.5vw;*/ }
/*.template-four .slide_content { white-space: pre-wrap; max-height: 20vw; overflow: auto; }*/
.template-four .slide_content { /* font-size: 1vw !important;  line-height: 1.5vw;*/ min-height: 2.5vw;  }

/* Template Five and Six */
/*.template-five .slide_title_1,
.template-six .slide_title_1 { max-height: 6vw; overflow: auto; }*/
.template-five .slide_title_1,
.template-six .slide_title_1 { font-size: 4vw !important; /*line-height: 5.5vw;*/ }
/*.template-five .slide_content { white-space: pre-wrap; max-height: 25vw; overflow: auto; }*/
.template-five .slide_content {   }
 
.slide_title_1 h1,
.slide_title_1 h2,
.slide_title_1 h3,
.slide_title_1 h4,
.slide_title_1 h5,
.slide_title_1 h6,
.slide_title_1 p,
.slide_title_2 h1,
.slide_title_2 h2,
.slide_title_2 h3,
.slide_title_2 h4,
.slide_title_2 h5,
.slide_title_2 h6,
.slide_title_2 p,
.slide_title_3 h1,
.slide_title_3 h2,
.slide_title_3 h3,
.slide_title_3 h4,
.slide_title_3 h5,
.slide_title_3 h6,
.slide_title_3 p,   
.slide_content h1,
.slide_content h2,
.slide_content h3,
.slide_content h4,
.slide_content h5,
.slide_content h6,
.slide_content p { color: inherit; }
.slide-contents h1,
.slide-contents h2,
.slide-contents h3,
.slide-contents h4,
.slide-contents h5,
.slide-contents h6,
.slide-contents p { color: inherit; margin: 0px; line-height: 1.2; }

/*--------------------------------------------*/
/*---------- PRINT/PREVIEW PORTRAIT ----------*/
/*--------------------------------------------*/
/* Template One & Two */
.print-div { overflow: hidden; }
/*.portrait_mode.print-div .template-two .slide_title_1,
.portrait_mode.print-div .template-event .slide_title_1,
.portrait_mode.print-div .template-one .slide_title_1 { font-size: 3vw; line-height: 4vw; max-height: 100%; overflow: hidden; }
.portrait_mode.print-div .template-two .slide_title_2,
.portrait_mode.print-div .template-event .slide_title_2,
.portrait_mode.print-div .template-one .slide_title_2 { font-size: 6vw; line-height: 6vw; height: auto; overflow: hidden; }
.portrait_mode.print-div .template-one .slide_title_2 a { display: inline-block; }
.portrait_mode.print-div .template-two .slide_title_3,
.portrait_mode.print-div .template-event .slide_title_3,
.portrait_mode.print-div .template-one .slide_title_3 { font-size: 3vw; line-height: 3vw; max-height: 100%; overflow: hidden; }
.portrait_mode.print-div .template-two .slide_content,
.portrait_mode.print-div .template-event .slide_content,
.portrait_mode.print-div .template-one .slide_content { font-size: 2vw; line-height: 3vw; white-space: pre-wrap; max-height: 100%; overflow: hidden; }*/

/* Template Three */
/*.portrait_mode.print-div .template-three .slide_title_1,
.portrait_mode.print-div .template-three .slide_title_2 { font-size: 2.5vw; line-height: 3.5vw; max-height: 100%; overflow: hidden; }
.portrait_mode.print-div .template-three .slide_title_3 { font-size: 6vw; line-height: 6vw; max-height: 100%; overflow: hidden; }
.portrait_mode.print-div .template-three .slide_content { font-size: 1.5vw; line-height: 2vw; white-space: pre-wrap; max-height: 100%; overflow: hidden; }*/

/* Template Four */
/*.portrait_mode.print-div .template-four .slide_title_1 { font-size: 6vw; line-height: 6vw; max-height: 100%; overflow: hidden; }
.portrait_mode.print-div .template-four .slide_content { font-size: 1.5vw; line-height: 2vw; white-space: pre-wrap; max-height: 100%; overflow: hidden; }*/

/* Template Five and Six */
/*.portrait_mode.print-div .template-five .slide_title_1,
.portrait_mode.print-div .template-six .slide_title_1 { font-size: 6vw; line-height: 6vw; max-height: 100%; overflow: hidden; }
.portrait_mode.print-div .template-five .slide_content { font-size: 1.5vw; line-height: 2vw; white-space: pre-wrap; max-height: 100%; overflow: hidden; }*/

/*-----------------------------------*/
/*---------- PRINT/PREVIEW ----------*/
/*-----------------------------------*/

/*.print-div .template-two .slide_title_1,
.print-div .template-event .slide_title_1,
.print-div .template-one .slide_title_1 { font-size: 4vh; line-height: 5vh; max-height: 100%; overflow: hidden; }
.print-div .template-two .slide_title_2,
.print-div .template-event .slide_title_2,
.print-div .template-one .slide_title_2 { font-size: 8vh; line-height: 10vh; height: auto; overflow: hidden; }
.print-div .template-one .slide_title_2 a { display: inline-block; }
.print-div .template-two .slide_title_3,
.print-div .template-event .slide_title_3,
.print-div .template-one .slide_title_3 { font-size: 4vh; line-height: 5vh; max-height: 100%; overflow: hidden; }
.print-div .template-two .slide_content,
.print-div .template-one .slide_content { white-space: pre-wrap; max-height: 49vh; overflow: hidden; }
.print-div .template-event .slide_content { white-space: pre-wrap; max-height: 60vh; overflow: hidden; }*/

/* Template Three */
/*.print-div .template-three .slide_title_1,
.print-div .template-three .slide_title_2 { font-size: 4vh; line-height: 5vh;  max-height: 100%; overflow: hidden; }
.print-div .template-three .slide_title_3 { font-size: 8vh; line-height: 10vh; max-height: 100%; overflow: hidden; } 
.print-div .template-three .slide_content { white-space: pre-wrap; max-height: 57vh; overflow: hidden; }*/

/* Template Four */
/*.print-div .template-four .slide_title_1 { font-size: 8vh; line-height: 10vh; max-height: 100%; overflow: hidden; }
.print-div .template-four .slide_content { white-space: pre-wrap; max-height: 65vh; overflow: hidden; }*/

/* Template Five and Six */
/*.print-div .template-five .slide_title_1,
.print-div .template-six .slide_title_1 { font-size: 8vh; line-height: 10vh; max-height: 100%; overflow: hidden; }
.print-div .template-five .slide_content { white-space: pre-wrap; max-height: 70vh; overflow: hidden; }*/

/* Slide Content Fonts */
/*.print-div .font-slide { font-size: 2.5vw !important; line-height: 1.2em !important; }
.print-div .font-slide h1 { font-size: 5.0vw !important; line-height: 1.2em !important; }
.print-div .font-slide h2 { font-size: 4.5vw !important; line-height: 1.2em !important; }
.print-div .font-slide h3 { font-size: 4.0vw !important; line-height: 1.2em !important; }
.print-div .font-slide h4 { font-size: 3.5vw !important; line-height: 1.2em !important; }
.print-div .font-slide h5 { font-size: 3.0vw !important; line-height: 1.2em !important; }
.print-div .font-slide h6 { font-size: 2.5vw !important; line-height: 1.2em !important; }*/
/*.print-div .font-lg { font-size: 2.2vw !important; line-height: 2.7vw !important; }
.print-div .font-lg h1 { font-size: 4.7vw !important; line-height: 1.2em !important; }
.print-div .font-lg h2 { font-size: 4.2vw !important; line-height: 1.2em !important; }
.print-div .font-lg h3 { font-size: 3.7vw !important; line-height: 1.2em !important; }
.print-div .font-lg h4 { font-size: 3.2vw !important; line-height: 1.2em !important; }
.print-div .font-lg h5 { font-size: 2.7vw !important; line-height: 1.2em !important; }
.print-div .font-lg h6 { font-size: 2.2vw !important; line-height: 1.2em !important; }*/
/*.print-div .font-md { font-size: 0.8vw !important; line-height: 1.2em !important; }
.print-div .font-md h1 { font-size: 4.5vw !important; line-height: 1.2em !important; }
.print-div .font-md h2 { font-size: 4.0vw !important; line-height: 1.2em !important; }
.print-div .font-md h3 { font-size: 3.5vw !important; line-height: 1.2em !important; }
.print-div .font-md h4 { font-size: 3.0vw !important; line-height: 1.2em !important; }
.print-div .font-md h5 { font-size: 2.5vw !important; line-height: 1.2em !important; }
.print-div .font-md h6 { font-size: 2.0vw !important; line-height: 1.2em !important; }
.print-div .font-sm { font-size: 0.6vw !important; line-height: 1.2em !important; }
.print-div .font-sm h1 { font-size: 4.3vw !important; line-height: 1.2em !important; }
.print-div .font-sm h2 { font-size: 3.8vw !important; line-height: 1.2em !important; }
.print-div .font-sm h3 { font-size: 3.3vw !important; line-height: 1.2em !important; }
.print-div .font-sm h4 { font-size: 2.8vw !important; line-height: 1.2em !important; }
.print-div .font-sm h5 { font-size: 2.3vw !important; line-height: 1.2em !important; }
.print-div .font-sm h6 { font-size: 1.8vw !important; line-height: 1.2em !important; }
.print-div .font-xs { font-size: 0.4vw !important; line-height: 1.2em !important; }
.print-div .font-xs h1 { font-size: 3.0vw !important; line-height: 1.2em !important; }
.print-div .font-xs h2 { font-size: 3.5vw !important; line-height: 1.2em !important; }
.print-div .font-xs h3 { font-size: 3.0vw !important; line-height: 1.2em !important; }
.print-div .font-xs h4 { font-size: 2.5vw !important; line-height: 1.2em !important; }
.print-div .font-xs h5 { font-size: 2.0vw !important; line-height: 1.2em !important; }
.print-div .font-xs h6 { font-size: 1.5vw !important; line-height: 1.2em !important; }*/

/*.print-div .slide_content p { margin-bottom: 0px !important; }*/

/* If Has No Footer Or Announcement */
.print-div .footer-section { display: none; }

/* If Has No Footer and Only Announcement */
/*.print-div .has-single-announce .main-section { height: 95vh !important; } COMMENTED BY SAM*/
/*.print-div .has-single-announce .footer-section { height: 5vh !important; display: block; } COMMENTED BY SAM*/

/* If Has No Footer and Only Announcement */
/*.print-div .has-single-footer .main-section { height: 90vh !important; } COMMENTED BY SAM*/
/*.print-div .has-single-footer .footer-section { height: 10vh !important; display: block; } COMMENTED BY SAM*/

/* If Has Footer And Announcement */
/*.print-div .has-footer-announce .main-section { height: 85vh !important; }
.print-div .has-footer-announce .footer-section { height: 15vh !important; display: block; } COMMENTED BY SAM*/
.footer-section .scroll_announcement { font-size: 16px; line-height: 25px; height: 25px; }
.footer-section .footer_text  { font-size: 18px; line-height: 40px; height: 40px; }

/*-------------------------------*/
/*---------- NEW SLIDE ----------*/
/*-------------------------------*/

.slide_event_desc * { color: inherit; }
.add_slide_page mat-tab-group .container-fluid { padding: 15px 0px; }
.add_slide_page mat-tab-group .mat-tab-body-content { overflow-y: hidden; }
.add_slide_page mat-tab-header { background: #fff; }

.add_slide_page inline-editor .form-group { display: block !important; position: relative; width: 100%; }
.add_slide_page inline-editor .form-group input { width: 100% !important; }
.add_slide_page inline-editor .inline-editor-button-group { position: absolute; right: 0px; top: 9px; line-height: 20px; }
.add_slide_page .font-title .inline-editor-button-group { top: 29px; }
.add_slide_page inline-editor .inline-editor-button-group button { 
    width: 20px;
    text-align: center;
    margin-right: 5px; 
    padding: 0px; 
    font-size: 12px; 
    line-height: 20px; 
    height: 20px;
    font-weight: 400; 
    border-radius: 50%; 
    display: inline-block;
    vertical-align: top;
}
.add_slide_page inline-editor .inline-editor-button-group button:nth-child(2) { background-color: #aa0977 !important; }
.add_slide_page inline-editor .inline-editor-button-group button:nth-child(1) { background-color: #aeba29 !important; }
.add_slide_page mat-radio-button { display: inline-block !important; margin-right: 15px; }

.slide-settings { position: absolute; right: 20px; top: 0; z-index: 9999; }

.background-radio .mat-figure { justify-content: flex-start !important; }

.template-navigation mat-tab-header { background: #324a5e; }
.template-navigation mat-tab-header .mat-tab-header-pagination { background: #324a5e; }
.template-navigation mat-tab-header .mat-tab-header-pagination-chevron { border-color: #fff; }
.template-navigation mat-tab-header .mat-tab-label-active { opacity: 1;  }
.template-navigation mat-tab-header .mat-tab-label-content { color: #fff; }
.template-navigation .mat-ink-bar { height: 0px; }

.template-one .slide_title_1 .inline-editor-button-group,
.template-one .slide_title_3 .inline-editor-button-group,
.template-two .slide_title_1 .inline-editor-button-group,
.template-two .slide_title_3 .inline-editor-button-group,
.template-three .slide_title_1 .inline-editor-button-group,
.template-three .slide_title_2 .inline-editor-button-group { top: 15px; }
.template-six .slide_title_1 .inline-editor-button-group,
.template-five .slide_title_1 .inline-editor-button-group,
.template-four .slide_title_1 .inline-editor-button-group,
.template-three .slide_title_3 .inline-editor-button-group { top: 35px; }
.template-one .slide_title_2 .inline-editor-button-group,
.template-two .slide_title_2 .inline-editor-button-group { top: 25px; }

.has-fa .editor-sec,
.has-fa .print-div { overflow: hidden; height: calc(100% - 65px); }
.has-f .editor-sec,
.has-f .print-div { overflow: hidden; height: calc(100% - 40px); }
.has-a .editor-sec,
.has-a .print-div { overflow: hidden; height: calc(100% - 25px); }
.has-n .editor-sec,
.has-n .print-div { overflow: hidden; height: calc(100%); }

/*-----------------------------------*/
/*---------- EDIT PLAYLIST ----------*/
/*-----------------------------------*/

.playlist_title mat-form-field { width: 100%; }
.playlist_title mat-form-field input { font-size: 20px; }
.playlist_title > .title > span { position: absolute; top: 20px; right: 20px; }
.playlist_title > .playlist_desc > span { position: absolute; top: 35px; right: 20px; }

.inline-block-middle { display: inline-block; vertical-align: middle; }
.align-items-center{ align-content: center; }
.editor-grid-inner { position: relative; cursor: pointer; width: 100%; height: 100%; border:solid 5px #fff;}
/*.editor-grid-inner div:nth-child(2) { min-height: calc( 100% - 45px); }*/
.slide_scheduled { border-color: #aa0977; }
.editor-grid-inner.slide_scheduled div:nth-child(2) { min-height: calc( 100% - 45px); }

.editor-tools { 
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    opacity: 0;
    transition: all 0.3s;
    background: rgba(0,0,0,0.7);
    padding: 5px 10px; 
    width: 100%;
    font-size: 20px;
    z-index: 10;
}
.editor-grid-inner:hover .editor-tools { opacity: 1; }
.editor-tools > span { font-size: 20px;line-height: 25px; cursor: pointer; }
.editor-tools > a:hover span,
.editor-tools > span:hover { color: #ffd740 !important; }
.editor-inline mat-radio-button { display: inline-block !important; vertical-align: top; }
.inactive_overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 9;
    background: rgba(255,255,255,0.5);
}
.add_slide_box > a { display: flex; height: calc(100% - 45px); align-items: center; justify-content: center; border: 2px solid #999; padding: 18.43% 0px; }
.add_slide_box > a:hover { text-decoration: none; border: 2px solid #aa0977 !important; }
.add_slide_box > a:hover span { color: #aa0977 !important; }

/*----------------------------------*/
/*---------- PREVIEW PAGE ----------*/
/*----------------------------------*/ 

.preview_page .form-group { margin-bottom: 0px; }
.print_modal {
    max-width: 100% !important;
    width: 100% !important;
    background-color: #000;
} 
.print_modal .mat-dialog-container { padding: 0px; border-radius: 0px; background: #000; overflow: hidden; }
.slide-print-dialog .mat-dialog-actions {
    display: table;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
}
.print_modal .slide-print-dialog .mat-dialog-actions h1,
.print_modal .slide-print-dialog .mat-dialog-actions .slide-links { width: 50%; float: left; padding: 10px 30px; margin: 0px; }
.print_modal .slide-print-dialog .mat-dialog-actions .slide-links { text-align: right; }
.print_modal .slide-print-dialog .mat-dialog-content { max-height: 100%; width: 100%; padding: 0px !important; margin: 0px; }

/*.print_modal .print-div { height: 100vh; width: calc( ( 100vh * 16 ) / 9 ); margin: 0px auto; max-width: 100%; }*/
.print_modal .portrait_mode.print-div > div { height: calc( ( 100vw * 9 ) / 16 ); width: 100%; margin: 0px auto; }
.print_modal .print-div > div > div { height: 100%; }
.print_modal .print-div .full-height .row .col-sm-4,
.print_modal .print-div .full-height .row .col-sm-8 { height: 100%; }

/* If height is more than width */
.print_modal .portrait_mode.print-div { width: 100%; height: 100vh; display: flex; align-items: center; }

.print_modal .portrait_mode.print-div .has-footer-announce .main-section { height: calc( ( ( 100vw * 9 ) / 16 ) - 15vh ) !important;}
.print_modal .portrait_mode.print-div .has-single-footer .main-section { height: calc( ( ( 100vw * 9 ) / 16 ) - 10vh ) !important;}
.print_modal .portrait_mode.print-div .has-single-announce .main-section { height: calc( ( ( 100vw * 9 ) / 16 ) - 5vh ) !important;}

.portrait_mode.print-div .has-footer-announce .footer-section { height: 15vw !important; }
.portrait_mode.print-div .has-singel-footer .footer-section { height: 10vw !important; }
.portrait_mode.print-div .has-single-announce .footer-section { height: 5vw !important; }

.portrait_mode.print-div .footer-section .scroll_announcement { font-size: 2vw; line-height: 5vw; height: 5vw; }
.portrait_mode.print-div .footer-section .footer_text { font-size: 3.5vw; line-height: 10vw; height: 10vw; }
.portrait_mode.print-div .footer-section .footer_text img { height: 8vw !important; }

.choose-slides .mat-checkbox-layout { margin-bottom: 0px; }

/*----------------------------*/
/*----------- HOME -----------*/
/*----------------------------*/
.cdk-global-scrollblock,
.has-fixed-footer { overflow: hidden !important; }
/*.print_modal > .slide-fade { width: calc( ( 100vh * 16 ) / 9 ); margin: 0 auto; position: relative; }*/
/*.home-footer .footer-section { width: calc( ( 100vh * 16 ) / 9 ); margin: 0 auto; }*/
.print_modal > .slide-fade { width: calc( ( 100vh * 16 ) / 9 ); margin: 0 auto; position: relative; }
.home-footer { position: absolute; bottom: 0px; left: 0px; right: 0px; }
.home-footer .footer-section { /*width: calc( ( 100vh * 16 ) / 9 );*/ margin: 0 auto; }
.print_modal.has-fa .print-div { height: 85vh; overflow: hidden }
.print_modal.has-a .print-div { height: 95vh; overflow: hidden }
.print_modal.has-f .print-div { height: 90vh; overflow: hidden }

.print_modal.has-a .footer-section { height: 5vh !important; display: block; }
.print_modal.has-f .footer-section { height: 10vh !important; display: block; }
.print_modal.has-fa .footer-section { height: 15vh !important; display: block; }
.home-footer .footer_text  .row,
.print_modal.has-fa .footer-section .footer_text .row { margin: 0px; }

.has-fa > .slide-fade { height: 100%; overflow: hidden; }
.has-f > .slide-fade { height: 100%; overflow: hidden; }
.has-a > .slide-fade { height: 100%; overflow: hidden; }
.has-n > .slide-fade { height: 100%; overflow: hidden; }

.slide-control-next,
.slide-control-prev {
    opacity: 0;
    background: transparent;
    transition: all 0.4s;
    position: absolute;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 99999;
}
.slide-control-next { justify-content: flex-end; padding-right: 10px; right: 0px; }
.slide-control-prev { justify-content: flex-start; padding-left: 10px; left: 0px; }
.slide-control-next:hover,
.slide-control-prev:hover { opacity: 1; }
.slide-control-next > span,
.slide-control-prev > span { 
    background-color: rgba(0,0,0,0.7); 
    background-image: none !important; 
    height: 30px;
    width: 30px;
    text-align: center;
    z-index: 99999;
}
.slide-control-next > span mat-icon,
.slide-control-prev > span mat-icon { height: 30px !important; width: 30px !important; line-height: 30px !important; }

/* Event Widget Template */
.event-widget-title { margin-bottom: 20px; color: inherit; }
.event-infor { margin-bottom: 10px; }
.event-infor p { margin: 0px; text-align: left; color: inherit; }

/*----------------------------*/
/*---------- FOOTER ----------*/
/*----------------------------*/

app-footer { position: absolute; width: 100%; bottom: 0px; left: 0; }

/*-----------------------------------*/
/*---------- MEDIA QUERIES ----------*/
/*-----------------------------------*/

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .cust-snackbar:before { display: none !important; }
}

@media (max-width: 767px) {
    /* Header */
    .hide-767  { display: none; }    
    .show-767 { display: block; }
    .mobile-dropdown .dropdown.show { position: static; }
    .mobile-dropdown .dropdown-menu { position: absolute; top: 55px; right: 0; border-radius: 0px; }
}

@media (max-width: 380px) { 
    .dash-container { padding: 30px 10px; }
    .container { padding-right: 0px; padding-left: 0px; }
}

.foo {
  transition: all 0.35s ease-in-out;
}

.sn-image-not-loaded ::ng-deep .img {
  filter: blur(20px);
}

.sn-image-loaded ::ng-deep .img {
  filter: blur(0);
}

.print_modal1 {
    width: 640px;
    height: 360px;
    transform-origin: center center;
    top: 50%;
    left: 50%;
    position: absolute;
}
.print_modal2 {
    width: 640px;
    height: 360px;
    transform-origin: center center;
    top: 50%;
    left: 50%;
    position: relative;
}
/**  IMAGE LOADER CSS **/
.col-left-with-bg{position: relative;}
.col-left-with-bg .preloader.show{display: block;}
.col-left-with-bg .preloader.hide{display: none;}
.col-left-with-bg .preloader{position: absolute;z-index: 0; width: 100%;height: 100%;left: 0;top: 0; background-color: #FFF;background-image: url('assets/img/loading.gif');background-repeat: no-repeat;background-position: center;}

.col-right-with-bg{position: relative;}
.col-right-with-bg .preloader{position: absolute;z-index: 0; width: 100%;height: 100%;left: 0;top: 0; background-color: #FFF;background-image: url('assets/img/loading.gif');background-repeat: no-repeat;background-position: center;}
.col-right-with-bg .inner-content-tmpl{position: relative;z-index: 1;}
.col-right-with-bg .preloader.hide{display: none;}
.col-right-with-bg .preloader.show{display: block;}
.col-right-with-bg .com-sm-6 .preloader.hide{display: none;}
.col-right-with-bg .com-sm-6 .preloader.show{display: block;}
.html2canvas-container { width: 3000px !important; height: 3000px !important; }

.ppt_pdf{position: relative;}
iframe.ppt_pdf_play {
    transform: translate(-50%,-50%) scale(0.5, 0.5);
    height: 1200px;
    width: 1200px;
    position: absolute;
    left: 50%;
    top: 100%;
    overflow: hidden;
}