<form #f="ngForm" (ngSubmit)="submitEventSetting()" [formGroup]="eventSettingForm" novalidate autocomplete="off">
	<div mat-dialog-content>
		<div class="container">
			<div class="col-sm-12 background-radio">
				<div class="widget_type">
					<label for="widgetType" class="full-width">Select the Events you would like to appear</label>
			        <mat-radio-group [formControl]="eventSettingForm.get('widgetType')" required class="radio-btn-wrapper">
			          <mat-grid-list cols="3" rowHeight="40px">
			            <mat-grid-tile>
			              <mat-radio-button value="T">Today’s Events</mat-radio-button>
			            </mat-grid-tile>
			            <mat-grid-tile>
			              <mat-radio-button value="W">Upcoming Events</mat-radio-button>
			            </mat-grid-tile>
			          </mat-grid-list>
			        </mat-radio-group>
			    </div>

			    <div class="widget_limit">
					<label for="widgetLimit" class="full-width">Select the number of events you would like to display</label>
			        <mat-radio-group [formControl]="eventSettingForm.get('widgetLimit')" required class="radio-btn-wrapper">
			          <mat-grid-list cols="3" rowHeight="40px">
			            <mat-grid-tile>
			              <mat-radio-button value="4">4</mat-radio-button>
			            </mat-grid-tile>
			            <mat-grid-tile>
			              <mat-radio-button value="6">6</mat-radio-button>
			            </mat-grid-tile>
			            <mat-grid-tile>
			              <mat-radio-button value="8">8</mat-radio-button>
			            </mat-grid-tile>
			          </mat-grid-list>
			        </mat-radio-group>
			    </div>
			    <p>If you want to add a single event slide, do so in the event system.</p>
		    </div>
		</div>
	</div>
	<div class="mt-30 mb-0-i text-center">
		<button type="submit" [disabled]="eventSettingForm.invalid" class="btn back-green color-white mr-10">APPLY</button>
	  	<button type="button" (click)="onNoClick()" class="btn back-pink color-white">CANCEL</button>
	</div>
</form>