<!-- <div class="print_modal front-modal" [ngClass]="
		(hasFooter && hasAnnouncement) ? 'has-fa' :
		(hasFooter && !hasAnnouncement) ? 'has-f' :
		(!hasFooter && hasAnnouncement) ? 'has-a' : '' " >
	<div id="slideComponent" class="carousel slide carousel-fade" *ngIf="playlistInfo">
	  <div class="carousel-inner">
	    <div class="carousel-item" [attr.data-interval]="slide.duration" *ngFor="let slide of tempSlides let i = index" [ngClass]="{'active' : i == 0}">
	      <app-slide [slidedata]="slide"></app-slide>
	    </div>
	  </div>
	  <a class="carousel-control-prev" href="#slideComponent" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon inline-block-middle" aria-hidden="true">
	    	<mat-icon class="color-white font-40">keyboard_arrow_left</mat-icon>
	    </span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#slideComponent" role="button" data-slide="next">
	    <span class="carousel-control-next-icon inline-block-middle" aria-hidden="true">
	    	<mat-icon class="color-white font-40">keyboard_arrow_right</mat-icon>
	    </span>
	    <span class="sr-only">Next</span>
	  </a>
	</div> -->
	<!-- <div class="home-footer back-black" *ngIf="(tempSlides.length && (playlistInfo.playlist.scroll_announcement == 'Y' || playlistInfo.playlist.footer_text == 'Y'))"> -->
	<!-- <div class="home-footer back-black" [hidden]="(!tempSlides.length && (playlistInfo.playlist.scroll_announcement != 'Y' || playlistInfo.playlist.footer_text != 'Y'))">
		<div class="footer-section">
			<div class="scroll_announcement" *ngIf="playlistInfo.playlist.scroll_announcement == 'Y'">
				<div #announcementContainer></div>
			</div>
			<div class="footer_text" *ngIf="playlistInfo.playlist.footer_text == 'Y'">
				<div #footerContainer></div>
			</div>
		</div>
	</div>
</div> -->

<div (window:resize)="onResize($event)" id="mainComponent" class="print_modal1 front-modal" [ngClass]="
		(hasFooter && hasAnnouncement) ? 'has-fa' :
		(hasFooter && !hasAnnouncement) ? 'has-f' :
		(!hasFooter && hasAnnouncement) ? 'has-a' : 'has-n' " >
	<div id="slideComponent" class="slide slide-fade" *ngIf="playlistInfo">
	  <div class="slide-inner full-height">
	    <div class="slide-item full-height" *ngFor="let slide of tempSlides; trackBy:trackBySlide let i = index" [ngClass]="isSelected(i)">
	      <app-slide [slidedata]="slide"></app-slide>
	    </div>
	  </div>
	  <a class="slide-control-prev" (click)="prevSlide()">
	    <span class="slide-control-prev-icon inline-block-middle" aria-hidden="true">
	    	<mat-icon class="color-white font-20">keyboard_arrow_left</mat-icon>
	    </span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="slide-control-next" (click)="nextSlide()">
	    <span class="slide-control-next-icon inline-block-middle" aria-hidden="true">
	    	<mat-icon class="color-white font-20">keyboard_arrow_right</mat-icon>
	    </span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
	
	<div *ngIf="playlistInfo.playlist.scroll_announcement == 'Y' || playlistInfo.playlist.footer_text == 'Y'" class="home-footer back-black" [ngClass]="(tempSlides.length && (playlistInfo.playlist.scroll_announcement == 'Y' || playlistInfo.playlist.footer_text == 'Y')) ? 'show' : 'hide'">
		<div class="footer-section">
			<div class="scroll_announcement" *ngIf="playlistInfo.playlist.scroll_announcement == 'Y'">
				<div #announcementContainer></div>
			</div>
			<div class="footer_text" *ngIf="playlistInfo.playlist.footer_text == 'Y'">
				<div #footerContainer></div>
			</div>
		</div>
	</div>
</div>