<form #f="ngForm" (ngSubmit)="submitAcementSetting()" [formGroup]="AcementSettingForm" novalidate autocomplete="off">
	<div mat-dialog-content>
		<div class="container">
			<div class="col-sm-12 background-radio">
				<div class="widget_type">
					<label for="widgetType" class="full-width">
						Select the type of announcement you would like to appear
					</label>
			        <mat-radio-group [formControl]="AcementSettingForm.get('widgetType')" required class="radio-btn-wrapper">
			          <mat-grid-list cols="2" rowHeight="40px">
			            <mat-grid-tile>
			              <mat-radio-button value="homepage">Homepage Announcement</mat-radio-button>
			            </mat-grid-tile>
			            <mat-grid-tile>
			              <mat-radio-button value="dining">Dining Announcement</mat-radio-button>
			            </mat-grid-tile>
			          </mat-grid-list>
			        </mat-radio-group>
			    </div>

			    <div class="widget_limit hidden">
					<label for="widgetLimit" class="full-width">Select the number of events you would like to display</label>
			        <mat-radio-group [formControl]="AcementSettingForm.get('widgetLimit')" required class="radio-btn-wrapper">
			          <mat-grid-list cols="3" rowHeight="40px">
			            <mat-grid-tile>
			              <mat-radio-button value="4">4</mat-radio-button>
			            </mat-grid-tile>
			            <mat-grid-tile>
			              <mat-radio-button value="6">6</mat-radio-button>
			            </mat-grid-tile>
			            <mat-grid-tile>
			              <mat-radio-button value="8">8</mat-radio-button>
			            </mat-grid-tile>
			          </mat-grid-list>
			        </mat-radio-group>
			    </div>

			    <div class="home-announcements" *ngIf="AcementSettingForm.get('widgetType').value=='homepage'">
			    	<label id="HomeAnnounceId" for="HomeAnnounceId" class="full-width">Choose one of the following homepage announcement</label>
					<mat-form-field>
					  <mat-select aria-labelledby="HomeAnnounceId"
					  class="radio-btn-wrapper"
					  [formControl]="AcementSettingForm.get('HomeAnnounceId')">
					    <mat-option *ngFor="let announcement of HomeAnnouncements" [value]="announcement.ID">
					      {{announcement.post_title}}
					    </mat-option>
					  </mat-select>
					</mat-form-field>
			    </div>
		    </div>
		</div>
	</div>
	<div class="mt-30 mb-0-i text-center">
		<button type="submit" [disabled]="AcementSettingForm.invalid" class="btn back-green color-white mr-10">APPLY</button>
	  	<button type="button" (click)="onNoClick()" class="btn back-pink color-white">CANCEL</button>
	</div>
</form>