<div class="container-fluid preview_page">	
	<div class="dash-container">
		<form autocomplete="off" [formGroup]="previewPlaylistForm" (ngSubmit)="onSubmit(previewPlaylistForm.value)" novalidate autocomplete="off">
			<div class="row mb-30">
				<div class="col-sm-12 col-md-6 col-lg-8">
					<h2>{{title}}</h2>
				</div>
				<div class="col-sm-12 col-md-3 col-lg-2">
			  		<button type="submit" class="btn back-green color-white font-20 full-width text-center" [disabled]="previewPlaylistForm.invalid">VIEW</button>
			  	</div>
			  	<div class="col-sm-12 col-md-3 col-lg-2 mb-20">
			  		<button type="reset" class="btn back-dark-grey color-white font-20 full-width text-center">RESET</button>
			  	</div>
			</div>
			<div class="row mb-30">
			  	<div class="form-group inline-picker col-md-12 col-lg-8">
			  		<p class="mb-20 font-20">Set Date & Time:</p>
			  		<span class="btn back-green color-white mr-10 mb-10 line-50" (click)="onChangeDT('today')">
			           <mat-icon class="mr-10 line-50 inline-block-top"> today </mat-icon> 
			           <span class="line-50 inline-block-top "> TODAY </span>
			        </span>
			        <span class="btn back-blue color-white mr-10 mb-10 line-50" (click)="onChangeDT('tomorrow')">
			        	<mat-icon class="mr-10 line-50 inline-block-top"> skip_next </mat-icon>
			            <span class="line-50 inline-block-top "> TOMORROW </span>
			        </span>
			        <span class="btn back-pink color-white mr-20 mb-10 line-50" [owlDateTimeTrigger]="preview_dt_picker">
			        	<mat-icon class="mr-10 line-50 inline-block-top"> date_range </mat-icon>
			            <span class="line-50 inline-block-top "> CUSTOM </span>
			        </span>
			  		<mat-form-field>
				        <input matInput name="prev_dt" [owlDateTimeTrigger]="preview_dt_picker" [formControl]="previewPlaylistForm.get('prev_dt')" required placeholder="Date and Time" [owlDateTime]="preview_dt_picker" readonly="readonly">
			        	<owl-date-time [pickerType]="'both'" [pickerMode]="'dialog'" [hour12Timer]="true" #preview_dt_picker></owl-date-time>
					</mat-form-field>
			  	</div>
			  	<div class="mb-30 col-md-12 col-lg-4">
				  	<p class="mb-20 font-20">Set View: <span>*</span></p>
				  	<mat-radio-group name="prev_type" [formControl]="previewPlaylistForm.get('prev_type')" required>
					  <mat-radio-button value="1" style="display: inline-block !important; width: 140px; margin-right: 1%;">Slide Show</mat-radio-button>
					  <mat-radio-button value="3" style="display: inline-block !important; width: 140px; margin-right: 1%;">Slides only</mat-radio-button>
					</mat-radio-group>
				</div>
			</div>
			
			<div class="mb-30">
			  	<p class="mb-20 font-20">Playlist: <span>*</span></p>
				<div *ngIf="!playlists?.length">
			        <p>No playlists found.</p>
			    </div>
    			<mat-radio-group *ngIf="playlists?.length > 0" name="playlist_id" [formControl]="previewPlaylistForm.get('playlist_id')" required>
				  <mat-radio-button *ngFor="let playlist of playlists; trackBy:trackByPlaylist" class="mr-10 mb-10" [value]="playlist.playlist_id" style="display: inline-block !important; width: 24%; margin-right: 1%;">{{playlist.name}}</mat-radio-button>
				</mat-radio-group>
			</div>

			<!-- <mat-paginator [length]="length"
              [pageSize]="pageSize"
              (page)="getNext($event)" class="mb-50 back-light-blue page-paginator color-blue font-16">
			</mat-paginator> -->

		</form>
	</div>
</div>