<div class="container-fluid preview_page">  
  <div class="dash-container">
    <form autocomplete="off" #addPlaylistForm="ngForm" (ngSubmit)="onSubmit(addPlaylistForm.value)" novalidate autocomplete="off">
      <div class="row class mb-30">
        <div class="col-sm-12 col-md-6 col-lg-8">
          <h2 class="m-0">{{title}}</h2>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-right">
          <button type="submit" [disabled]="addPlaylistForm.form.invalid" class="btn back-green color-white mr-10 font-20">SAVE</button>
          <a class="btn back-pink color-white font-20" routerLink="/playlist">BACK</a>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12 col-md-6 mb-10">
          <mat-form-field class="full-width mb-20">
            <input matInput name="name" #name="ngModel" placeholder="Playlist Title" [class.is-invalid]="name.invalid && name.touched" ngModel required>
            <mat-error *ngIf="name.invalid || name.untouched">Enter Playlist Title</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width mb-20">
            <textarea matInput name="description" #description="ngModel" placeholder="Playlist Description" [class.is-invalid]="description.invalid && description.touched" ngModel required></textarea>
            <mat-error *ngIf="description.invalid || description.untouched">Enter Playlist Description</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-sm-12 col-md-6 mb-10">
          <p class="mg-0 font-20"><label>Display scrolling announcement <span>*</span></label></p>
          <mat-radio-group class="mb-20" name="scroll_announcement" #scroll_announcement="ngModel" [class.is-invalid]="scroll_announcement.invalid && scroll_announcement.touched" ngModel required style="display: block;">
            <mat-radio-button value="Y" style="display: inline-block !important; margin-right: 15px;">Yes</mat-radio-button>
            <mat-radio-button value="N" style="display: inline-block !important;">No</mat-radio-button>
            <mat-error *ngIf="scroll_announcement.invalid && scroll_announcement.touched">Select display scrolling announcement</mat-error>
          </mat-radio-group>
          <p class="mg-0 font-20"><label>Display community footer <span>*</span></label></p>
          <mat-radio-group class="mb-20" name="footer_text" #footer_text="ngModel" [class.is-invalid]="footer_text.invalid && footer_text.touched" ngModel required style="display: block;">
            <mat-radio-button value="Y" style="display: inline-block !important; margin-right: 15px;">Yes</mat-radio-button>
            <mat-radio-button value="N" style="display: inline-block !important;">No</mat-radio-button>
            <mat-error *ngIf="footer_text.invalid && footer_text.touched">Select display community footer</mat-error>
          </mat-radio-group>
        </div>
      </div>
    </form>
  </div>
</div>