<div class="container-fluid">
	<div class="dash-container">
		<div class="row class mb-30">
			<div class="col-sm-12 col-md-6 col-lg-8">
				<h2>{{title}}</h2>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-4 text-right">
				<a class="btn back-green color-white font-20" routerLink="/add-slide">ADD SLIDE</a>
			</div>
		</div>
	
		<!-- include global search -->
		<app-global-search></app-global-search>

		<div id="existing-slides" class="row">
			<div *ngIf="!slides?.length" class="col-sm-12">
		        <p>No slides found.</p>
		    </div>
			<div class="playlist-info col-sm-6 col-md-4 col-lg-3 mb-20" *ngFor="let slide of slides;trackBy:trackBySlide">
				<div class="editor-grid-inner" [ngClass]="(slide.scheduled == 'Y') ? 'slide_scheduled' : ''">
					<div class="editor-tools color-white">
						
						<span class="fa fa-clone mr-10" (click)="copySlide(slide.slide_id)" title="Copy Slide"></span>
						
						<a [routerLink]="['/edit-slide', slide.slide_id]" class="color-white" title="Edit Slide">
							<span class="fa fa-cog mr-10"></span>
						</a>
						<span class="fa fa-times-circle-o mr-10" (click)="openHideShowDialog(slide.slide_id, slide.status)"  *ngIf="slide.status == 'A'" title="Hide Slide"></span>
						<span class="fa fa-check-circle-o mr-10" (click)="openHideShowDialog(slide.slide_id, slide.status)" *ngIf="slide.status == 'I'" title="Show Slide"> </span>
						<span *ngIf="slide.template_id != 'tmpl-event'" class="fa fa-trash-o" (click)="openDelteDialog(slide.slide_id)" title="Remove Slide"></span>
					</div>
					<div style="background-color: #f5f5f5;">
						<img [defaultImage]="blurDefault" [errorImage]="noimageDefault" [lazyLoad]="slide.cover_image ? mediaUrl+slide.cover_image+'?'+dateTemp : noimageDefault" [offset]="offset" />
					</div>
					<p class="m-0 back-grey text-center font-bold" style="padding: 5px 15px;"> 
						{{ (slide.title?.length>18)? (slide.title | slice:0:18)+'..':(slide.title) }}
					</p>
					<span class="inactive_overlay" *ngIf="slide.status == 'I'"></span>
				</div>
			</div>
		</div>
		<mat-paginator [length]="length"
              [pageSize]="pageSize"
              (page)="getNext($event)" class="back-light-blue page-paginator color-blue font-16">
		</mat-paginator>
	</div>
</div>