<div class="container-fluid">
	<div class="dash-container">
		<form #f="ngForm" [formGroup]="SettingConForm" (ngSubmit)="CreateSettingContent(SettingConForm.value)" #SettingContentForm autocomplete="off">
			<div class="row class mg-0 mb-30">
				<div class="col-sm-6">
					<h2> Settings </h2>
				</div>
				<div class="col-sm-6 text-right">
					<input type="submit" class="btn back-green color-white font-20" value="SUBMIT" [disabled]="!SettingConForm.valid">
				</div>
			</div>
		  	<div class="row mg-0 mb-30">
		    	<div class="col-sm-12">	      
		    		<p class="mg-0 mb-20 font-20"> Weather Settings </p>
		    		<div class="row">
		    			<div class="col-sm-2">
			      			<mat-form-field
				      			[hideRequiredMarker]="SettingConForm.get('Cityid').value"
		      					[floatLabel]="SettingConForm.get('Cityid').value">
							    <input matInput placeholder="City ID" formControlName="Cityid" required>
						  	</mat-form-field>
				      	</div>
				      	<div class="col-sm-3">
			        		<mat-form-field
				      			[hideRequiredMarker]="SettingConForm.get('Appid').value"
		      					[floatLabel]="SettingConForm.get('Appid').value">
							    <input matInput placeholder="App ID" formControlName="Appid" required>
						  	</mat-form-field>
				      	</div>
				      	<div class="col-sm-3">
			        		<mat-form-field
				      			[hideRequiredMarker]="SettingConForm.get('cityName').value"
		      					[floatLabel]="SettingConForm.get('cityName').value">
							    <input matInput placeholder="City Name" formControlName="cityName">
						  	</mat-form-field>
			      		</div>
			      		<div class="col-sm-4 unit-wrap">
			      			<label>Unit</label>

			        		<mat-radio-group name="weatherUnit" formControlName="weatherUnit" [formControl]="SettingConForm.get('weatherUnit')" class="radio-btn-wrapper">
							  <mat-radio-button id="imperial" value="imperial">F</mat-radio-button>
							  <mat-radio-button id="metric" value="metric">C</mat-radio-button>
							</mat-radio-group>
			      		</div>
				    </div>
		      		<hr>

		    		<p class="mt-10 mb-20 font-20"> Single slide default settings </p>
		    		<div class="row">
		    			<div class="col-sm-4 unit-wrap">
			      			<label>Auto Refresh</label>

			        		<mat-radio-group name="autoRefersh" formControlName="autoRefersh" [formControl]="SettingConForm.get('autoRefersh')" class="radio-btn-wrapper">
							  <mat-radio-button value="Yes">Yes</mat-radio-button>
							  <mat-radio-button value="No">No</mat-radio-button>
							</mat-radio-group>
			      		</div>
			      		<div class="col-sm-4 unit-wrap" *ngIf="SettingConForm.get('autoRefersh').value == 'Yes'">

			      			<mat-form-field>
							    <input
							    matInput
							    type="number"
							    min="0"	
							    placeholder="Refresh interval"						   
							    [value]="SettingConForm.get('customSecond').value"
							    formControlName="customSecond">
							</mat-form-field>

			        		<!-- <mat-form-field
				      			[hideRequiredMarker]="SettingConForm.get('customSecond').value"
		      					[floatLabel]="SettingConForm.get('customSecond').value">
							    <input matInput formControlName="customSecond">
						  	</mat-form-field> -->
			      		</div>
				    </div>
				    <hr>
		      		<p class="mg-0 mt-30 mb-20 font-20"> Scrolling Announcement Colors </p>
				    <div class="row">
				    	<div class="col-sm-4">
				      		<div class=" color-input">		        		
				      			<mat-form-field
					      			[hideRequiredMarker]="SettingConForm.get('announcementColor').value"
			      					[floatLabel]="SettingConForm.get('announcementColor').value">
								    <input 
								    matInput 
								    placeholder="Text Color" 
								    formControlName="announcementColor" 
								    [colorPicker]="SettingConForm.get('Appid').value"
					                [value]="SettingConForm.get('announcementColor').value"
					                [style.background]="SettingConForm.get('announcementColor').value"
					                (colorPickerChange)="SettingConForm.get('announcementColor').setValue($event)"
								    required>
							  	</mat-form-field>
				      		</div>
				      	</div>
				      	<div class="col-sm-4">
				      		<div class=" color-input">		        		
				      			<mat-form-field
					      			[hideRequiredMarker]="SettingConForm.get('announcementBgcolor').value"
			      					[floatLabel]="SettingConForm.get('announcementBgcolor').value">
								    <input 
								    matInput 
								    placeholder="Background Color" 
								    formControlName="announcementBgcolor" 
								    [colorPicker]="SettingConForm.get('announcementBgcolor').value"
					                [value]="SettingConForm.get('announcementBgcolor').value"
					                [style.background]="SettingConForm.get('announcementBgcolor').value"
					                (colorPickerChange)="SettingConForm.get('announcementBgcolor').setValue($event)"
								    required>
							  	</mat-form-field>
				      		</div>
				      	</div>
				      	<div class="col-sm-4">
				      			<mat-form-field>
								    <input
								    matInput
								    type="number"
								    min="0"
								    placeholder="Scroll Speed"
								    [value]="SettingConForm.get('scrolldelay').value"
								    formControlName="scrolldelay"
								    required>
								</mat-form-field>
						</div>
					</div>

					<hr>
		      		
		      		<div class="row">
		      			<div class="col-sm-4">

		      				<p class="mt-10 mb-20 font-20"> Footer Logo </p>
					  		<div class="form-group">
					  			<div class="image-container">
					  				<!-- <p><small>Footer Logo <span class="red-required"> * </span></small></p> -->
						            <input #AccUserImg id="image" 
						                  formControlName="Image" 
						                  type="file"
						                  [required]="!ex_footer_logo"
						                  [hidden]="true" 
						                  class="hidden" 
						                  (change)="setPreviewImage($event)"
						                  accept="image/*">
						            <button type="button" class="btn back-light-blue color-blue" #upload (click)="AccUserImg.click()">
						            	<mat-icon class="inline-block-middle mr-10"> backup </mat-icon> 
						            	<span class="inline-block-middle"> Upload Footer Logo </span>
						            </button>
						        </div>		        		
				      		</div>
				      	</div>
				      	<div class="col-sm-8 text-left">
				      		<div *ngIf="ex_footer_logo" class="footer-logo-prew">
				      			<img [defaultImage]="blurDefault" [errorImage]="noMedia" [lazyLoad]="previewImage || mediaUrl+ex_footer_logo+'?'+dateTemp" [offset]="offset" />
							</div>
						</div>
					</div>
		      	</div>
		      	<div class="col-sm-12 footer-colors">
				    
					<hr>
					<p class="mt-30 mb-20 font-20"> Footer Colors </p>
		      		<div class="row">
		      			<div class="col-sm-6">
				      		<div class="color-input">		        		
				      			<mat-form-field
					      			[hideRequiredMarker]="SettingConForm.get('footerColor').value"
			      					[floatLabel]="SettingConForm.get('footerColor').value">
								    <input 
								    matInput 
								    placeholder="Text Color" 
								    formControlName="footerColor" 
								    [colorPicker]="SettingConForm.get('Appid').value"
					                [value]="SettingConForm.get('footerColor').value"
					                [style.background]="SettingConForm.get('footerColor').value"
					                (colorPickerChange)="SettingConForm.get('footerColor').setValue($event)"
								    required>
							  	</mat-form-field>
				      		</div>
				      	</div>
				      	<div class="col-sm-6">
				      		<div class="color-input">		        		
				      			<mat-form-field
					      			[hideRequiredMarker]="SettingConForm.get('footerBgcolor').value"
			      					[floatLabel]="SettingConForm.get('footerBgcolor').value">
								    <input 
								    matInput 
								    placeholder="Background Color" 
								    formControlName="footerBgcolor" 
								    [colorPicker]="SettingConForm.get('footerBgcolor').value"
					                [value]="SettingConForm.get('footerBgcolor').value"
					                [style.background]="SettingConForm.get('footerBgcolor').value"
					                (colorPickerChange)="SettingConForm.get('footerBgcolor').setValue($event)"
								    required>
							  	</mat-form-field>
				      		</div>
				      	</div>
				    </div>

				    <hr>

					<div class="row mt-30">
						<div class="col-sm-12">
							<mat-form-field [hideRequiredMarker]="SettingConForm.get('diningAnnPostid').value"
							[floatLabel]="SettingConForm.get('diningAnnPostid').value">
								<input matInput placeholder="Dining Announcement Post ID" formControlName="diningAnnPostid" required>
							</mat-form-field>
						</div>
					</div>
			  	</div>
			  	
		  	</div>
		</form>
	</div>
</div>